[2022-08-16 09:13] Mikkelzu opened #2138 "Checkbox not showing the check icon when toggled."
Hey there,

Currently I'm using version 5.1.3 and using the checkbox it doesn't toggle the checked visibility, it does however update its checked state.

I've tried to also set the icon itself to be the <Check /> icon from tabler icons but this also does not seem to fix my issue. I also can't find anything much in the documentation on this.

Any ideas? Is there a chance I implement it wrong?

See

[2022-08-16 09:34] rtivital commented on #2138
It works as expected on codesandbox – https://codesandbox.io/s/adoring-wilson-cjkows?file=/src/App.tsx
Make sure that:
- you do not have third party libraries that override styles
- you provide correct `checked` value to Checkbox component

[2022-08-16 10:21] dipiash commented on #2059
Hello!

I have the same situation with MultiSelect.

In my case: I want to select all values and show dropdown with this value.

But this lines:
[code]
don't allow to open dropdown (after open dropdown close immediately)

[2022-08-16 11:32] labithiotis commented on #1895
This isn't just a console warning but also causing a noticeable flicker when page loads due to server side miss-match.

[2022-08-16 11:40] rtivital commented on #1895
@labithiotis provided remix template does not have such issue.

[2022-08-16 12:02] gigobyte commented on #1895
@rtivital I'm using the latest Remix template which uses `renderToPipeableStream` instead of `renderToString` and React 18 ([link](https://github.com/remix-run/blues-stack/blob/main/app/entry.server.tsx)).

I can confirm using Mantine is a big issue, the styles are not server-side rendered which results in a flash of unstyled content and a lot of layout shifts when the page loads:

![image](https:

[2022-08-16 12:14] rtivital commented on #1895
@gigobyte  `renderToPipeableStream` is not supported by emotion, see https://github.com/emotion-js/emotion/issues/2800
If you want to use Remix with Mantine, then use template (react 17, regular ssr). As far as I understand none of current css-in -js libraries support it (see styled-components as most popular library – https://github.com/styled-components/styled-components/issues/3658). So, if you

[2022-08-16 12:19] rtivital commented on #2129
See #2130 for explanation

[2022-08-16 12:19] #2129 closed

[2022-08-16 21:13] billop opened #2144 "Selecting date in DatePicker within a Popover causes Popover to close"
### What package has an issue

@mantine/dates

### Describe the bug

Selecting date in DatePicker within a Popover causes Popover to close

### What version of @mantine/hooks page do you have in package.json?

5.1.6

### If possible, please include a link to a codesandbox with the reproduced problem

https://codesandbox.io/s/fancy-architecture-ywwowr?file=/src/App.tsx

### Do you know how to fix t

[2022-08-16 21:15] rtivital commented on #2144
Set withinPortal={false} on DatePicker component – https://codesandbox.io/s/lingering-tree-k6y8uy?file=/src/App.tsx

[2022-08-16 21:15] #2144 closed

[2022-08-17 03:23] ihpannu commented on #2107
-I will submit today also having few other issues such as

- _rightSection_ icon in input renders out of the box on initial page load
- 404 doesn't render styles. After a refresh styles load back.
- Spotlight renders under the navbar to the left

Attached some screenshots for now will push an repo to show live results
 ![image](https://user-images.githubusercontent.com/26369180/185027821-67b643ff-

[2022-08-17 05:15] rtivital commented on #2107
@ihpannu are you using mantine-remix-template?

[2022-08-17 08:08] kkarwowski opened #2145 "Tooltip issue - Date Picker under Tooltip not working on @mantine 5.1.5 and 5.1.16"
### What package has an issue

@mantine/core

### Describe the bug

When placing Date Picker as a child of Tooltip - Date Picker is not getting selected when cliccked. Affected versions are 5.1.5 and 5.1.16 - earlier version of mantine/core work fine.

I have created Codesandbox to demonstrate. Changing @mantine/core package to 5.1.14 fixes Tooltip and Datepicker gets selected.

### What version o

[2022-08-17 08:18] rtivital commented on #2145
Hi @kkarwowski, you need to wrap your DatePicker with div element, unfortunately, there is not any other good way of fixing this issue – https://codesandbox.io/s/mantine-5-1-6-tolltip-and-datepicker-forked-ommnkt?file=/src/App.js

[2022-08-17 08:18] #2145 closed

[2022-08-17 13:10] Fuzkin commented on #2059
Same to me with creatable prop. Opens and closes immediately when typing to create new option.

[2022-08-17 15:45] atumas-bananamilk opened #2147 "Skeleton not working with dynamic <Text>"
### What package has an issue

@mantine/core

### Describe the bug

I made a reusable `Skeleton`, however it doesn't work with Mantine `<Text>`, if text is dynamic.
My text is coming from NextAuth user session.

Reusable skeleton:
[code]

This works (shows skeleton):
[code]

This doesn't work (doesn't show skeleton):
[code]

How can I make a reusable skeleton appear on all components I wish?

###

[2022-08-17 16:13] rtivital commented on #2147
Hi @atumas-bananamilk, please provide a codesandbox (template– https://codesandbox.io/s/mantine-template-9ze89?file=/src/App.tsx:0-6) with minimal reproducible example https://stackoverflow.com/help/minimal-reproducible-example. It is not possible to identify the issue without reproduction.

[2022-08-17 16:15] rtivital commented on #2107
React 18 is not supported with Remix template, downgrade to react 17 to solve these issues.

[2022-08-17 16:29] atumas-bananamilk commented on #2147
It's hard to replicate because I use NextAuth sessions. A delay for simulating loading session data worked fine, however, when loading NextAuth session data that's inside `<Text>` component - doesn't work. But that ONLY HAPPENS with the `<Text>` component..

[2022-08-17 17:44] rtivital commented on #2147
You do not need NextAuth session for minimal reproducible example https://stackoverflow.com/help/minimal-reproducible-example. Just create a sandbox that reproduces the issue and that we can use for debug purposes.

[2022-08-17 17:45] Tno-MSA opened #2148 "headers have different names in controls and formats"
### What package has an issue

@mantine/rte

### Describe the bug

first of all, I'm not sure if this is related to the package section or the website ¯\_(ツ)_/¯

secondly, you are using different names for headers in both controls and formats without mentioning it!
in controls, we use: `["h1", "h2", "h3", "he", ..."h6"]`
but in formats, neither of `["h1", "h2", "h3", "h4"]` or `headers` (like reac

[2022-08-17 17:59] rtivital commented on #2148
Formats prop is coming from quill, I'll add link to the docs.
https://quilljs.com/docs/formats/

[2022-08-17 18:04] ihpannu commented on #2107
@rtivital Rolled back to React 17 and Mantine 5.1.6 all same issues still persist. This app is running in production on Railway using remix/express server

[2022-08-17 18:14] Tno-MSA commented on #2148
thanks!

[2022-08-17 18:15] rtivital commented on #2107
Well, I cannot help much, if you can reproduce an issue in mantine-remix-template and send the repo I can have a look

[2022-08-17 18:41] ihpannu commented on #2107
@rtivital attached is the link to the repo using mantine-remix-template on GitHub [https://github.com/ihpannu/mantine-remix-template](url)
and link to the live site reproducing the error [https://mantine-remix-template-production.up.railway.app/](url)

[2022-08-17 18:45] bbar opened #2151 "form.resetDirty() expected behavior?"
### What package has an issue

@mantine/form

### Describe the bug

Before diving into the code, I just wanted to ask if this is expected behavior. It doesn't seem like it is, but maybe I'm using the API incorrectly.

Here's the setup. We have a form with a single field, which initially has a value of "a". Since it's not dirty, the "Save" button is disabled. The user changed the input value to "b"

[2022-08-17 19:10] rtivital commented on #2151
Hi @bbar, currently `form.resetDirty()` compares values with `initialValues`, but I think we can change the logic to make it work as you've proposed. I'll change it in the next minor release.

[2022-08-17 20:39] dipiash commented on #2059
@rtivital, hi!

Tell us please, when the new version with fix will be release?

[2022-08-18 00:08] bbar commented on #2151
@rtivital I was looking at the source and I think I have a pretty simple solution. If you wan't I can submit a PR.

If you do want a PR, I wanted to get your thoughts on direction first.

Essentially this solution would be to create some new state value called, say, `_cleanValues`. (I'm not sold on the var name and I'm very open to suggestions!)

`const [_cleanValues, _setCleanValues] = useState(v

[2022-08-18 01:38] suchintan opened #2153 "Skeleton with visible={false} and Overlay are not working well together"
### What package has an issue

@mantine/core

### Describe the bug

Reproducable scenario here:
https://codesandbox.io/s/friendly-orla-kc4tjg?file=/src/index.js

TL;DR:

[code]

An App-shell with a hidden Skeleton and a nested overlay cause the Overlay to only occupy the Navbar

![image](https://user-images.githubusercontent.com/3853670/185272825-f9405148-078b-4d81-b02e-ff98f6048370.png)

However,

[2022-08-18 01:39] suchintan commented on #2153
Deleting the `Skeleton` also makes it work as expected

[2022-08-18 06:07] wes337 commented on #1982
I can't reproduce this locally, but I _can_ see it on the [CodeSandbox ](https://codesandbox.io/s/frosty-tdd-vveo6x?file=/src/App.js:317-349) above. I tried copying the CodeSandbox example into a Storybook story, but it does not scroll.

It also seems to be fixed when we pass `transitionDuration={0}` on the `<Menu>` component as mentioned above. `transitionDuration` is not set in the `defaultProps

[2022-08-18 06:14] wes337 commented on #1962
This is caused by the `line-height: 1.15` on the `input` element. Works fine in Firefox, only visible in Chrome/Edge

[2022-08-18 06:20] rtivital commented on #2059
When I have time to publish it, you can always downgrade Mantine packages to previous versions if you experience any issues

[2022-08-18 06:22] rtivital commented on #2151
Thanks for investigation, I'll do these changes on my side

[2022-08-18 06:27] rtivital commented on #1982
No, disabling transition on Menu component is not a good solution – we still want animations. Some bugs are not reproducible in storybook, it may be a strict mode development only issue (storybook always displays prebuilt components in production mode).

[2022-08-18 06:28] rtivital commented on #1962
Thanks for investigation, it is also an issue only on Windows – works correctly in Chrome on macos

[2022-08-18 06:49] wes337 commented on #1982
Right, never mind I see what you mean now. I thought setting the transition duration to _any_ value would resolve this, but only 0 does.

[2022-08-18 08:47] #1962 closed

[2022-08-18 11:19] rtivital commented on #2151
I've completed the development, this feature will be released with 5.2.0

[2022-08-18 11:48] rtivital commented on #2148
Documentation updated.

[2022-08-18 11:48] #2148 closed

[2022-08-18 11:49] rtivital commented on #2118
Fixed in 5.1.7

[2022-08-18 11:49] #2118 closed

[2022-08-18 11:49] rtivital commented on #2104
Fixed in 5.1.7

[2022-08-18 11:49] #2104 closed

[2022-08-18 11:49] rtivital commented on #2095
Fixed in 5.1.7, now when onCreate function returns null or undefined onChange is not called

[2022-08-18 11:49] #2095 closed

[2022-08-18 11:50] rtivital commented on #2059
Fixed in 5.1.7

[2022-08-18 11:50] #2059 closed

[2022-08-18 11:55] rtivital commented on #2153
Hi @suchintan, it is expected behavior, Skeleton has position relative. Rendering Skeleton all time is required to prevent layout shifts. I recommend not to use Overlay inside Skeleton.

[2022-08-18 11:55] #2153 closed

[2022-08-18 11:56] rtivital commented on #2138
@Mikkelzu if you have any other questions or can provide a sandbox with reproduction, then feel free to reopen the issue.

[2022-08-18 11:56] #2138 closed

[2022-08-18 11:56] rtivital commented on #2006
@deep1358 if you can provide a minimal reproducible example using one of the templates, then feel free to reopen the issue.

[2022-08-18 11:56] #2006 closed

[2022-08-18 11:59] aydinvivik commented on #1895
According to the documentation, when I install the latest versions of remix and mantine, it creates many styles like in the picture and I get an error message in the console.

[code]

![Screen Shot 2022-08-18 at 14 17 24](https://user-images.githubusercontent.com/5020002/185388375-ecfddc51-7a06-49df-85a7-d412600b7473.png)

I hope a solution for the remix can be found as soon as possible.

[2022-08-18 12:06] rtivital commented on #1895
You can use mantine-remix-template, it works as expected, I doubt that there will be any solution for this any time soon as remix is very unstable – I'm not planning to waste any more time on supporting it until it become mature.

[2022-08-18 12:11] aydinvivik commented on #1895
I also tried with **mantine-remix-template** but I was getting the console error again, so I tried this as an alternative.

[2022-08-18 12:22] suchintan commented on #2153
That's interesting. So the expectation is to not use the visible property of the skeleton and just not render it instead?

I ended up scrapping this approach and used the Modals package with predefined modals instead. Do you know why the built in overlay in that doesn't conflict with skeleton?

[2022-08-18 12:22] rtivital commented on #1895
It is not an error, it is a warning, you can ignore it – everything works correctly

[2022-08-18 12:54] deep1358 commented on #2006
Okay, thanks for your support.

[2022-08-18 13:51] Tno-MSA opened #2159 "MultiSelect doesn't work with controlled react-hook-form after updating to v5.1.6"
### What package has an issue

@mantine/core

### Describe the bug

I had a working controlled `MultiSelect` (v5.0.0) field with `react-hook-form` (v7.33.1) using their `FormProvider` and `useFormContext`, but after updating to v5.1.6 and v7.34.2, this field, in particular, stopped accepting creatable values.

codesandbox link provided below

[code]

### What version of @mantine/hooks page do you

[2022-08-18 14:31] rtivital commented on #2159
Update all `@mantine/` packages to 5.1.7 and make sure you are following creatable documentation – https://mantine.dev/core/multi-select/#creatable

[2022-08-18 16:20] Tno-MSA commented on #2159
done and done, but still doesn't work for me.

[2022-08-18 16:26] bbar commented on #2151
@rtivital the changes look great. Thanks for doing that!

[2022-08-18 17:01] rtivital commented on #2159
I cannot recommend anything with react-hook-form as I do not use it, controlled component works as expected with useState and `@mantine/form` package – https://codesandbox.io/s/cocky-phoebe-6d286o?file=/src/App.tsx

[2022-08-18 17:15] #2159 closed

[2022-08-18 18:16] rtivital commented on #2151
Released in 5.2.0

[2022-08-18 18:16] #2151 closed

[2022-08-19 08:19] PhantomKnight287 opened #2165 "Long Text in `use-debounced-value` hook's playground enables horizontal scroll"
### Link to the page where something nasty is located

https://mantine.dev/hooks/use-debounced-value/

### Exact quote of what is wrong

If you type something very long in the Input box, the text will overflow the container and page resulting in a horizontal scroll.
Example:
![image](https://user-images.githubusercontent.com/76196237/185576172-b60199f4-8b8f-4e2f-a91d-e7613d45c976.png)

### Are you

[2022-08-19 08:50] SamuelLin95 opened #2166 "Modal transition not working"
### What package has an issue

@mantine/modals

### Describe the bug

Opening the modal with transition effect does not work anymore. I have also tried the examples from the main website https://mantine.dev/core/modal/ section "Change transitions". They do not work as well.

### What version of @mantine/hooks page do you have in package.json?

5.1.6

### If possible, please include a link to a cod

[2022-08-19 09:16] fynngoettert opened #2167 "Multiselect new value not creatable by pressing enter"
### What package has an issue

@mantine/core

### Describe the bug

I've use @mantine/core@4.2.2 in a project but needed to update to the newest version (5.1.7) for the new popup mechanics.

In Version 4.2.2 in the Multiselect I could press enter when creating a new value and it directly created the value, but in the new version I have to click the create label to create the new value or press arr

[2022-08-19 09:40] rtivital commented on #2166
Modal transitions work as expected, most likely you are not seeing them because of your OS settings, if you want to disregard user reduced motion preference, you can change that in theme – https://mantine.dev/theming/theme-object/#respectreducemotion

[2022-08-19 09:43] #2167 closed

[2022-08-19 09:47] SamuelLin95 commented on #2166
Oh wow. I didn't know such option existed. It is working as expected now. Thanks a lot!

[2022-08-19 09:47] #2166 closed

[2022-08-19 10:26] svrakata opened #2168 "Dropzone file browser doesn't open after click or manual call on Chrome"
### What package has an issue

@mantine/dropzone

### Describe the bug

Trying my own implementation and the docs examples.
Manual call `openRef.current()` is not working too.
Works fine with Firefox.
OS: Linux Mint 20.3
Chrome: Version 104.0.5112.101 (Official Build) (64-bit)

### What version of @mantine/hooks page do you have in package.json?

5.2.0

### If possible, please include a link to a

[2022-08-19 10:46] rtivital commented on #2168
Hi @svrakata, dropzone demo works as expected on mantine documentation website – https://mantine.dev/others/dropzone/#open-file-browser-manually

Please provide a codesandbox (template– https://codesandbox.io/s/mantine-template-9ze89?file=/src/App.tsx:0-6) with minimal reproducible example https://stackoverflow.com/help/minimal-reproducible-example. It is not possible to identify the issue without

[2022-08-19 10:54] fynngoettert commented on #2167
Alright, thank you.

[2022-08-19 11:13] ryuhangyeong commented on #2165
## Issue

#2165

## Description

When I looked into this problem, I thought it was a problem with the Text component rather than the fault of Mantine's documentation.

In addition to the page mentioned in the issue, the same thing happens to all other pages that use the Text component.

### Card

https://mantine.dev/core/card/

![image](https://user-images.githubusercontent.com/27342882/185605886-

[2022-08-19 11:21] rtivital commented on #2165
The issue is with use-debounce demo only, Text component works as expected

[2022-08-19 11:26] ryuhangyeong commented on #2165
OK

[2022-08-19 11:39] svrakata commented on #2168
Hello @rtivital , thanks for the reply.
I guess it's related to this [issue](https://github.com/react-dropzone/react-dropzone/issues/1190) and cannot be helped.

[2022-08-19 12:45] nammi-kobler commented on #2127
Which element did you add this to?

[2022-08-19 13:04] rtivital commented on #2127
@nammi-kobler set `withGlobalStyles` and `withNormalizeCSS` on MantineProvider.

[2022-08-19 13:05] rtivital commented on #2168
Okay, I guess it is react-dropzone issue then.

[2022-08-19 13:05] #2168 closed

[2022-08-19 14:29] vatana7 opened #2171 "Install Dependencies Text overlap copy button"
### Link to the page where something nasty is located

https://mantine.dev/guides/next/

### Exact quote of what is wrong

![image](https://user-images.githubusercontent.com/61142258/185640550-65828cea-4a2e-4cde-a543-bed9f746a7f1.png)

The copy button is overlapped by the text and I think we can avoid that by giving a background color to the Copy button.

### Are you willing to create pull request

[2022-08-19 14:32] rtivital commented on #2171
Hi  @vatana7, feel free to send a PR, I suppose we should add a background color to copy button.

[2022-08-19 14:33] vatana7 commented on #2171
Will do!

[2022-08-19 15:18] vatana7 commented on #2171
May I ask where is the web repo for Mantine website?

[2022-08-19 15:26] rtivital commented on #2171
In this repository

[2022-08-19 17:10] jolebas opened #2173 "Autocomplete does not work on Firefox Mobile"
### What package has an issue

@mantine/core

### Describe the bug

On Firefox Mobile the SPACE key doesn't work in the Autocomplete, The first time you press nothing happens, the second time it deletes the text already typed.

### What version of @mantine/hooks page do you have in package.json?

5.2.0

### If possible, please include a link to a codesandbox with the reproduced problem

_No respon

[2022-08-19 18:02] rtivital commented on #2173
Hi @jolebas, here is the list of browsers that we officially support – https://mantine.dev/pages/about/#browser-support
Firefox mobile has 0.3% of usage, so it does not make much sense to maintain it on our side. If you know how to fix the issue, then feel free to submit a PR. Otherwise, I doubt that it will be solved.

[2022-08-19 22:51] jvllmr opened #2175 "Misleading description for Container fluid prop"
### What package has an issue

@mantine/core

### Describe the bug

https://github.com/mantinedev/mantine/blob/8a2b20e7388d66fbb911c15f872ad1a545dd2e3b/src/mantine-core/src/Container/Container.tsx#L15

"always take 100% of width" makes me think that the Container has the css prop `width: 100%`, but in reality it has `max-width: 100%`. It took me 10 minutes and the devtools to find out that it foll

[2022-08-20 04:26] MariuzM opened #2176 "Mantine + Tailwind issue"
### What package has an issue

@mantine/core

### Describe the bug

When using Mantine + Tailwind in my project, then importing Mantine Button component the Button does not have background only when hovering i see the background color.

![Screen Shot 2022-08-20 at 11 24 18](https://user-images.githubusercontent.com/36937039/185728831-44029d1b-7b76-4435-8801-a826709e15ae.jpg)

If i remove `@tailwin

[2022-08-20 05:51] rtivital commented on #2175
Can you send a PR with a fix?

[2022-08-20 05:52] rtivital commented on #2176
Hi @MariuzM, you've installed a third-party library to your project that overrides Mantine styles. To fix that issue, either remove those styles or change emotion cache options to make Mantine styles override third-party library styles – https://mantine.dev/theming/emotion-cache/

[2022-08-20 05:56] MariuzM commented on #2176
The way i have done it is

    <MantineProvider withGlobalStyles withNormalizeCSS>
      <App />
    </MantineProvider>

Then disabled `/* @tailwind base; */` in index.css

[2022-08-20 05:57] MariuzM commented on #2176
But also tried your suggestion also worked thank you

[2022-08-20 05:57] #2176 closed

[2022-08-20 07:31] jvllmr commented on #2175
Of course, will create it asap

[2022-08-20 11:36] #2175 closed

[2022-08-20 11:41] Narcha opened #2180 "Title component does not respect inline=true"
### What package has an issue

@mantine/core

### Describe the bug

A `<Title inline>` element does not set `line-height` to 1 because the property is defined twice.
![grafik](https://user-images.githubusercontent.com/42248344/185744225-9810b15e-62c9-4b16-b0f3-c8986bf9a864.png)

### What version of @mantine/hooks page do you have in package.json?

5.2.0

### If possible, please include a link to a

[2022-08-20 15:42] rtivital commented on #2180
Do you want to create a PR with a fix?

[2022-08-20 15:43] Narcha commented on #2180
I think I'll give this a try.

[2022-08-20 15:58] Narcha commented on #2180
Am I missing something, or does this if statement not do anything?
https://github.com/mantinedev/mantine/blob/0326f9b75525a1acebaf69ae569c7b4b394a6fd3/src/mantine-core/src/Title/Title.styles.ts#L21-L25
Or is line 22 supposed to say `return theme.headings.sizes[size].lineHeight;`?

[2022-08-20 18:43] rtivital commented on #2180
Yep, that is an error

[2022-08-20 19:14] Narcha commented on #2180
I'll fix that in the PR as well if that's ok

[2022-08-20 19:48] wes337 commented on #2165
Just add `overflow-wrap: break-word;` to the div wrapper in the "usage" demo:
![image](https://user-images.githubusercontent.com/9464690/185763849-52ab0dcb-94a9-4d1d-88fe-a87262eabde4.png)

[2022-08-20 20:02] #2180 closed

[2022-08-21 00:39] ryuhangyeong commented on #2165
@wes337 Thank you. I will write a PR based on your advice.

[2022-08-21 01:37] peterbe opened #2186 "event.preventDefault() not respected inside <Tabs.Tab>"
### What package has an issue

@mantine/core

### Describe the bug

See demo link.

[code]
When I click on the text "Messages" I want that to be registered as a tab click. Just like browser tabs.
But when I click the "X" I want to NOT switch to the "Messages" tab but instead write some NextJS router redirecting code that removes that tab. It kinda works, but clicking the "X" first causes the "Mess

[2022-08-21 05:32] #2165 closed

[2022-08-21 05:33] rtivital commented on #2186
It works as expected in your sandbox – default behavior is prevented, when anchor is clicked the url does not change.

[2022-08-21 08:04] zhulien-ivanov commented on #2186
You're looking for `event.stopPropagation`, not `event.preventDefault`.

[2022-08-21 10:17] SirJager opened #2190 "Module not found: Can't resolve 'dayjs"
### What package has an issue

@mantine/dates

### Describe the bug

Error:-
Browser
[code]

terminal
[code]

[code]

src/components/calendar/Calendar.tsx
[code]

src/pages/app/calendar.tsx
[code]

### What version of @mantine/hooks page do you have in package.json?

^5.1.6

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know how to f

[2022-08-21 10:20] SirJager commented on #2190
My fault.  just needed this "npm i dayjs"

[2022-08-21 10:20] #2190 closed

[2022-08-21 12:24] #2186 closed

[2022-08-21 14:48] guynaa opened #2191 "DropZone"
### What package has an issue

@mantine/dropzone

### Describe the bug

Dropzone does not accept zip files on drag-n-drop when the appropriate mime type is selected (application/zip)

this happens on windows on both chrome/fireox

on mac, it works fine

### What version of @mantine/hooks page do you have in package.json?

5.2.0

### If possible, please include a link to a codesandbox with the repr

[2022-08-21 14:59] rtivital commented on #2191
Hi @guynaa, try using different zip mime types – https://stackoverflow.com/a/7027582

[2022-08-21 15:13] guynaa commented on #2191
@rtivital thanks, when i added those it did accept .zip files on windows as well,
1) why does it work differently on windows/mac?  (is this a mantine bug?)

2) what are the correct mimes to accept files, if i want to only accept .zip files? (the original list accepts .bin as well for example)

[2022-08-21 16:32] andremonteiro95 commented on #2107
Is supporting React 18 w/ Remix on the roadmap?

[2022-08-21 16:51] #2191 closed

[2022-08-21 17:02] rtivital commented on #2107
In a long term – maybe, in short term – no. With current remix direction (server streaming as default) I doubt that it will worth the effort to support remix at all. As for current state – remix feels very unstable – we've already had to change ssr logic twice in the past 6 months, so I'm not planning to work on it any time soon until remix becomes at least a little more mature (in terms of css-in

[2022-08-21 18:54] andremonteiro95 commented on #2176
@MariuzM you don't have to remove the `@tailwind base;` import as it will probably create undesired side effects, you can just exclude Tailwind's preflight styles (https://tailwindcss.com/docs/preflight) in its configuration file (`tailwind.config.js`).

[code]

[2022-08-21 21:34] Slapbox opened #2193 "Nested tooltips don't function as intended"
### What package has an issue

@mantine/core

### Describe the bug

Nested tooltips seem to inherit each-others properties leading to buggy behaviors or not showing at all.

See the linked [demo](https://codesandbox.io/s/optimistic-meadow-95x4i9) where we attempt to nest a clickable Tooltip inside of a hoverable Tooltip, and instead neither fires.

### What version of @mantine/hooks page do you ha

[2022-08-22 00:26] suchintan commented on #2153
@rtivital I worked around this by wrapping my Skeleton in a conditional render. I was wondering if it would be possible to have the `visible` parameter just do something like that under the hood instead. What do you think?

[code]

[code]

[code]

[2022-08-22 00:37] Perrottarichard opened #2195 "Flash of Unstyled Content using Mantine with Gatsby"
### What package has an issue

@mantine/core

### Describe the bug

I'm not sure if it's a bug, or if I'm not doing something correctly.  I using the gastby-plugin-mantine, but still have a terrible FOUC when loading the page.  The issue can be seen here: [https://mangolattemantinemaster.gtsb.io/](https://mangolattemantinemaster.gtsb.io/)

relevant package.json:
  "dependencies": {
    "@emotion/r

[2022-08-22 01:03] ihpannu commented on #2107
@rtivital do you recommend porting over to Next.js? we cannot afford to change the UI lib at the moment and given the mantine/remix plan it doesn't seem ideal to continue using the broken framework on the production level

[2022-08-22 06:04] rtivital commented on #2195
Hi @Perrottarichard, you have broken ssr, make sure that:
- you are following Gatsby getting started guide precisely
- you have the latest versions of each `@mantine/` package

If that does not help:
- See mantine-gatsby-template as reference – https://github.com/mantinedev/mantine-gatsby-template
- Or try implementing ssr logic the same way as in mantine.dev website – https://github.com/mantinede

[2022-08-22 06:06] rtivital commented on #2107
Well, it's up to you, I have several next.js app running in production without any issues built with Mantine.

[2022-08-22 06:11] intelseb opened #2197 "Mantine Select dropdown popup always appears with a horizontal scroll bar."
### What package has an issue

@mantine/core

### Describe the bug

Not sure how to access the styles for the Dropdown items because it hides on all clicks,

The dropdown seems to appear with a horizontal scrollbar always, it looks like the content (width) of the dropdown itself is larger than the Select width.

![Screen Shot 2022-08-22 at 2 10 03 pm](https://user-images.githubusercontent.com/9906

[2022-08-22 06:13] rtivital commented on #2197
Add withNormalizeCSS and withGlobalStyles to your MantineProvider – https://codesandbox.io/s/mantine-forked-oe191s?file=/src/App.tsx

[2022-08-22 06:46] intelseb commented on #2197
ah well this is embarrassing, thanks!

[2022-08-22 06:46] #2197 closed

[2022-08-22 06:53] mcmxcdev opened #2200 "Fixed version of `embla-carousel-react` is required in peer dependencies rather than range of versions"
### What package has an issue

@mantine/carousel

### Describe the bug

A specific version of `embla-carousel-react` is required here https://github.com/mantinedev/mantine/blob/master/src/mantine-carousel/package.json#L27

Projects with strict peer dependencies setting will fail once `embla-carousel-react` version diverges.

It would be better to allow `^` so that patch and minor versions can be u

[2022-08-22 07:08] foxxycodes opened #2201 "SpotLight actions state not properly changing"
### What package has an issue

@mantine/spotlight

### Describe the bug

While dynamically changing `actions` via `registerActions` does not change the `actions` returned from the `use-spotlight`-hook.
I think the issue here might be, that I'm calling `removeActions` and right after `registerActions`...

### What version of @mantine/hooks page do you have in package.json?

5.2.0

### If possible,

[2022-08-22 07:14] ihpannu commented on #2107
@rtivital Thank you for advice

[2022-08-22 07:44] rtivital commented on #2201
Hi @foxxycodes, please provide an example of code that causes the issue

[2022-08-22 09:27] foxxycodes commented on #2201
Hi @rtivital, I added an example.

[2022-08-22 09:47] mcmxcdev opened #2202 "`styles` prop on `Accordion.Item` doesn't seem to do anything"
### What package has an issue

@mantine/core

### Describe the bug

I am trying to style `Accordion.Item` different based on if it contains a selected checkbox inside it or not.

According to provided mantine Typescript types this should work:

[code]

But I can't seem to make it change styles at all. It also doesn't look like it is supported in the documentation:
https://mantine.dev/core/accordio

[2022-08-22 10:33] rtivital commented on #2202
It is expected behavior, you need to add styles to Accordion component, not Accordion.Item.

[2022-08-22 10:33] #2202 closed

[2022-08-22 11:15] Hyper-Development commented on #2201
@foxxycodes @rtivital I have the same issue.

[2022-08-22 11:24] peterbe commented on #2186
The bug was that I initially had, say, "Gallery" as the active tab. But when I click on the "X" within the "Messages" tab, I did not want the "Messages" tab to be clicked/highlighted.

Good catch! Thank you.
Fixed in https://codesandbox.io/s/vigorous-sound-lj2ctz?file=/src/App.tsx

Now, technically, I'll need to do more in that `onClick` on that `<a>` inside the `<Tabs.Tab>` but that's fine.

[2022-08-22 14:45] Perrottarichard commented on #2195
Thank you for your quick response. I will try these :)

[2022-08-22 15:37] Perrottarichard commented on #2195
Resolved:

- Originally I cloned the template @ [https://github.com/mantinedev/mantine-gatsby-template](https://github.com/mantinedev/mantine-gatsby-template)

- The only major change I made to the template code is I removed Typescript.

- I'm not sure if there is a problem with the gatsby-plugin-mantine because I added a gatsby-ssr.js file with the same content as [https://github.com/mantinedev/m

[2022-08-22 16:52] #2195 closed

[2022-08-22 18:08] reyzitwo opened #2206 ""@mantine/core" does not work in conjunction with React Native macOS App"
### What package has an issue

@mantine/core

### Describe the bug

I created an application according to the [instructions](https://microsoft.github.io/react-native-windows/docs/0.64/rnm-getting-started), added packages using the command:
`yarn add @mantine/core @mantine/hooks @emotion/react`

When trying to import any component, an error occurs that react-dom is missing from node_modules, the in

[2022-08-22 18:24] Slapbox commented on #2193
@rtivital could you comment on whether should nested tooltips work or should we back out of transitioning to Mantine's tooltips?

I assume they should work since you removed "review required"?

[2022-08-22 18:50] rtivital commented on #2193
Yes, I will try to resolve this, not sure if it is possible yet

[2022-08-22 20:31] rtivital commented on #2206
Hi @reyzitwo, Mantine does not support react-native, it can be used with react-dom only (web). If you want to build a desktop application and still use Mantine I can recommend using Electon or tauri.

[2022-08-22 23:19] adri1wald commented on #770
Hey @rtivital, would be awesome if you could make withFocusReturn dynamic. My use case is under certain circumstances I do want the focus to return when I close the modal, but other time I don't. E.g. in my modal there is an action that closes the modal and renders an input the main part of my app. This input should be focused after closing the modal. However, when the modal is closed through with

[2022-08-23 06:04] rtivital commented on #770
I'll make it dynamic without function in next patch

[2022-08-23 06:57] reyzitwo commented on #2206
Thank you tried tauri, everything works!

[2022-08-23 06:57] #2206 closed

[2022-08-23 12:10] tlqvst opened #2211 "Multiple Radio inputs can't be tabbed between"
### What package has an issue

@mantine/core

### Describe the bug

When using multiple <Radio.Group>'s, you can only tab to the first group, or the last one if you're tabbing from below. I think this means forms with multiple radio groups aren't fully accessible, unless I'm missing something. See the demo link.

### What version of @mantine/hooks page do you have in package.json?

5.2.2

### If p

[2022-08-23 12:16] rtivital commented on #2211
Hi @tlqvst, like in regular html inputs with type="radio" it is required to set name on those inputs in order for them to work correctly – https://codesandbox.io/s/mantine-multiple-radio-inputs-forked-qm5sr6?file=/src/App.tsx

[2022-08-23 12:22] tlqvst commented on #2211
Thank you so much!

[2022-08-23 12:22] #2211 closed

[2022-08-24 02:07] dasveloper opened #2219 "Fix nested pre/code styles with TypographyStylesProvider"
### What package has an issue

@mantine/core

### Describe the bug

When converting Markdown to HTML code blocks like this:

\```
{
  "firstName": "John",
  "lastName": "Smith",
  "age": 25
}
\```

is converted to nested pre/code tags like this:
[code]

When that HTML is wrapped in a TypographyStylesProvider, inline code styles are applied to the code tags and then block code styles are applied to

[2022-08-24 03:11] sep2 opened #2220 "RingProgress should not render Tooltip if no tooltip is provieded"
### What package has an issue

@mantine/core

### Describe the bug

In our grid we render a large number of `RingProgress` components but did not provide `tooltip` in the `sections` props, however in the [code](https://github.com/mantinedev/mantine/blob/42098c2bc6b8eb40f071a073fbeb46202004cf08/src/mantine-core/src/RingProgress/Curve/Curve.tsx#L37) there is no way to avoid the extra tooltip compone

[2022-08-24 09:20] sep2 commented on #2220
[This issue](https://github.com/mantinedev/mantine/discussions/1919) maybe related and could possibly be fixed in one go.

[2022-08-24 09:41] rtivital commented on #2200
fixed in 5.2.3

[2022-08-24 09:41] #2200 closed

[2022-08-24 10:51] Nzent commented on #332
Also, add a year picker too if you have time 👍

[2022-08-24 21:46] dipiash commented on #1982
I have the same situation with Select / MultiSelect components. Any ideas how to solve?

[2022-08-24 22:37] dipiash commented on #1982
Example for https://github.com/mantinedev/mantine/issues/1982#issuecomment-1226433167 from page https://mantine.dev/core/select/#animations

https://user-images.githubusercontent.com/14073668/186535705-4f9b3e82-324b-41af-866c-1fc843e57b69.mov

[2022-08-24 23:46] wildsonc opened #2226 "Select with ScrollArea"
### What package has an issue

@mantine/core

### Describe the bug

The dropdown is getting hidden when passing the ScrollArea maxHeight, is it possible for it to be visible?

<img width="291" alt="image" src="https://user-images.githubusercontent.com/72408418/186541941-7c0a966c-5ac3-4de5-9ee2-10af1b20485e.png">

### What version of @mantine/hooks page do you have in package.json?

5.2.0

### If p

[2022-08-25 00:49] Slapbox opened #2227 "NotAllowedError - Document is not focused"
### What package has an issue

@mantine/core

### Describe the bug

I'm not clear on what exactly causes this, but it's somehow related to our use of Mantine's tooltips (we've never seen the error before we started using them.)

It may be related to using `events={ focus: true }` but I'm not certain.

Note that all 5 errors in the logbox are the same error, "Document is not focused."

![image](htt

[2022-08-25 06:01] rtivital commented on #2226
https://codesandbox.io/s/interesting-wilson-zh0s0b

[2022-08-25 06:01] #2226 closed

[2022-08-25 06:02] rtivital commented on #2227
Hi @Slapbox, please provide a sandbox or repository with minimal reproduction

[2022-08-25 08:47] jfilby opened #2232 "onChange event isn't triggered when clearing a Select"
### What package has an issue

@mantine/core

### Describe the bug

There are two ways to clear a Select:
- Reselect the selected item
- Click the x icon on the right-side of the Select

Neither approach fires the onChange event.

### What version of @mantine/hooks page do you have in package.json?

^5.1.0

### If possible, please include a link to a codesandbox with the reproduced problem

_No re

[2022-08-25 09:06] rtivital commented on #2232
Select component works as expected on codesandbox – https://codesandbox.io/s/restless-dawn-frv2ly?file=/src/App.tsx

[2022-08-25 11:04] jfilby commented on #2232
It was my own error in a more complex function. But thanks for reviewing the issue!

[2022-08-25 11:04] #2232 closed

[2022-08-25 11:36] vipindigiqt opened #2234 "`@mantine/dropzone` not working with `Ubuntu 22.04.1` LTS + Chrome 104.x"
### What package has an issue

@mantine/dropzone

### Describe the bug

Dropzone isn't working properly on the mentioned version of Ubuntu 22 + Chrome

However, it works perfectly on Firefox.

Chrome :- Version 104.0.5112.101 (Official Build) (64-bit)

Ubuntu :- Ubuntu 22.04.1 LTS

### What version of @mantine/hooks page do you have in package.json?

5.0.2

### If possible, please include a link t

[2022-08-25 12:45] rtivital commented on #2234
Issue with react-dropzone, not Mantine – https://github.com/react-dropzone/react-dropzone/issues/1222

[2022-08-26 07:07] ryuhangyeong opened #2239 "Is it possible to change the ScrollHideDelay value in a Prism component?"
### What package has an issue

@mantine/core

### Describe the bug

It seems that the Prism component is using the ScrollArea component as the default component by default. So, how can I change the ScrollHideDelay value of the ScrollArea component?

### What version of @mantine/hooks page do you have in package.json?

5.2.3

### If possible, please include a link to a codesandbox with the reproduc

[2022-08-26 11:18] rfdrake27 opened #2242 "useFocusTrap does not work with carousel"
### What package has an issue

@mantine/carousel

### Describe the bug

If you set useFocusTrap() within a <Carousel.Slide>, the focus trap will not work. Instead, the focus will cycle through all of the slides, and it will cause a layout shift in the slides, throwing off their alignment.

### What version of @mantine/hooks page do you have in package.json?

5.2.3

### If possible, please include

[2022-08-26 11:43] hornta opened #2243 "Missing TypeScript typings for color shadings in <Text>"
### What package has an issue

@mantine/core

### Describe the bug

The `<Text>` component color type `MantineColor` has only the base color names as possible colors. It would be good to extend that type with the different color shades.

I found out I could write `<Text color="red.7">` but I had no idea I could do that since the types didn't include this color shade.

[2022-08-26 12:12] rtivital commented on #2243
See https://github.com/mantinedev/mantine/pull/2130#issuecomment-1216558970

[2022-08-26 12:12] #2243 closed

[2022-08-26 15:20] joelzwarrington opened #2246 "`useForm` hook documentation is out of date with what's on master"
### Link to the page where something nasty is located

https://mantine.dev/form/use-form

### Exact quote of what is wrong

These methods don't exist, and seem to have been changed to `resetDirty` and `resetTouched` but https://github.com/mantinedev/mantine/blob/master/docs/src/docs/form/use-form.mdx is up to date

### Are you willing to create pull request with the fix?

No

[2022-08-26 15:25] rtivital commented on #2246
The issue is fixed, just not deployed yet

[2022-08-26 21:44] paulgpeterson commented on #724
Here's another question for you. It looks like the above problems were solved by adding `height: "calc(100vh - 40px)"`, but this is still using a fixed height. Looking through the [Navbar.Section](https://mantine.dev/core/app-shell/#navbar-with-custom-scrollbars) example as well, the `<Navbar />` itself has a fixed height of `600`.

My problem is that I want to have a ScrollArea within a dropdown

[2022-08-26 21:59] paulgpeterson commented on #724
[This question on Stack Overflow](https://stackoverflow.com/questions/10980822/scrollbar-without-fixed-height-dynamic-height-with-scrollbar) yielded a solution that helped me. Checkout the [JS Fiddle Example here](http://jsfiddle.net/xXJD25/wkpw8wcc/).

To solve my problem, I removed `<ScrollArea />` and used a `<Box />` with the following styles (as given by the JS Fiddle example):

[code]

Now I

[2022-08-27 01:57] coltoneshaw commented on #2234
@rtivital - In that GH issue they suggestion `useFsAccessApi` to false. Do we have any way to set this through the dropzone Mantine library? I'm using electron with macOS and hitting what seems to be a similar issue. Still debugging it. When I console.log the file object returned from `onDrop` it seems the `path` property is an empty string. It worked in v4.x. I'm working on upgrading my app to Ma

[2022-08-27 05:44] rtivital commented on #724
@paulgpeterson We provide `ScrollArea.Autosize` component that does the same thing – https://mantine.dev/core/scroll-area/#scrollareaautosize

[2022-08-27 05:47] rtivital commented on #2234
@coltoneshaw I can change that, but, unfortunately, I do not have any device to test that it works as expected, maybe you would want to validate this and send a PR?

[2022-08-27 07:30] nmay231 commented on #2234
@rtivital This is the same bug as described in a [discord post](https://discord.com/channels/854810300876062770/1011822252611883038). Setting `useFsAccessApi` to false does resolve the issue (I use Ubuntu 22.04 as well), but it has some potential issues for `onFileDialogCancel` as [seen here](https://react-dropzone.js.org/#file-dialog-cancel-callback). It's up to you to decide if it's worth the tr

[2022-08-27 07:30] nmay231 commented on #2234
@rtivital This is the same bug as described in a [discord post](https://discord.com/channels/854810300876062770/1011822252611883038). Setting `useFsAccessApi` to false does resolve the issue (I use Ubuntu 22.04 as well), but it has some potential issues for `onFileDialogCancel` as [seen here](https://react-dropzone.js.org/#file-dialog-cancel-callback). It's up to you to decide if it's worth the tr

[2022-08-27 10:45] coltoneshaw commented on #2234
@rtivital - I'm more than happy to test any fix for this, just let me know.

[2022-08-27 12:22] Meierschlumpf opened #2250 "Dropzone should use FileWithPath of react-dropzone instead of File"
### What package has an issue

@mantine/dropzone

### Describe the bug

The wrong type for the onDrop method is used. It's currently File which does not contain a key for path.
For more infos see [here](https://stackoverflow.com/questions/55728316/file-object-does-not-have-a-path-property-typescript).

### What version of @mantine/hooks page do you have in package.json?

5.2.3

### If possible, pl

[2022-08-27 14:06] rtivital commented on #2234
Yeah, sure @coltoneshaw, I would appreciate your help with this

[2022-08-27 15:09] rtivital commented on #2147
Hi @atumas-bananamilk, if you can provide a reproduction, feel free to reopen the issue

[2022-08-27 15:09] #2147 closed

[2022-08-27 15:28] rtivital commented on #2220
Fixed in 5.2.4

[2022-08-27 15:28] #2220 closed

[2022-08-27 15:28] rtivital commented on #2219
Fixed in 5.2.4

[2022-08-27 15:28] #2219 closed

[2022-08-27 15:28] rtivital commented on #2171
Fixed in 5.2.4

[2022-08-27 15:28] #2171 closed

[2022-08-27 15:29] rtivital commented on #2108
Fixed in 5.2.4

[2022-08-27 15:29] #2108 closed

[2022-08-27 19:38] Slapbox commented on #2193
My example presumed that `focus` would fire in response to click events, which was mistaken. Here's an updated repro

https://codesandbox.io/s/inspiring-snow-zh1y16?file=/src/App.tsx

Note that the nested tooltips can work if the top level tooltip is a controlled component. I wonder if that might help point to a fix for nested use cases.

[2022-08-27 20:01] teaguestockwell opened #2255 "@mantine/ds mantine svg icon is not round"
### What package has an issue

@mantine/core

### Describe the bug

Hello,

I would like to add the Mantine icon to simple icons. While doing this, I noticed that the svg icon appears to be very slightly out of round. Is this expected? If not is there another source that I should use for this? Thanks 😄

https://github.com/simple-icons/simple-icons/pull/7633

### What version of @mantine/hooks page

[2022-08-27 20:56] rtivital commented on #2255
Well, yeah, it is not perfectly round, if you want you can resize it in figma or other editor that supports svg

[2022-08-28 07:41] igorovic commented on #2119
Hi,

I managed to make it work after many trials. Here is an example repo if it could help anyone facing the same issue.

[https://github.com/igorovic/mantine-prepend-issue](https://github.com/igorovic/mantine-prepend-issue
)

[2022-08-28 07:44] LitoMore commented on #2255
@teaguestockwell You could pick the icon from https://github.com/mantinedev/mantine/blob/f2da0287bfcda19dcf7866f4d03a05d1ee7b49f7/docs/src/images/logo.svg for Simple Icons.

The circle here is the correct one:

[code]

[2022-08-28 08:09] rtivital commented on #2119
Great, thanks for investigation! I'll see whether we can add this to emotion cache documentation.

[2022-08-28 09:03] LitoMore commented on #2255
### Out of this topic

We are using `163` as `height` for the `viewBox`. Maybe we could use another more friendly value (like `240`, `240` can be divided by `[2, 3, 4, 5, 6, 8, 10, 12, ...]`) instead.

[2022-08-28 10:00] AntoninHuaut commented on #2173
I can't reproduce the problem with Firefox Mobile, the Autocomplete component (or MultiSelect with autocomplete) seems to work perfectly.

[2022-08-28 10:27] jolebas commented on #2173
How bizarre. If I go right now in FF mobile on https://mantine.dev/core/autocomplete/ I can recreate

[2022-08-28 16:08] mkroemer opened #2266 "use-local-storage always returns the initial value"
### What package has an issue

@mantine/hooks

### Describe the bug

I try to use the localStarage hook but after each page reload, the storage is set to the default values. Codesandbox is attached.

[code]

### What version of @mantine/hooks page do you have in package.json?

5.2.4

### If possible, please include a link to a codesandbox with the reproduced problem

https://codesandbox.io/s/excit

[2022-08-28 17:15] pdevito3 opened #2268 "`hovered` option on Autocomplete does not respect passed classnames"
### What package has an issue

@mantine/core

### Describe the bug

When using the `hovered` property on the autocomplete control, the classes passed are not honored. In the code sandbox example posted here, I'd expect the hover background to be red and it isn't.

### What version of @mantine/hooks page do you have in package.json?

5.2.3

### If possible, please include a link to a codesandbox wi

[2022-08-28 17:26] 7iomka opened #2270 "Tooltip not working on mobile devices"
### What package has an issue

@mantine/core

### Describe the bug

It is expected behavior when any tooltips not working on mobile devices?
It not opening on real mobile device (in my case xiaomi redmi note 7 pro), nor in chrome devtools in mobile mode.

### What version of @mantine/hooks page do you have in package.json?

latest

### If possible, please include a link to a codesandbox with the r

[2022-08-28 18:20] zhulien-ivanov commented on #2270
You have to allow `touch` event throught the `events` property of `Tooltip` - https://mantine.dev/core/tooltip/#change-events.

[2022-08-28 19:38] #2270 closed

[2022-08-28 20:03] rtivital commented on #2268
Thanks for reporting, `hovered` and other outdated selectors will be removed from styles api table in next patch

[2022-08-28 20:09] rtivital commented on #2266
@zhulien-ivanov, seems like this is caused by your changes, can you have a look?

[2022-08-28 20:25] pdevito3 commented on #2268
Gotcha. Is that in the docs anywhere? Didn't see it on the notes for the components or even the styles api page

[2022-08-28 21:39] zhulien-ivanov commented on #2266
The hook itself works fine: https://codesandbox.io/s/admiring-varahamihira-w0h1wk?file=/src/App.tsx. It is caused by the interaction between `useForm` and/or `debounced` somehow, I'll have to investigate.

By the way, the reported version is `5.2.4` but the sandbox you provided uses `5.2.3`. When were the changes to the hook released @rtivital ?

[2022-08-28 21:54] zhulien-ivanov commented on #2266
I just checked and the problem is introduced in `5.1.4`:

Version `5.1.3`: https://codesandbox.io/s/sleepy-hodgkin-77f8g4?file=/src/App.tsx
Version `5.1.4`: https://codesandbox.io/s/eloquent-sunset-w5ip3q?file=/src/App.tsx

[2022-08-29 03:36] pdevito3 opened #2271 "`NumberInput` submits form when using custom increment/decrement controls"
### What package has an issue

@mantine/core

### Describe the bug

The docs show being able to add custom increment/decrement controls, but I don't see how these can functionally be used inside a form as they submit the form onClick.

<details>
  <summary>Code Example (snapshot from code sandbox)</summary>

[code]

</details>

### What version of @mantine/hooks page do you have in package.json?

[2022-08-29 05:32] mkroemer commented on #2266
Thank you, I checked and can confirm that `getInitialValueInEffect: false` solves the issue.

[2022-08-29 06:58] rtivital commented on #2266
Okay, great, thanks for investigation @zhulien-ivanov!

[2022-08-29 06:58] #2266 closed

[2022-08-29 06:59] rtivital commented on #2271
https://codesandbox.io/s/mantine-quirks-forked-22oucq?file=/src/App.tsx

[2022-08-29 06:59] #2271 closed

[2022-08-29 12:46] AdisonCavani opened #2274 "Color scheme flicker when color-scheme is dark (localstorage)"
### What package has an issue

@mantine/core

### Describe the bug

Steps to reproduce:
- open [mantine.dev](https://mantine.dev) in incognito window without any extensions
- page loads with light theme
- click theme icon in top right corner in order to switch theme to dark
- refresh page, see - page loads in light theme and flickers to dark

This also happens on my website (also using localstorag

[2022-08-29 12:53] rtivital commented on #2274
It is expected, mantine.dev is a static website that is prerendered with light color scheme. In your application you can use cookie to avoid that – https://mantine.dev/guides/dark-theme/#save-color-scheme-in-cookie
There are other similar discussions, if you want a more deep explanation, check out discussions –  https://github.com/mantinedev/mantine/discussions

[2022-08-29 12:53] #2274 closed

[2022-08-29 22:09] RedFour opened #2278 "Autocomplete data grouping does not work perfectly when data is updated"
### What package has an issue

@mantine/core

### Describe the bug

![image](https://user-images.githubusercontent.com/3815691/187307214-2df590d4-6eab-4ae3-88ec-d8340d8731f6.png)

I posted a screenshot showing the issue. Item2 has group Item3. But when I add two new items also with group Item3, they are group by themselves.

The actually data has no difference between the groups. This issue only r

[2022-08-30 07:18] Hurtak opened #2283 "Full screen modal content layout shift when OS scrollbar visible"
### What package has an issue

@mantine/core

### Describe the bug

When on macOS with visible scrollbars (eg when mouse is connected) the fullscreen modal has layout shift when opening it (probably related to the scrollbar hiding/showing)

https://user-images.githubusercontent.com/6587821/187374287-fff9d166-e1e6-4277-bed3-8b18dce55785.mov

### What version of @mantine/hooks page do you have in pa

[2022-08-30 10:37] zhulien-ivanov commented on #2278
Please, include a codesandbox representing the issue.

[2022-08-30 14:59] fvaldes33 opened #2289 "Drawer without overlay still prevents interaction with the DOM outside the drawer"
### What package has an issue

@mantine/core

### Describe the bug

Just upgraded from 4.x to the latest 5.x version.

Drawers with `withOverlay: false` before allowed you to interact with the DOM behind the drawer. The drawer root had a height and width of 0px.

Now, even with `withOverlay: false` the drawer root is fixed and inset 0 which prevents clicks from making it to the dom behind.

### Wh

[2022-08-30 15:30] mihbog-atra opened #2290 "Error when using Select and creating a production build"
### What package has an issue

@mantine/core

### Describe the bug

Hello,

I am trying to use the <Select> component (after switching from Autocomplete which worked fine).
Dev build looks ok and works as expected, but as soon as I try to use the production build, I encounter a white page and it fails with:
Uncaught SyntaxError: Unexpected token '<' (at main.db184f0d.js:1:1)

After reverting to Au

[2022-08-30 20:08] nmay231 commented on #2289
Probably need `withinPortal`, but if that doesn't work, please provide a minimal code example in a codesandbox.

[2022-08-30 22:59] RedFour commented on #2278
https://codesandbox.io/s/silly-banach-8yotvi?file=/src/App.js

[2022-08-30 23:28] micaww opened #2293 "DatePicker throws error if minDate falls on a future page"
### What package has an issue

@mantine/dates

### Describe the bug

Setup:
- Today is Aug 30, 2022
- minDate is set to Sept 8, 2022 (or any date in the future that wouldn't show on this calendar month)

Once the DatePicker is opened, it immediately throws an error because `firstIncludedDay` is undefined and passed into `isSameDate` here https://github.com/mantinedev/mantine/blob/master/src/mantin

[2022-08-31 02:14] fvaldes33 commented on #2289
@nmay231 - Even with `withinPortal` I still see the same behavior. codesandbox below

https://codesandbox.io/embed/misty-haze-8jx2p5

[2022-08-31 02:57] nmay231 commented on #2289
@fvaldes33 Now I understand. You can use the styles API to get the previous behaviour back: `styles={{ root: { width: 0, height: 0 } }}`.

https://codesandbox.io/s/cocky-torvalds-vbffpz?file=/src/App.tsx:710-752

[2022-08-31 03:01] nmay231 commented on #2290
That error looks like you're somehow importing an HTML file like it's javascript. That is not an issue with Mantine, but with your bundler (like webpack). I would delete the output directory (probably something like `build/`) and rebuild.

[2022-08-31 03:08] fvaldes33 commented on #2289
@nmay231 - Totally, that is what I ended up doing but, should this be fixed in the library?

[2022-08-31 03:24] bogordesaincom opened #2295 "Select not Show all"
### What package has an issue

@mantine/core

### Describe the bug

Select Not Show all i think this z-index issue
<img width="836" alt="Jepretan Layar 2022-08-31 pukul 10 22 13" src="https://user-images.githubusercontent.com/51335197/187585741-46d9498a-d501-400a-838a-ece46b716d76.png">

### What version of @mantine/hooks page do you have in package.json?

5.2.4

### If possible, please include a

[2022-08-31 03:35] bogordesaincom commented on #2295
i think this closed issue add `withinPortal`

[2022-08-31 03:35] #2295 closed

[2022-08-31 04:44] rtivital commented on #2290
Hi @mihbog-atra, most likely your issue is not related to Mantine, it may be caused by your build system. If you can provide a repository with **minimal** reproduction, I can have a look.

[2022-08-31 04:49] rtivital commented on #2293
It does not throw any errors in v5 – https://codesandbox.io/s/loving-varahamihira-d9t8fn?file=/src/App.tsx
Can you provide a sandbox that throws?

[2022-08-31 04:51] rtivital commented on #2278
@achmurali can you have a look at this?

[2022-08-31 06:44] zhulien-ivanov commented on #2278
I found where the issue is. I'll post a PR with a fix in a couple of hours.

[2022-08-31 09:08] musatotan opened #2298 "CopyButton or use-clipboard hook is not working as expected on mobile web view."
### What package has an issue

@mantine/core

### Describe the bug

I have an issue with CopyButton (or use-clipboard hook) on mobile (Just mobile view on Android or IOS device).
I already use this component on web and working as expected, but doesn't do anything on mobile web view.

[code]

Thanks for help 🙏

### What version of @mantine/hooks page do you have in package.json?

5.2.3

### If poss

[2022-08-31 10:58] #2278 closed

[2022-08-31 12:20] #2298 closed

[2022-08-31 12:40] #2250 closed

[2022-08-31 12:44] RE0x2A opened #2300 "The DatePicker component is blocked by the upper one in it's doc's demo."
### Link to the page where something nasty is located

https://mantine.dev/dates/getting-started/

### Exact quote of what is wrong

![image](https://user-images.githubusercontent.com/20656708/187680119-50a3475d-74c4-454f-9eb5-55eb5dc1a69a.png)

It looks weird.😂

### Are you willing to create pull request with the fix?

_No response_

[2022-08-31 12:51] rtivital commented on #2300
Thanks for reporting, the issue will be fixed with next patch

[2022-08-31 13:36] hckhanh opened #2302 "No Group for Chip component"
### What package has an issue

@mantine/core

### Describe the bug

I saw a problem with the type of Chip component

![image](https://user-images.githubusercontent.com/6380436/187691613-ff35c343-adcf-42b5-b797-c53fd323ac7e.png)

### What version of @mantine/hooks page do you have in package.json?

5.4.2

### If possible, please include a link to a codesandbox with the reproduced problem

_No respo

[2022-08-31 15:48] meel-hd opened #2303 "use-window-scroll"
### What package has an issue

@mantine/hooks

### Describe the bug

Just importing this hook makes the window scroll bar on the left not smooth.

### What version of @mantine/hooks page do you have in package.json?

5.2.0

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know how to fix the issue

_No response_

### Are you willing to

[2022-08-31 20:41] rtivital commented on #2303
If you import and do not use the hook, then it does not really do anything as events are attached to window object. Please provide two sandboxes: one that will show correct behavior and one that shows incorrect behavior.

[2022-09-01 05:44] rtivital commented on #2303
Please provide two sandboxes: one that will show correct behavior and one that shows incorrect behavior.

[2022-09-01 05:45] jackyleefu opened #2308 "inputWrapperOrder prop of PasswordInput Component console error: Warning: React does not recognize the `inputWrapperOrder` prop on a DOM element."
### What package has an issue

@mantine/core

### Describe the bug

inputWrapperOrder prop of PasswordInput
console error: Warning: React does not recognize the `inputWrapperOrder` prop on a DOM element.

### What version of @mantine/hooks page do you have in package.json?

v5.2.4

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know h

[2022-09-01 05:52] rtivital commented on #2308
Thanks for reporting, the issue will be fixed in next patch

[2022-09-01 09:07] foxxycodes commented on #2201
I think the problem is not directly related to the `SpotLight` itself, but rather on how to work with it when trying to create `actions` dynamically. As of this reason, I will close whis issue.

[2022-09-01 09:07] #2201 closed

[2022-09-01 10:54] viczam opened #2311 "Modals styling issues when using @mantine/remix"
### What package has an issue

@mantine/modals

### Describe the bug

Steps to reproduce:
- I started with mantine-remix-template
- I added `@mantine/modals` to package.json
- In root.tsx I added ModalsProvider
[code]

- I added this code to index.tsx

[code]

While the modal looks good in dev mode, after a `yarn build` + `yarn start` the styles are off:
<img width="1728" alt="Screenshot 2022-09-0

[2022-09-01 11:17] rtivital commented on #2311
Seems to be an issue with Portal, no idea how to fix that

[2022-09-01 11:49] viczam commented on #2311
it seems to be related to this - https://github.com/mantinedev/mantine/issues/1734#issuecomment-1208272101

[2022-09-01 11:52] viczam commented on #1734
@zemd can you please share a repo with a working example?

[2022-09-01 11:56] zemd commented on #1734
@viczam sorry, but no. also the latest update broke styles again, and I had to switch back to react17 `hydrate` function, remove emotion cache and return `<ClientProvider/>`. there is definitely an issue with mantine-remix style integration, because next.js doesn't have the same issues.

[2022-09-01 13:18] adam-binks opened #2314 "Menu.Dropdown not placed near Menu.Target when inside a scaled element"
### What package has an issue

@mantine/core

### Describe the bug

Example (menu dropdown with item "Delete" is far from the overflow dropdown. Inside a react-pinch-pan-zoom TranformComponent, which applies transform: scale(n).

<img width="131" alt="image" src="https://user-images.githubusercontent.com/13518594/187923160-4668bb40-e62c-48a1-b834-8360d7158f92.png">

### What version of @mantine/ho

[2022-09-01 17:37] rtivital commented on #2314
Hi @adam-binks, Menu and other similar overlay components are built with floating ui, we cannot support that until floating ui provides this feature. If you want to find out more, you can open discussion in Floating UI repository – https://github.com/floating-ui/floating-ui/discussions

[2022-09-01 17:41] rtivital commented on #2314
I would say that it is expected behavior – you can apply any kinds of transforms to an element (`skew`, `rotate`, `scale`, `translate`) and those transforms do not impact element size – it still takes the same amount of space. I doubt that it is possible to position floating part correctly with all these transforms, so I would not really expect from floating ui to support this feature.

[2022-09-01 20:52] nmay231 commented on #2289
It probably should. It doesn't make sense for that behavior when `withOverlay={false}`. @rtivital ?

[2022-09-02 10:22] rtivital commented on #2289
Yeah, I think it is a bug, will be fixed in one of next patches, PR is welcome.

[2022-09-02 14:59] danestves opened #2327 "Invalid `message` prop on `@mantine/notifications`"
### What package has an issue

@mantine/notifications

### Describe the bug

When using the notifications package and passing the `message` prop like this:

![Code](https://user-images.githubusercontent.com/31737273/188176806-5decce6a-105f-44b9-aa1f-0dc41ac14e0e.png)

We get an `message="[object Object]"` on the HTML:

![Developer tools inspect](https://user-images.githubusercontent.com/31737273/1

[2022-09-02 15:14] rtivital commented on #2327
Thanks for reporting, the issue will be fixed in one of the next patches

[2022-09-02 16:00] mvskvortsov opened #2328 "RichTextEditor paste error with @mantine/form"
### What package has an issue

@mantine/rte

### Describe the bug

I use RichTextEditor with getInputProps from @mantine/form in my form.
Then I'm trying to paste some text in the end of text after some empty symbol (space, new line) nothing happens. If I paste text in some other text it works but cursor stays in old place - do not move to the inserter text end.
If I use simple "controlled" case (

[2022-09-02 16:27] mvskvortsov commented on #2328
I found some workaround)
I simply use form field values without getInputProps. Something like this:
`value={values.blocks[idx].richtext} onChange={(value) => setFieldValue(`blocks.${idx}.richtext`, value)}`
I think problem is in the getInputProps function.

[2022-09-02 17:20] rtivital commented on #2328
Okay, please use your workaround for now, rte package is planned to be revamped in 6.0, and I do not think that fixing issues with current implementation will worth the effort.

[2022-09-02 17:20] #2328 closed

[2022-09-02 22:20] icflorescu commented on #2303
I just used `use-window-scroll` on [the docs website](https://icflorescu.github.io/mantine-datatable/getting-started) of Mantine DataTable to add a subtle header shadow when paged is scrolled down and I can confirm there's nothing wrong with the hook itself.

@meel-hd - perhaps the problem lies somewhere else in your application?

[2022-09-03 04:09] oncet commented on #1734
Using Mantine v5.2.4 and still getting the same error as OP.

Tried switchting to React 18 `hydrateRoot()` method but this breaks other things:

[code]

[2022-09-03 07:13] dsschneidermann commented on #1734
I believe that you need to have an explicit `createEmotionCache({ key: "mantine" })` in your root.tsx render function. This should be with react18 and hydrateRoot.

[2022-09-03 14:32] oncet commented on #1734
Thank you so much. Adding `createEmotionCache({ key: "mantine" })` to `entry.client.tsx` solved the problem, seems to be working like a charm.

Here is the complete file:

[code]

[2022-09-03 14:34] Narcha opened #2330 "React.ComponentProps returns {} with Mantine components"
### What package has an issue

@mantine/core

### Describe the bug

I'm not sure if this is a bug with Mantine or with React.
If I use `React.ComponentProps` or similar generics on Mantine components (I tested this on `Button` and `Text`), instead of returning the component props, it returns `{}`.

I've been trying to add a wrapper component around `Button`, which keeps all of its props and adds o

[2022-09-03 16:20] rtivital commented on #2330
Hi @Narcha, it is not an issue: Button and other similar components are polymorphic, it means that their props are calculated dynamically based on generic argument that is controlled by `component` prop. You can import types of all components from a corresponding package, for example `import type { ButtonProps } from '@mantine/core';`:

[code]

[2022-09-03 16:20] #2330 closed

[2022-09-03 16:22] Narcha commented on #2330
Thank you! I knew that they were polymorphic, I just assumed React would use the default component ("button" in this case).

[2022-09-03 16:22] rtivital commented on #1734
I do not really know why it makes it work, need to test it out. Did it resolve your issue with React 18?

[2022-09-03 16:59] dsschneidermann commented on #1734
It seems the default of `prepend: true` for the emotionCache is no good for Remix, where you have to place the StylespPlaceholder in your html head yourself, and the styles are placed there during SSR. If you set `prepend: false` (or undefined), I'm guessing that emotion doesn't do any changes, and then it works for hydration.

It doesn't matter where you initialize the emotion cache eg. client en

[2022-09-03 17:17] kimfucious opened #2332 "Checkbox has default cursor"
### What package has an issue

@mantine/core

### Describe the bug

Normally a checkbox's cursor is set to "pointer" by default.

However, it appears that this is not the case with the Checkbox component.

I've tried forcing it with styles and wrapperProps, but to no avail.

If this is not a bug, can you please let me know how to change the pointer style on the box and the label.

Thanks!

### Wha

[2022-09-03 17:24] zhulien-ivanov commented on #2332
https://mantine.dev/theming/theme-object/#cursortype.

[2022-09-03 17:34] kimfucious commented on #2332
Thanks for that super fast response, @zhulien-ivanov

[2022-09-03 17:34] #2332 closed

[2022-09-03 17:42] rtivital commented on #1734
Okay, thanks @dsschneidermann, I'll wiggle things around and see whether we can fix it, `prepend: true` by default is a mistake, it should not be there, I'll remove that with next patch, then let's see how's it going from there.

[2022-09-03 17:58] DhrjArun commented on #1982
Is this caused by the same issue?

[2022-09-03 18:04] pdevito3 opened #2333 "Custom `monthPickerControl` styles overriding `monthPickerControlActive` styles on `DatePicker`"
### What package has an issue

@mantine/dates

### Describe the bug

When you select a date using the `DatePicker` control, it will not apply `monthPickerControlActive` styles when `monthPickerControl` styles supplied. The active styles do get applied when monthPickerControl` styles are removed.

The same happens for `YearPickerControls`

### What version of @mantine/hooks page do you have in pack

[2022-09-03 18:31] Gallevy opened #2334 "DatePicker weekdays order with muslim/israel locale"
### What package has an issue

@mantine/dates

### Describe the bug

DatePicker doesn't start the week on the correct day for israel (and many more muslim countries)

Current @mantine/dates DatePicker:
![mantine-dates-original](https://user-images.githubusercontent.com/17080607/188283592-1a1343bf-e22a-4704-8164-dc6bfd7ecff3.png)

As explained here: https://en.wikipedia.org/wiki/Workweek_and_weeken

[2022-09-03 18:33] rtivital commented on #2334
The issue will be resolved in 6.0 version

[2022-09-03 18:41] rtivital commented on #2333
Hi @pdevito3, DatePicker works as expected with `createStyles` function and `styles` prop (recommended way of applying styles). We provide support only for built-in Mantine styling solution with emotion, if you've decided to use a third-party styling library, then it's up to you to figure it out how to apply styles correctly – unfortunately, we cannot help with it.

[2022-09-03 18:41] #2333 closed

[2022-09-03 18:41] rtivital commented on #1982
Maybe

[2022-09-03 18:56] pdevito3 commented on #2333
heard that you can't support other libs, but for what it's worth, this happens whenever you you `classNames` regardless of lib. Here it happens with vanilla CSS:
https://codesandbox.io/s/mantine-datepicker-styling-issue-forked-t45d7r?file=/src/App.tsx

[2022-09-03 19:03] rtivital commented on #2333
Well, it is not planned to be fixed with current implementation, in version 6.0 it will be migrated to `data-` attributes like in other components. For now, you can use several workarounds:
- Use createStyles or styles
- Increase specificity – https://codesandbox.io/s/mantine-datepicker-styling-issue-forked-e0pn3q?file=/src/App.tsx
- Or just use !important

[2022-09-04 07:58] epicmau5time commented on #2283
Have also been experiencing this with the full screen modals

[2022-09-04 08:56] rtivital commented on #1895
The issue is fixed in 5.2.5, template works as expected – https://github.com/mantinedev/mantine-remix-template

[2022-09-04 08:56] #1895 closed

[2022-09-04 09:06] Sakkhor909 opened #2340 "useLocalStorageValue update issue"
### What package has an issue

@mantine/hooks

### Describe the bug

I have used @mantine/hooks 3.6.9 and there was no problem for geting an object from useLocalStorageValue hooks to set the theme of my Next JS website. But Today I updated @mantine/hooks to 5.2.5

It shows error immediately like this,
[code]

### What version of @mantine/hooks page do you have in package.json?

5.2.5

### If possi

[2022-09-04 09:08] rtivital commented on #2173
@jolebas I cannot reproduce the issue is well (iOS and Android 11 – Realme 11 Pro), closing this as it cannot be reproduced

https://user-images.githubusercontent.com/10353856/188306065-36b60a74-c7d6-4be8-be7c-fc269de4e5da.mp4

[2022-09-04 09:08] #2173 closed

[2022-09-04 09:10] rtivital commented on #2340
Hook was renamed – https://mantine.dev/hooks/use-local-storage/
You should check release notes for breaking changes when updating to next major version.

[2022-09-04 09:10] #2340 closed

[2022-09-04 09:11] rtivital commented on #2227
Hi @Slapbox, feel free to reopen the issue if you can provide a reproduction

[2022-09-04 09:11] #2227 closed

[2022-09-04 09:12] rtivital commented on #2268
Fixed in 5.2.5

[2022-09-04 09:12] #2268 closed

[2022-09-04 09:13] rtivital commented on #2303
I do not think that the issue is with Mantine, @meel-hd feel free to reopen the issue if you can provide a reproduction.

[2022-09-04 09:13] #2303 closed

[2022-09-04 09:14] rtivital commented on #2293
@micaww feel free to reopen the issue if you can provide a sandbox with reproduction

[2022-09-04 09:14] #2293 closed

[2022-09-04 09:15] rtivital commented on #2290
@nmay231 feel free to reopen the issue if you can provide a reproduction.

[2022-09-04 09:15] #2290 closed

[2022-09-04 14:38] wes337 commented on #2283
Happens in Windows too. Yes, probably because of the scrollbar disappearing.

Instead of hiding the scrollbar, maybe a better solution would be the new "inert" HTML attribute. It was added in 2022 but has pretty good browser support right now (and a polyfill): https://developer.chrome.com/articles/inert/, https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/inert

[2022-09-04 15:19] Hexa-IT opened #2344 "Interesting text input suggestions"
### What package has an issue

@mantine/core

### Describe the bug

I'm getting some weird suggestions in chrome when entering something the the `TextInput` component

![Report](https://user-images.githubusercontent.com/34255516/188320802-738621d2-2f47-41a3-b4ed-027da5e0a27d.PNG)

### What version of @mantine/hooks page do you have in package.json?

5.2.3

### If possible, please include a link to

[2022-09-04 16:10] zhulien-ivanov commented on #2344
This is browser's native autocomplete suggestions, not related to Mantine.

[2022-09-04 16:54] epicmau5time commented on #2283
I should add that a temporary workaround I have been using is setting the width to "100vw" on the modal inline style. Avoids the jumping of the fullscreen modal width.

[code]

[2022-09-04 17:14] peterfritz opened #2346 "Grid column offset cannot be se to 0 using breakpoints"
### What package has an issue

@mantine/core

### Describe the bug

Hi everyone, I think I've found a bug with the Grid Column offset. When using a bigger breakpoint to set it back to 0, it doesn't appear to overwrite the smaller breakpoint's value. Weirdly it seems that it works with any number other than 0.

By the way, Mantine is amazing, I've just started messing around with it, and I don't wa

[2022-09-04 17:15] rtivital commented on #2344
Hi @Hexa-IT, usually these suggestions are based on `name` and `id` attributes, try setting those attributes on your input:

[code]

[2022-09-04 17:18] rtivital commented on #2346
Hi @peterfritz, thanks for the bug report, the issue will be fixed in one of the next patches

[2022-09-04 19:26] #2283 closed

[2022-09-04 20:25] wildsonc opened #2350 "RichTextEditor with Next.js"
### What package has an issue

@mantine/rte

### Describe the bug

Only when I paste (CMD+V) an image raise the error, even with strict mode disabled:
<img width="1007" alt="image" src="https://user-images.githubusercontent.com/72408418/188331920-40c74f1d-fd31-43e9-ac57-f1ae52eb0f00.png">

**next.config.js**
[code]
If I insert the image through the button, it works as expected.

### What version o

[2022-09-04 23:15] italodeandra opened #2352 "Select label has a spacing smaller than TextInput"
### What package has an issue

@mantine/core

### Describe the bug

![image](https://user-images.githubusercontent.com/19225266/188337107-e2846a93-89b2-411b-8484-6c9031393eaa.png)

But I can't find why this is happening from the CSS.

I know this is nitpicking, but perhaps someone could have a theory as to why this is happening.

Even if they have the same label, the spacing is different. Here you

[2022-09-04 23:18] italodeandra commented on #2352
Nevermind. This is a half-pixel browser rounding mess up. Because of 1 pixel I'm creating a issue huh

[2022-09-04 23:18] #2352 closed

[2022-09-04 23:49] mboldysh opened #2354 "Allow to highlight only background for diff via Prism component"
### What package has an issue

@mantine/prism

### Describe the bug

Currently, when we have a Prism component with diff it highlights not only the background but text color as well. This makes all highlighted diff content raw as we lose colors provided by Prism for specific language. This is visible in official documentation - https://mantine.dev/others/prism/#lines-highlight. It would be really

[2022-09-05 05:14] DhrjArun commented on #2308
I am not sure how to reproduce this issue.

[2022-09-05 05:21] DhrjArun commented on #1982
I think this issue of docs, is only occurring for animation link

[2022-09-05 06:06] DhrjArun commented on #1982
In the Select Demo when I remove transitionDuration or make it to 0 it fixes the issue.

[2022-09-05 08:00] itsallbr0ken opened #2355 "Property 'label' does not exist on type 'IntrinsicAttributes & TextInputProps & RefAttributes<HTMLInputElement>'"
### What package has an issue

@mantine/core

### Describe the bug

I'm seeing the error mentioned above when trying to use multiple components, i'm not able to find a solution, are you able to help please? The full error is

`TS2322: Type '{ placeholder: string; label: string; withAsterisk: true; }' is not assignable to type 'IntrinsicAttributes & TextInputProps & RefAttributes<HTMLInputElement>'

[2022-09-05 08:56] rtivital commented on #2355
Hi @itsallbr0ken, please provide a codesandbox (template– https://codesandbox.io/s/mantine-template-9ze89?file=/src/App.tsx:0-6) with minimal reproducible example https://stackoverflow.com/help/minimal-reproducible-example. It is not possible to identify the issue without reproduction.

[2022-09-05 09:40] itsallbr0ken commented on #2355
Hi @rtivital,

Apologies, i've just noticed that the code didn't copy correctly, i'll try and explain a bit better but rather than waste your time i can't replicate the issue on codesandsandbox.io so i suspect its a local configuration issue but maybe you could shed some light or point me in the right direction?

  This error `TS2322: Type '{ placeholder: string; label: string; withAsterisk: true;

[2022-09-05 11:14] rtivital commented on #2355
I've never seen anything like it, if it is not reproducible on codesandbox, then the issue is with your typescript configuration

[2022-09-05 12:10] zhulien-ivanov commented on #2355
Can you show your `package.json`?

[2022-09-05 13:00] italodeandra opened #2359 "Leave animation should be the progress getting complete instead of resetting to the start"
### What package has an issue

@mantine/nprogress

### Describe the bug

When the navigation progress completes, the animation of the progress should be to fill the entire width instead of going to 0.

Reference: https://ricostacruz.com/nprogress/

### Do you know how to fix the issue

Yes

### Are you willing to participate in fixing this issue and create a pull request with the fix

Yes

[2022-09-05 13:11] rtivital commented on #2359
Feel free to send a PR with this feature

[2022-09-05 14:37] hichemfantar opened #2360 "Spotlight doesn't scroll when content overflows"
### What package has an issue

@mantine/spotlight

### Describe the bug

Spotlight doesn't scroll when content overflows.
You can find this bug in the mantine docs.

### What version of @mantine/hooks page do you have in package.json?

5.2.5

### If possible, please include a link to a codesandbox with the reproduced problem

https://ui.mantine.dev/

### Do you know how to fix the issue

Yes

###

[2022-09-06 02:37] pdevito3 opened #2363 "`DatePicker` can't accept date only ISO 8601 strings like normal html input"
### What package has an issue

@mantine/dates

### Describe the bug

So maybe I'm missing something, but I can't get the datepicker to play nice with ISO 8601 formatted strings.

My api layer is passing in dates formatted like `2022-09-06` on par with ISO 8601, and while a normal date input can handle this just fine (see example), the mantine datepicker has some issues. Particularly, it seems to s

[2022-09-06 04:48] maxijonson opened #2364 "MantineThemeColors are possibly "undefined" (loses types on TypeScript v4.8.2)"
### What package has an issue

@mantine/core

### Describe the bug

I have a project that uses TypeScript 4.7.4 and compiles just fine. However, I recently noticed VS Code (which is using TypeScript 4.8.2) has started reporting errors for `MantineThemeColors`. At first, I thought it was a problem with my VS Code, but after upgrading my project's TS version to 4.8.2, the compilation started failing

[2022-09-06 08:14] itsallbr0ken commented on #2355
Sorry for the delay in getting back, it looks like i must have been running an older version of something that's causing the issue, i'm trying to use the package in an older SharePoint Framework app thats running an older version of the framework, if i create a new app using the current version of the SharePoint framework it fixes the problem, sorry for wasting your time

[2022-09-06 08:17] pkro commented on #1862
If anyone stumbles upon this, I had the same problem when putting the tab state in a hook, and even using the solution above didn't help as typescript just knows that the returned array elements are string or function and refuses to call setActiveTab as it could also be a string.

Adding `as const` to the returned array fixed that.

This post cleared it up:

https://kentcdodds.com/blog/wrapping-re

[2022-09-06 08:24] rtivital commented on #2363
DatePicker component value is a Date object, it does not support strings or other values – you need to convert your string date into the Date object before passing it to the component.

[2022-09-06 08:27] rtivital commented on #2364
Removing `(string & {})` is not an option, it will break a lot of other things. I do not know how to fix that for strict mode atm, PR welcome.

[2022-09-06 13:08] pdevito3 commented on #2363
Yeah, I hear you.

Guess this should have been more of a feature enhancement discussion on discord to help people avoid all the gymnastics for date only workflows. Regardless, sorry to clog your issues with this.

[2022-09-06 13:12] Mbensler opened #2370 "Spotlight onClick button error"
### What package has an issue

@mantine/spotlight

### Describe the bug

After copy pasting the spotlight example code/demo and installing all dependencies I get the following error from the "Open spotlight" button:

[code]

The "onClick" has a red underline that gives the error above.
I am using .tsx

The button still works, but I am now unable to upload to Vercel because of the error.

### What

[2022-09-06 15:12] rtivital commented on #2363
Okay, there is no plan to add string support to DatePicker and other dates component, so I'm closing this issue, feel free to reach out on discord if you have any other questions.

[2022-09-06 15:12] #2363 closed

[2022-09-06 15:13] rtivital commented on #2370
Hi @Mbensler, try `onClick={() => openSpotlight()}` instead. I'll update documentation to avoid confusion in future.

[2022-09-06 15:35] maxijonson commented on #2364
Alright, I'll try to check it out. But clearly, if it used to work before and now it doesn't, something changed on TypeScript's side for it to break. It could possibly be a bug on TypeScript's side too, I just wouldn't be able to pinpoint how.

[2022-09-06 15:54] rtivital commented on #2334
Hi @DhrjArun, this issue is already fixed in private dates revamp repository

[2022-09-06 15:55] rtivital commented on #2370
I've updated documentation, it should not show any typescript errors now

[2022-09-06 15:55] #2370 closed

[2022-09-06 15:55] rtivital commented on #2327
Fixed in 5.2.6, thanks @DhrjArun!

[2022-09-06 15:57] rtivital commented on #2311
Hi @viczam, I've updated the remix template and guide to support react 18, can you please check whether your issue can be reproduced there?

[2022-09-06 17:15] italodeandra opened #2371 "Modal overlay is rendered above the scroll"
### What package has an issue

@mantine/modals

### Describe the bug

![image](https://user-images.githubusercontent.com/19225266/188698570-4b97fb7a-f2c4-4e9e-88aa-d6459fd667ab.png)

You can scroll normally using the mouse scroll, but if you try clicking the scroll bar you actually click the overlay triggering the modal to close.

### If possible, please include a link to a codesandbox with the re

[2022-09-06 17:18] rtivital commented on #2371
@italodeandra feel free to send a PR with a fix

[2022-09-06 17:36] DhrjArun commented on #2334
ok

[2022-09-06 19:04] Beardless commented on #2311
Hi, @rtivital I have a problem with React 18 and Remix.

Trying to use your example of integrating Mantine into Remix, but Remix is using now `renderToPipeableStream` instead of `renderToString`. And I don't know where to put `injectStyles` method as I don't have a markup to use it.

This is an example code you will get after initialization of the new remix app `entry.server.tsx`:
[code]

[2022-09-06 19:43] rtivital commented on #2311
@Beardless it is not related to the issue, template works correctly with react 18. Emotion does not support server streaming, see – https://github.com/emotion-js/emotion/issues/2800

[2022-09-07 00:05] pdevito3 commented on #2363
FYI, seems that dayjs figured this all out under the hood if you just use their `toDate()`  method:
[code]

https://day.js.org/docs/en/display/as-javascript-date

[2022-09-07 09:13] adarshaacharya opened #2378 "Title doesn't support weight props"
### Link to the page where something nasty is located

 https://mantine.dev/core/title/#text-props

### Exact quote of what is wrong

 As mentioned in docs above, mantine should support weight props in `Title` component but it doesn't actually supports it.

![image](https://user-images.githubusercontent.com/50266088/188840260-cc53834d-61b8-457d-a606-361981007e44.png)

[code]

### Are you willing t

[2022-09-07 09:16] zhulien-ivanov commented on #2378
It does support it. You have to use a version of `5.2.0` or greater.

[2022-09-07 09:20] rtivital commented on #2378
Update all  `@mantine` packages to latest version

[2022-09-07 09:20] #2378 closed

[2022-09-07 09:25] adarshaacharya commented on #2378
thanks !

[2022-09-07 09:36] PointSingularity commented on #2364
There was a [change ](https://devblogs.microsoft.com/typescript/announcing-typescript-4-8/#improved-intersection-reduction-union-compatibility-and-narrowing)in 4.8 that concerns the "string & {}"

But according to the [PR](https://github.com/microsoft/TypeScript/pull/49119) "string & {}" should be an exception, and the functionality of it should have been preserved.

[2022-09-07 18:15] fadyscube opened #2382 "ColorInput fixOnBlur prop is not working"
### What package has an issue

@mantine/core

### Describe the bug

I am using a controlled ColorInput, and I have noticed that if onChange is called each time the point is moved it will be too slow with a large component, and it will be great to call onChange each time the cursor is clicking outside the component and I've found the fixOnBlur property that is supposing to call onChange in the `blu

[2022-09-07 19:08] mmahalwy opened #2383 "Allow SelectItem to have a value of number"
### What package has an issue

@mantine/core

### Describe the bug

Currently TS does not allow value on `SelectItem` to be anything but `string`.

See: https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/Select/types.ts#L11

### What version of @mantine/hooks page do you have in package.json?

5

### If possible, please include a link to a codesandbox with the reproduced proble

[2022-09-07 23:50] scarf005 opened #2385 "example filter usage in `use-list-state` is reversed"
### Link to the page where something nasty is located

https://mantine.dev/hooks/use-list-state/

### Exact quote of what is wrong

[code]
should be
[code]
because implementation uses plain filter.
https://github.com/mantinedev/mantine/blob/e267c1dfa4356566ad70b47cde9aa008ec7ff991/src/mantine-hooks/src/use-list-state/use-list-state.ts#L86-L88

### Are you willing to create pull request with the fi

[2022-09-08 00:48] rehypothecation opened #2387 "TS1110: Type expected in some of Mantine's files"
### What package has an issue

@mantine/core

### Describe the bug

[code]
TypeScript is reporting some typing errors.

### What version of @mantine/hooks page do you have in package.json?

"^5.2.5"

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know how to fix the issue

No

### Are you willing to participate in fixing this issue an

[2022-09-08 01:06] maxijonson commented on #2364
I tried a super minimal TS project with the concerned types to better isolate the issue and at first, the error never occurred (on both versions). I then plugged my tsconfig and saw the issue come back under 4.8.2. After going one by one on each rule, I found that the culprit was here:

[code]

This [rule](https://www.typescriptlang.org/tsconfig#noUncheckedIndexedAccess) automatically adds `undefi

[2022-09-08 04:06] rtivital commented on #2364
Alright, then I think it is fine from our side with default strict mode settings and  `"noUncheckedIndexedAccess": true,` should be turned off.

[2022-09-08 04:06] italodeandra opened #2390 "Menu `trigger="hover"` should be accessible"
### Discussed in https://github.com/mantinedev/mantine/discussions/2389

<div type='discussions-op-text'>

<sup>Originally posted by **italodeandra** September  8, 2022</sup>

This seems like it could be easily fixable by also accepting the click event. Was this by design or is it a limitation? Why?</div>

<div type='discussions-op-text'>

<sup>Originally posted by **rtivital** September  8, 2022<

[2022-09-08 04:08] rtivital commented on #2387
Hi @rehypothecation, based on my research, this issue is caused by outdated typescript version
- https://github.com/DefinitelyTyped/DefinitelyTyped/issues/8769
- https://stackoverflow.com/questions/37400681/error-ts1110-type-expected-when-using-export-type

[2022-09-08 04:09] rtivital commented on #2390
Alright, lets try adding onClick event to hover menu and see if that produces any UX issues. Do you want to open a PR for this?

[2022-09-08 04:10] #2385 closed

[2022-09-08 04:17] rtivital commented on #2383
Hi @mmahalwy, Select does not support values apart from strings because it:
- is how native select element works
- is much easier to maintain
- can produce all sorts of issues if we decide to support non-primitive values

Select and other similar components are already pretty complex, and I would rather not waste a lot of time maintaining this feature.

[2022-09-08 04:17] #2383 closed

[2022-09-08 06:29] PointSingularity commented on #2364
Great find @maxijonson! You should definitely submit a new issue with your minimal reproduction to the TypeScript GitHub, because it does seem like it should work.

[2022-09-08 09:15] godart-corentin opened #2392 "@mantine/dates overriding MantineProvider theme"
### What package has an issue

@mantine/dates

### Describe the bug

@mantine/dates package is overriding the MantineProvider theme configuration.

![Capture d’écran 2022-09-08 à 11 13 52](https://user-images.githubusercontent.com/43783685/189084107-8ca594a5-ef6b-4581-9127-89c43b0a5052.png)

<img width="324" alt="Capture d’écran 2022-09-08 à 11 11 12" src="https://user-images.githubusercontent

[2022-09-08 09:23] rtivital commented on #2392
Hi @godart-corentin, it works correctly on codesandbox – https://codesandbox.io/s/objective-margulis-i13rvm?file=/src/App.tsx
Please provide a reproduction

[2022-09-08 09:28] godart-corentin commented on #2392
Hello @rtivital, thank you for your answer.
I think it should be related to yarn workspaces in that case: my DateField component is located in an external package and I use this component inside a package having my MantineProvider.

I'll try to provide a reproduction after work.

[2022-09-08 09:38] godart-corentin commented on #2392
Issue fixed, my problem was due to some weird workspaces package error with Vite.
Adding "@mantine/dates" in the dedupe property of Vite's config fixed the issue !

Thank you for your time.

[2022-09-08 09:38] #2392 closed

[2022-09-08 10:25] maxijonson commented on #2364
Good point, I'll take a moment today to look through some issues and make sure this isn't already reported. If not, I'll submit an issue. In any case, I'll give feedback here on where the issue is so we can track it!

[2022-09-08 11:44] maxijonson commented on #2364
I've created the related issue [here](https://github.com/microsoft/TypeScript/issues/50683)

[2022-09-08 12:43] rtivital commented on #2364
I'm closing this issue as it seems not to be related to Mantine, if you think that there is something to be done on our side, then feel free to reopen it.

[2022-09-08 12:43] #2364 closed

[2022-09-08 13:31] ManuelDeode opened #2395 "TransferList, cant select item after form.setFieldValue"
### What package has an issue

@mantine/form

### Describe the bug

I have a TransferList that is empty on default.
i load a list of users from the database.
after the users are loaded i use form.setFieldValue('users', [userData,[]])

it looks good but the items on the transfer list are not selectable one on one.

the button to move all of them works as expected.

### What version of @mantine/hook

[2022-09-08 14:26] rtivital commented on #2395
Hi @ManuelDeode, please provide a codesandbox (template– https://codesandbox.io/s/mantine-template-9ze89?file=/src/App.tsx:0-6) with minimal reproducible example https://stackoverflow.com/help/minimal-reproducible-example. It is not possible to identify the issue without reproduction.

[2022-09-08 14:49] rtivital commented on #1982
Fixed in 5.2.7 – https://codesandbox.io/s/headless-glade-kw78v7?file=/src/App.js

[2022-09-08 14:49] #1982 closed

[2022-09-08 14:51] rtivital commented on #1753
Fixed in 5.2.7 – https://codesandbox.io/s/mantine-playground-forked-ub6nd5?file=/src/App.tsx
Thanks @hotgen!

[2022-09-08 14:51] #1753 closed

[2022-09-08 16:32] danestves opened #2396 "Carousel.Item doesn't have spacing between other items"
### What package has an issue

@mantine/core

### Describe the bug

From the `5.2.7` release that introduce this fix https://github.com/mantinedev/mantine/pull/2336 now the items doesn't have any spacing between

![CleanShot 2022-09-08 at 12 30 47](https://user-images.githubusercontent.com/31737273/189176529-dde3c5b8-daa8-446f-90e7-4ebe4f1c399a.png)

### What version of @mantine/hooks page do you

[2022-09-08 16:48] rtivital commented on #2396
Thanks for reporting, the issue will be fixed in next patch

[2022-09-08 20:12] danestves commented on #2396
Thank you! I'm still new with the core code of Mantine, hope in a future be available to understand and make features and fixes for the library :D

[2022-09-08 20:42] gigobyte opened #2397 "Menu.Dropdown position is incorrectly calculated on mount"
### What package has an issue

@mantine/core

### Describe the bug

In my application I have a `Menu` component rendered at the right end of the page and I found that it takes a couple of rerenders for the `Popover` inside the menu to figure the correct `left` style of the dropdown.

Example of the incorrect behaviour:

![GIF](https://user-images.githubusercontent.com/8791446/189220819-03d54e74-61

[2022-09-08 22:58] italodeandra commented on #2396
@rtivital Did you already found the problem? This problem seems weird. If you didn't investigate yet I will.

[2022-09-09 01:40] rehypothecation commented on #2387
Thank you.

[2022-09-09 01:40] #2387 closed

[2022-09-09 04:57] rtivital commented on #2396
Yes, it is caused by the change in PR, you can check out the same issue here in final slide – https://mantine.dev/others/carousel/#size-and-gap

I've reverted your PR for now

[2022-09-09 05:01] rtivital commented on #2397
Hi @gigobyte, I think that this issue is caused by Menu size being recalculated on dropdown mount, to fix that issue, add width to Menu – https://codesandbox.io/s/floral-sky-z03pt7?file=/src/App.tsx

[2022-09-09 07:51] ManuelDeode commented on #2395
Hi, trying to reproduce the issue i found the error. it seems that you cant use an integer as value in the list elements, i changed the value to string and it works perfectly now.

Maybe its something that could be mentioned somewhere?

[2022-09-09 07:56] rtivital commented on #2395
Okay, I'll add it to documentation

[2022-09-09 08:12] gigobyte commented on #2397
Setting the width would obviously fix the issue, but if I remove the right padding the width is automatically calculated even on first mount. Is there any way to go around that?

[2022-09-09 08:13] #2395 closed

[2022-09-09 08:22] rtivital commented on #2397
I do not know, it depends on how floating ui calculates position of elements that are being mounted to the dom with animation.

[2022-09-09 08:55] hckhanh opened #2400 "SegmentedControl does not work with an empty array"
### What package has an issue

@mantine/core

### Describe the bug

When I use segment with an initial empty array, I get this bug:

[code]

[code]

### What version of @mantine/hooks page do you have in package.json?

5.2.5

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know how to fix the issue

No

### Are you willing to participa

[2022-09-09 09:12] hckhanh commented on #2400
Another bug is If i use empty string `''` as value, it does not work at all

[code]

[2022-09-09 10:52] rtivital commented on #2396
Fixed in 5.3.0

[2022-09-09 10:52] #2396 closed

[2022-09-09 15:19] 7iomka opened #2403 "Update embla-carousel-react to version at least ^7.0.2"
### What package has an issue

@mantine/carousel

### Describe the bug

See recommendations to update version: https://github.com/davidjerleke/embla-carousel/discussions/365#discussioncomment-3606311

### What version of @mantine/hooks page do you have in package.json?

latest

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know how t

[2022-09-09 15:24] rtivital commented on #2403
You can install `embla-carousel-react@7.0.2` on your side, it is a peer dependency, `^` symbol means any `7.x.x` version is compatible

[2022-09-09 18:09] dmerand opened #2404 "<Prism colorScheme="dark"> not respecting dark mode with highlighted lines."
### What package has an issue

@mantine/prism

### Describe the bug

When using `<Prism>` with `colorScheme="dark"` and highlighted lines, the per-line highlight is defaulting to the "light mode" colors instead of "dark mode" colors.

### What version of @mantine/hooks page do you have in package.json?

^5.1.1

### If possible, please include a link to a codesandbox with the reproduced problem

ht

[2022-09-09 18:33] rtivital commented on #2404
Thanks for reporting, the issue will be fixed in one of the next patches

[2022-09-09 19:52] maxijonson commented on #2364
A PR has been created in TypeScript and merged, this will be fixed in 4.9.0!

[2022-09-09 21:06] 7iomka commented on #2403
ok, but it would still be good manners not to be confusing

[2022-09-09 21:06] #2403 closed

[2022-09-10 08:52] GZTimeWalker opened #2407 "`dot={false}` but `dot` in indicator docs."
### Link to the page where something nasty is located

https://mantine.dev/core/indicator/

### Exact quote of what is wrong

<img width="839" alt="截屏2022-09-10 16 50 49" src="https://user-images.githubusercontent.com/28180262/189476168-698cdf92-145c-47cb-8d3a-c1c6d93099db.png">

`dot={false}` but `dot` ?

### Are you willing to create pull request with the fix?

_No response_

[2022-09-10 10:13] zhulien-ivanov commented on #2407
Should be fixed with: https://github.com/mantinedev/mantine/pull/2409. The `Indicator` main demo is not very clean, though, so I guess it should be refactored a bit.

[2022-09-10 10:49] rtivital commented on #2407
The issue is fixed, it will be deployed with next patch

[2022-09-10 10:49] #2407 closed

[2022-09-10 15:08] hassanzohdy opened #2412 "Invalid props for generated Styled Component with Mantine Components"
### What package has an issue

@mantine/core

### Describe the bug

When using `@emotion/styled` with  any Mantine Component, typescript checker throws an error:

`Type '{ children: string; }' has no properties in common with type 'IntrinsicAttributes & { theme?: Theme | undefined; }`

### What version of @mantine/hooks page do you have in package.json?

### If possible, please include a link to a

[2022-09-10 15:38] rtivital commented on #2412
Hi @hassanzohdy, Box is a polymorphic component, if you do not need Box props, then use `styled.div` instead. Otherwise, you should follow polymorphic component documentation – https://mantine.dev/styles/styled/#polymorphic-components

https://codesandbox.io/s/sad-hertz-kd6j4v?file=/src/App.tsx

[2022-09-10 15:38] #2412 closed

[2022-09-10 15:48] hassanzohdy commented on #2412
Thanks @rtivital for the tip

[2022-09-11 12:35] 7iomka opened #2419 "Fullscreen modal issue"
### What package has an issue

@mantine/core

### Describe the bug

Hi.
I have a little problem with fullscreen modal when I initialize vendor map when modal is open, I get horizontal scrollbar appeared, and I don't know why? Maybe this is related with padding-fix removal during opening or something else.
Anyone who know how to fix that, help me please)

### What version of @mantine/hooks page do

[2022-09-11 21:23] Manokii opened #2424 "Popover.Dropdown does not show up"
### What package has an issue

@mantine/core

### Describe the bug

5.x made breaking changes with Popover

title is moved to `Popover.Dropdown` component but it does not appear anywhere

### What version of @mantine/hooks page do you have in package.json?

5.3.0

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know how to fix the issu

[2022-09-11 21:44] zhulien-ivanov commented on #2424
https://mantine.dev/changelog/5-0-0/#popover.
Title isn't supported anymore for `Popover` since v5.

[2022-09-12 00:38] #2424 closed

[2022-09-12 08:22] NeilJS opened #2426 "TAB navigation issue with date pickers"
### What package has an issue

@mantine/dates

### Describe the bug

Trying out the demo on the website – using TAB to navigate the date pickers. When a datepicker popup is opened, hitting TAB will cycle through the UI: previous month '<', month name, next month '>' then the day '1'.

Example issue: select next month '>' then hit TAB to cylce the UI again. It is no longer possible to gain focus on

[2022-09-12 09:13] Aram1d opened #2427 "Issue / Question regarding how useForm initialState is handled"
### What package has an issue

@mantine/form

### Describe the bug

I have a component showing 2 informations (They are passed with props). Since it's so small, I decided to incorporate an edit modal and handle the two fields state with `useForm` Hook.

`useForm` only take in account `initialValues` at first call, then place the values in a React ref. This leads to a bug after my 2 informations ar

[2022-09-12 10:03] josiahayres opened #2428 "Button not disabled when inside HTML <fieldset disabled>"
### What package has an issue

@mantine/core

### Describe the bug

When making a React form, it's common to wrap the entire form inside a [<code>fieldset</code>](https://www.w3schools.com/tags/att_fieldset_disabled.asp) element, so you can quickly disable the entire form while it is submitting.

The bug is that the Button component is not set as disabled when inside a fieldset element.

TextInput

[2022-09-12 10:35] rtivital commented on #2426
Thanks for reporting

[2022-09-12 10:40] rtivital commented on #2428
Hi @josiahayres, thanks for reporting an issue. I do not know how to fix that, so let's wait for someone from the community to fix this.

[2022-09-12 12:33] UgurKacak commented on #2428
Hi @rtivital,
I figured out this CodeSandbox (https://codesandbox.io/s/confident-ishizaka-dt9y3d?file=/src/App.tsx), which is shared by @josiahayres when fieldset is set as disabled **Switch** component "_.disabled_" CSS activated. The switch component has its own "_.disabled_" definition on its Switch.styles.ts file. However, the **Button** component has no "_.disabled_ "style definition in its B

[2022-09-12 13:55] UgurKacak commented on #2428
Hi, again @rtivital, @josiahayres
I don't have time to create PR. However, it seems working right now. Not sure of the best practice on this use case.
Add Following Code Line 137 in "**_src/mantine-core/src/Button/Button.styles.ts_**" file;
[code]
The final component should be like that;

[code]

[2022-09-12 18:38] pauloendoh commented on #2350
I'm having this problem as well. Only when copy pasting images on latest NextJS version.

[2022-09-13 15:05] Eliasmgprado opened #2436 "closeModal not working with openModal"
### What package has an issue

@mantine/modals

### Describe the bug

Want to open mutiple modals with openModal() function and close the modals with closeModal() function, using the modalId provided to the openModal() function. However, closeModal() is closing all opened modals, insted of the modal with the provided modalId.

### What version of @mantine/hooks page do you have in package.json?

5

[2022-09-13 15:29] 7iomka commented on #2419
There is a source of problem!
https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/Modal/Modal.styles.ts#L90
Why this margin exists?)

[2022-09-13 15:55] Hinterberger-Thomas opened #2437 "Button gets hidden when using tailwind"
### What package has an issue

@mantine/core

### Describe the bug

Button gets hidden when using tailwind

When I tried to add the `@tailwind` directives to the `global.css` file, all the buttons disappeared.  I was trying to use the t3 stack and I tried to set it up myself, however, it still didn't work.

### What version of @mantine/hooks page do you have in package.json?

5.3.0

### If possibl

[2022-09-13 16:09] 7iomka commented on #2419
Also, you need to add to inner `overflowX: 'hidden'`
Because [overflowY](https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/Modal/Modal.styles.ts#L58) adds issues, so when you open modal fullscreen content can show horizontal scrollbar for a moment, and this can be a huge issue in my case, when map inside it use parent dimmensions (height can be different)

[2022-09-13 16:33] rtivital commented on #2437
Hi @Hinterberger-Thomas, you've installed a third-party library to your project that overrides Mantine styles. To fix that issue, either remove those styles or change emotion cache options to make Mantine styles override third-party library styles – https://mantine.dev/theming/emotion-cache/

[2022-09-13 17:56] Hinterberger-Thomas commented on #2437
Oh yeah that fixed it! Just got confused because when i updated mantine this problem accured

thanks for the help!

[2022-09-13 17:56] #2437 closed

[2022-09-13 18:38] rafae2k opened #2438 "Cannot find module '@emotion/server/create-instance' after upgrade to ˆ5.0.3"
### What package has an issue

@mantine/core

### Describe the bug

After upgrading from 4.2 to 5.0.3 we get into this error:

cannot find module '@emotion/server/create-instance'

[code]

### What version of @mantine/hooks page do you have in package.json?

5.3.0

### If possible, please include a link to a codesandbox with the reproduced problem

n/a

### Do you know how to fix the issue

No

##

[2022-09-13 19:01] rtivital commented on #2438
You need to install `@emotion/react` and `@emotion/server` packages, see changelog – https://mantine.dev/changelog/5-0-0/#emotion-packages-as-peer-dependencies

[2022-09-13 19:01] #2438 closed

[2022-09-14 09:47] hassanzohdy opened #2442 "incompatible support for RTL with Carousel"
### What package has an issue

@mantine/carousel

### Describe the bug

When wrapping the application in RTL, the carousel are flipped, also it only renders the first carousel item

### What version of @mantine/hooks page do you have in package.json?

5.3.0

### If possible, please include a link to a codesandbox with the reproduced problem

https://codesandbox.io/s/stoic-meninsky-1s5fdw?file=/src

[2022-09-14 12:11] NarSiiiS commented on #2442
According to the documentation you need Add dir="rtl" to html element:

`<html dir="rtl">...</html>`

[2022-09-14 13:16] rtivital commented on #2442
It works as expected then – https://codesandbox.io/s/cranky-ptolemy-ustws2

[2022-09-14 13:16] #2442 closed

[2022-09-14 13:27] #2255 closed

[2022-09-14 13:28] rtivital commented on #2397
Closing this, as it can be fixed by setting width

[2022-09-14 13:28] #2397 closed

[2022-09-14 13:36] rtivital commented on #2390
I've checked this issue – menu cannot be opened with click for hover trigger because focus will not be trapped. It does not make much sense to open the menu in this case.

[2022-09-14 13:36] #2390 closed

[2022-09-14 13:57] rtivital commented on #2404
Fixed in 5.3.1

[2022-09-14 13:57] #2404 closed

[2022-09-14 13:57] rtivital commented on #2400
Fixed in 5.3.1

[2022-09-14 13:57] #2400 closed

[2022-09-14 13:58] rtivital commented on #2359
Help is still wanted on this, if someone wants to submit a PR feel free to ping me here.

[2022-09-14 13:59] rtivital commented on #2371
Help is still wanted on this, if someone wants to submit a PR feel free to ping me here.

[2022-09-14 14:03] rtivital commented on #2427
Call form.resetDirty when your form is submitted – https://codesandbox.io/s/mantine-useform-issue-forked-fcsvl8?file=/src/App.tsx

[2022-09-14 14:03] #2427 closed

[2022-09-14 14:11] Eliasmgprado commented on #2436
The example uses openContextModal instead of openModal, the problem is with openModal function. As showed in the code sandbox, when multiple modal are opened with openModal function, you can`t close the modals with closeModal() function, providing the modalId, passes to the props of openModal(). The closeModal() function close all the opened modals, and not just the one of the provided id.

[2022-09-14 15:26] pingf opened #2443 "@mantine/rte upload from copy & paste will trigger an error"
### What package has an issue

@mantine/rte

### Describe the bug

when I copy from screenshot, the rte component will report an error

Uncaught (in promise) TypeError: Cannot read properties of null (reading 'index')
    at t.insertToEditor (app-09159f8911f03901da87.js:sourcemap:2:2251464)
    at app-09159f8911f03901da87.js:sourcemap:2:2251142

even in the official website, the same bug existed

[2022-09-14 15:55] yaldram opened #2444 "Slider not showing correct values"
### What package has an issue

@mantine/core

### Describe the bug

For the Slider component if I have the following code -
[code]
My `min = 1 & max = 100`. I am getting `101` as my max value -
<img width="926" alt="image" src="https://user-images.githubusercontent.com/13429535/190203156-d9313d32-8b8b-46b2-8294-7427d11a49a4.png">

### What version of @mantine/hooks page do you have in package.json

[2022-09-14 16:38] yaldram commented on #2444
Technically this is not a Bug, this is how the math works, I have seen the same behaviour in other libraries

[2022-09-14 17:46] IdrisIsra commented on #2371
@rtivital I think I have a fix, please review PR.

[2022-09-14 17:59] rtivital commented on #2444
Thanks for reporting

[2022-09-14 18:00] #2443 closed

[2022-09-14 18:02] yaldram commented on #2444
We can do the following under `src/mantine-core/src/Slider/utils/get-change-value/get-change-value.ts` -

[code]
instead of just

[code]

[2022-09-14 18:40] 7iomka opened #2447 "Wrong carousel size calculation formula when includeGapInSize = true"
### What package has an issue

@mantine/carousel

### Describe the bug

When `includeGapInSize` true, we have styles logic on item like that
[code]

This produce wrong calculations
https://codepen.io/7iomka/pen/xxjRQGw

And get me unexpected behavior when I'm slide with nav buttons

https://user-images.githubusercontent.com/18473137/190236075-87fc1aa7-44e9-4f72-8bab-1740aa3a8d9f.mov

### What vers

[2022-09-14 20:14] kondricz opened #2448 "useForm persist string values, but drops number values between re-renders."
### What package has an issue

@mantine/form

### Describe the bug

Hello,

I have a situation where after every input change the component triggers a context update (debounced of course), therefore re-renders once the backend requests completed.

It appears that values saved in the useForm persisting between re-renders, only if they are saved as strings. Values saved as numbers are lost, when a r

[2022-09-14 20:17] AddictArts opened #2449 "Update @mantine/rte dependency of react-quill to 2.0.0 from the beta 4, 2.0.0-beta.4"
### What package has an issue

@mantine/rte

### Describe the bug

The beta version of react-quill has peerDependencies for react and react-dom `^16 || ^17`. This can result in a local `npm install` using react 18 failing. This creates confusion especially in a npm workspaces configuration. Version 2.0.0 of react-quill adds ^18, which would eliminate any Mantine running into installation fails and

[2022-09-15 04:28] atumas-bananamilk opened #2450 "Mantine Modals throw an error when clicking mouse fast"
### What package has an issue

@mantine/modals

### Describe the bug

My setup is pretty complex so I'm not sure I'd be able to create a minimal reproduction sample because I don't know what could be affecting this.

I also couldn't fix nor patch this bug internally. I tried.

It's a strange error. The error occurs when I:

- Fully refresh (CTRL + SHIFT + R) and at the same time
- I keep clicking

[2022-09-15 05:11] rtivital commented on #2450
Hi @atumas-bananamilk, it is not possible to identify the issue without reproduction

[2022-09-15 05:29] rtivital commented on #2448
Hi @kondricz, please provide a codesandbox (template– https://codesandbox.io/s/mantine-template-9ze89?file=/src/App.tsx:0-6) with minimal reproducible example https://stackoverflow.com/help/minimal-reproducible-example. It is not possible to identify the issue without reproduction.

[2022-09-15 05:37] yaldram commented on #2444
Also check the following scenario -

[code]

[2022-09-15 06:46] gyancodes commented on #2447
Hey @rtivital  @7iomka can I work on this issue?

[2022-09-15 06:55] rtivital commented on #2447
Yes, sure

[2022-09-15 06:56] #2428 closed

[2022-09-15 07:21] gyancodes commented on #2447
Hello, @7iomka. Could you please advise me on how to resolve this problem?

[2022-09-15 08:12] kyawkhaing-genie opened #2451 "Uncaught TypeError: Cannot read properties of undefined (reading 'display')"
### What package has an issue

@mantine/dates

### Describe the bug

DatePicker component from @mantine/dates throws style.display error in web component. It works everywhere, but, unfortunately, it doesn't work inside shadow dom. Can you guys check it out?

### What version of @mantine/hooks page do you have in package.json?

5.3.0

[2022-09-15 08:43] vegar opened #2452 "Indicator example & showZero prop"
### Link to the page where something nasty is located

https://mantine.dev/changelog/5-3-0/

### Exact quote of what is wrong

The code example indicates that the third profile should be shown without indicator if the value is zero, but the indicator is shown with a value of zero

![2022-09-15_10-40-02_vivaldi](https://user-images.githubusercontent.com/764517/190357741-60291c33-c48f-4bb0-b960-cd76

[2022-09-15 08:46] 7iomka commented on #2447
@gyancodes, @rtivital
Because now we have not access to props like `includeGapInSize` or `slideGap`, `slideSize`, from `CarouselStylesParams` to setup this fix as config on provider, we need fix in the lib.

Sample code
[code]
Of course, you need also to check somehow internally case when user not passed `slideGap` or `slideSize` but instead used props for `Carousel.Slide`, and, also if none of th

[2022-09-15 09:46] emewjin commented on #2451
same issue in Modal component when using it inside shadow DOM.
https://discord.com/channels/854810300876062770/1019167978731880498

[2022-09-15 10:39] gyancodes commented on #2447
@7iomka  How I can reproduce It, I am facing issues.

[2022-09-15 10:46] kyawkhaing-genie commented on #2451
yes! It should be! But, the mantine component will be messy just to support shadowDOM. Perhaps using React's useRef will be the better solution instead of using querySelector directly.

[2022-09-15 11:09] alexbakers opened #2454 "SegmentedControl bug after deploy"
### What package has an issue

@mantine/core

### Describe the bug

Hello,

Dev localhost `yarn dev`

<img width="194" alt="image" src="https://user-images.githubusercontent.com/98721968/190387979-84047725-a844-46bd-9b19-63e49fa9594a.png">

<img width="572" alt="image" src="https://user-images.githubusercontent.com/98721968/190388502-f49db58d-1f85-4a85-924a-2991b62ddea1.png">

After deployment `ya

[2022-09-15 11:54] hornta opened #2457 "Weird behaviour when pressing arrow keys in select when hovering item"
### What package has an issue

@mantine/core

### Describe the bug

When hovering an item with the cursor and at the same time pressing `arrow down` to scroll down when the next item needs to be scrolled into view then the hovered item under the corsor gets selected.

![Animation (2)](https://user-images.githubusercontent.com/4553604/190396595-864c0eba-2057-4d96-b2b5-6eb17c31baa7.gif)

### What ve

[2022-09-15 11:56] rtivital commented on #2454
Hi @alexbakers, please make sure that you do not have any third-party libraries that override Mantine components styles. If that does not help, please provide a sandbox that reproduces the issue.

[2022-09-15 11:58] rtivital commented on #2452
Thanks for reporting

[2022-09-15 12:03] 7iomka commented on #2447
I created a demo component which demonstrates the problem.
Use it somehow locally to make changes in the lib to fix formula.
https://codesandbox.io/p/github/7iomka/effector-react-form-flow/draft/suspicious-austin?file=%2Fsrc%2Fwidgets%2Fproduct%2Fproduct-carousel%2Fproduct-carousel.component.tsx&selection=%5B%7B%22endColumn%22%3A1%2C%22endLineNumber%22%3A20%2C%22startColumn%22%3A1%2C%22startLineNu

[2022-09-15 12:05] rtivital commented on #2451
Hi @kyawkhaing-genie, currently we do not provide any official support for shadow DOM, and it is not a part of the roadmap.

[2022-09-15 12:05] #2451 closed

[2022-09-15 12:06] #2457 closed

[2022-09-15 12:52] alexbakers commented on #2454
Thank you for your quick response.

<img width="276" alt="image" src="https://user-images.githubusercontent.com/98721968/190408442-8abf2b06-aad0-4707-877f-a96b3803c55d.png">

https://codesandbox.io/s/naughty-johnson-v5qzgx

[2022-09-15 13:07] UgurKacak commented on #2436
Hello,
The top right close button is working as expected. However, closeModal("butonId") method call inside <Button> onClick, not working as expected. Because while this call happened, ModalProvider's closeModal function faced an empty state instead of the state that holds two opened modals. I think the problem is here.

[2022-09-15 14:34] rtivital commented on #2454
Thanks for reproduction, the issue is fixed in 5.3.2

[2022-09-15 14:34] #2454 closed

[2022-09-15 14:35] rtivital commented on #2452
Fixed

[2022-09-15 14:35] #2452 closed

[2022-09-15 14:35] rtivital commented on #2449
Fixed in 5.3.2

[2022-09-15 14:35] #2449 closed

[2022-09-15 14:37] vegar commented on #2452
Looking at the fix - is it so that `showZero` only works if `dot` is `false`?

[2022-09-15 14:39] rtivital commented on #2452
yes

[2022-09-15 16:03] pmalliotas commented on #2359
Hi @rtivital. I have a fix ready for this issue. Should i submit a PR?

[2022-09-15 16:07] hunterwilhelm opened #2458 "Modal closeOnClickOutside not working"
### What package has an issue

@mantine/core

### Describe the bug

closeOnClickOutside is no longer working for the Modal component.

Perhaps caused by this bug fix?
https://github.com/mantinedev/mantine/commit/92305e227ef4c6a058e935937c5ba3623380e7ae

### What version of @mantine/hooks page do you have in package.json?

5.3.2

### If possible, please include a link to a codesandbox with the repr

[2022-09-15 18:32] Aram1d commented on #2427
Hi @rtivital For me this looks not satisfying.

Let me explain more context:
I have several live-queries in the app and the data object they return can change. As I use useForm in a Modal, the component having useForm is never unmounted.

Actually your implementation require that I do the following into a useEffect to have the complete useForm state reset :

- setValues(myNewValues)
- resetDirty()

[2022-09-15 18:47] vishnup-ditto opened #2460 "Range Slider fixed range"
### What package has an issue

@mantine/core

### Describe the bug

Hey @rtivital,

How do I create a [RangeSlider](https://mantine.dev/core/slider/) with a fixed range. I see the minRange prop that's slightly useful for me. I am interested in knowing how can I implement a Rangeslider with min and max of 2. So in a scale of 1-10 values, 0-2,1-3,... will only be select able (assuming step of 1). Is

[2022-09-15 18:50] hassanzohdy commented on #2442
thanks, that was my mistake :)

[2022-09-16 06:13] 108EAA0A opened #2467 "`Skeleton` ignores `classNames`"
### What package has an issue

@mantine/core

### Describe the bug

Passing `classNames` to `Skeleton` is ignored.
As a result, `classnames="[object Object]"` is output to the DOM.
![SS 2022-09-16 15 00 17](https://user-images.githubusercontent.com/23615952/190567825-1b3dfbe8-1a36-4259-bc2c-04d1c6fe92cc.png)

Perhaps it's because you're not explicitly receiving and processing `classNames` props in

[2022-09-16 06:19] mcmxcdev opened #2468 "Selected text wraps the whole input content for PasswordInput"
### What package has an issue

@mantine/core

### Describe the bug

When using https://mantine.dev/core/password-input/ and https://mantine.dev/core/text-input/ on the same page, they look inconsistent due to their differently sized selected text highlighting.

![Screenshot from 2022-09-16 08-14-04](https://user-images.githubusercontent.com/16797721/190569747-2a99f629-4ef1-432c-89b2-6f10e053568c.p

[2022-09-16 07:17] rtivital commented on #2467
It is expected behavior, Skeleton renders one node, you can add styles to it with sx or className props

[2022-09-16 07:17] #2467 closed

[2022-09-16 07:31] 108EAA0A commented on #2467
I didn't know that, thanks!
But then, wouldn't it be better not to accept `classNames` ?
It is unkind that there is no error despite the unintentional rendering to the DOM.
I think the type definition needs to be improved.

[2022-09-16 08:07] rtivital commented on #2467
I wasn't able to make it work, if you know how to implement that, feel free to send a PR to DefaultProps type

[2022-09-16 08:49] mcmxcdev opened #2470 "Invalid ARIA attribute value reported for aria-controls with uppercase values"
### What package has an issue

@mantine/core

### Describe the bug

Our `Tabs` component uses enum values like `YES` and `NO` and when rendered in the DOM this leads to `aria-controls="mantine-r6-panel-YES"`

[Axe](https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd) reports this as "Invalid ARIA attribute value". It seems that the value has to be a

[2022-09-16 09:11] 108EAA0A commented on #2467
@rtivital
Since this is a Skeleton-specific issue, we have created a PR against SkeletonProps.
https://github.com/mantinedev/mantine/pull/2471

[2022-09-16 10:36] yaldram commented on #2444
Also Please check the following scenario for the RangeSlider with minRange = stepSize it does not work -
[code]

Check this example from React Material UI - https://codesandbox.io/s/ph7nci?file=/demo.tsx

[2022-09-16 10:55] yaldram commented on #2444
Also Please check the following scenario the RangeSlider is stuck at 81 - 100 I am unable to choose a value 91 -100 -
[code]

[2022-09-16 11:38] yaldram commented on #2444
I would say if we have a non-uniform scale like `min - 1 to max - 100` as opposed to `min - 0 to max - 100` we are gonna face such issues. The Material UI Slider it does not have min range at all.

[2022-09-16 11:52] yaldram commented on #2444
Material UI has a demo with `minRange` & stepSize here - https://codesandbox.io/s/tezue3?file=/demo.tsx

[2022-09-16 13:03] rtivital commented on #2470
Hi @mcmxcdev, please provide a codesandbox (template– https://codesandbox.io/s/mantine-template-9ze89?file=/src/App.tsx:0-6) with minimal reproducible example https://stackoverflow.com/help/minimal-reproducible-example.

[2022-09-16 14:12] rickmoens commented on #2458
Indeed it is caused by setting the `z-index` to `-1` in 92305e227ef4c6a058e935937c5ba3623380e7ae

[2022-09-16 21:55] italodeandra opened #2477 "Textarea with autosize shows scrollbar when the text still fit the `maxRow`"
### What package has an issue

@mantine/core

### Describe the bug

Video demonstrating the bug:

https://user-images.githubusercontent.com/19225266/190802117-af029dc3-dc78-4dc5-91fa-779c889919a6.mp4

I'm not even using `maxRows` and the scrollbar still shows after I paste a big text, or programmatically update the field value with a big text.

### What version of @mantine/hooks page do you have i

[2022-09-16 22:21] italodeandra opened #2478 "MultiSelect with `searchable` and `creatable` hides caret when empty and hides new query when the query already exists"
### What package has an issue

@mantine/core

### Describe the bug

Pretty much the title. Demonstration:

https://user-images.githubusercontent.com/19225266/190815311-4b6548e6-d6b2-4f9b-a08b-8aa0dbc14265.mp4

In my opinion those two issues are UX problems. But some might disagree, because I'm not sure if those two behaviors were made by design.

### What version of @mantine/hooks page do you have

[2022-09-16 23:27] DaniloHP commented on #2458
Yep, noticed this too. You can even see it in the docs for Modal. [This specific example](https://mantine.dev/core/modal/#remove-title-and-close-button) actually soft locks the page because **`esc` to close modal doesn't seem to be working either** so there's no way to close that modal! This is pretty urgent IMO

[2022-09-17 00:12] csanchez24 opened #2481 "File input taking only the first accept attribute"
### What package has an issue

@mantine/dropzone

### Describe the bug

Hi,

on the Dropzone Component when clicking to open the file browser is taking only the first accept attribute.

![Screen Shot 2022-09-16 at 8 05 33 PM](https://user-images.githubusercontent.com/16311853/190832149-3b8abd55-46bd-43da-8011-5f35aa7edacd.png)

in the about example the first accept value is PNG so when clicking th

[2022-09-17 03:39] italodeandra commented on #2289
Fixed on https://github.com/mantinedev/mantine/pull/2351

[2022-09-17 03:54] italodeandra opened #2482 "Drawer content should be scrollable"
### What package has an issue

@mantine/core

### Describe the bug

Can't scroll down when the drawer content doesn't fit the window height.

![image](https://user-images.githubusercontent.com/19225266/190839477-d777e8a0-84af-4a6c-b329-cbce5d7779fe.png)

And it has been very difficult to make it work with ScrollArea.

My suggestion would be to make a new <Drawer.Content> that is scrollable and als

[2022-09-17 05:51] rtivital commented on #2477
Textarea is built with react-textarea-autosize package, this issue is not fixable on our side, you can report the issue in https://github.com/Andarist/react-textarea-autosize repository.

[2022-09-17 05:53] rtivital commented on #2478
I do not understand the issues, can you provide additional information? It seems to be working as intended based on the video.

[2022-09-17 09:43] rickmoens commented on #2458
A fix is to set the `z-index` of the `inner` element to `-1` and revert the `z-index` of the `overlay` element.  The scroll bar can then be used again, the only downside is that it is behind the overlay. See the [Codesandbox](https://codesandbox.io/s/mantine-core-2458-4geo7j?file=/src/App.js).

[2022-09-17 10:23] rtivital commented on #2300
Fixed

[2022-09-17 10:23] #2300 closed

[2022-09-17 10:24] rtivital commented on #2308
Fixed in 5.3.0

[2022-09-17 10:24] #2308 closed

[2022-09-17 10:24] #2314 closed

[2022-09-17 10:24] #2344 closed

[2022-09-17 10:33] rtivital commented on #2468
Fixed in 5.3.3

[2022-09-17 10:33] #2468 closed

[2022-09-17 10:34] rtivital commented on #2481
Fixed in 5.3.3

[2022-09-17 10:34] #2481 closed

[2022-09-17 10:34] rtivital commented on #2436
Fixed in 5.3.3

[2022-09-17 10:34] #2436 closed

[2022-09-17 10:34] rtivital commented on #2458
Fixed in 5.3.3

[2022-09-17 10:34] #2458 closed

[2022-09-17 10:35] rtivital commented on #2371
Issue is not fixed, #2445 is not a valid solution as click outside events do not work

[2022-09-17 10:37] arekrgw commented on #2426
My first thought was the issue with `tabIndex` html tag, tried to fix that by setting `focusable` to `true` in `MonthsList.tsx` while rendering `Month.tsx` but it didn't work

[2022-09-17 11:45] IdrisIsra commented on #2371
My bad, didn't notice that issue.

I'm kind of at a loss, any ideas? The only thing I can think of right now is to change the inset of the overlay so that it does not cover the scrollbar to the right, but this would need to be mirrored in RTL situations and it would also only need to not do this on mobile resolutions. As far as I know there's no way to give position: absolute to the scrollbar to m

[2022-09-17 13:52] italodeandra commented on #2477
I've used the same package on previous personal UI libraries, and MUI also uses it and I've never seen this issue.

Can you reopen the issue? I'll work on it then, because I'm 100% sure this is on Mantine's side.

[2022-09-17 13:56] italodeandra commented on #2478
The first issue is when I'm focused on the MultiSelect with an item already added, my caret is hidden. It should be still visible the same way it is when I type something or when there's no item added.

The second issue is that if you type the same name of a previous added item, the text you typed suddenly gets hidden.

Both issues are unusual UI behaviors and to me they feel like an UX problem si

[2022-09-17 19:35] rtivital commented on #2478
You can configure this behavior with `filter` and `shouldCreate` props

[2022-09-18 15:58] 7iomka commented on #2447
@gyancodes Hi, any news on this?)

[2022-09-19 02:08] danestves opened #2488 "`@mantine/rte` not displaying the editor on Remix"
### What package has an issue

@mantine/rte

### Describe the bug

As you can see on the screenshot, the `ref` is set correctly, I'm doing a simple example of `value` and `onChange` but it's appearing that quill editor is never rendered

![CleanShot 2022-09-18 at 22 05 49](https://user-images.githubusercontent.com/31737273/190939347-f38c5ef3-c1df-43b9-a658-0613bad4bfd3.png)

### What version of @m

[2022-09-19 03:27] danestves commented on #2488
Adding the `id` prop to the component makes everything work

[2022-09-19 03:27] #2488 closed

[2022-09-19 04:04] gyancodes commented on #2447
@7iomka Still I am working on it 🤦‍♂️, I think It will take some time.

[2022-09-19 08:17] #2360 closed

[2022-09-19 11:12] chrisganov opened #2491 "Missing styles documentation for Card component"
### Link to the page where something nasty is located

https://mantine.dev/core/card/

### Exact quote of what is wrong

The documentation for styling the Card component is missing

### Are you willing to create pull request with the fix?

No

[2022-09-19 11:50] rtivital commented on #2491
Card component supports everything described in the theming section, there is no need to include anything extra in its documentation.

[2022-09-19 11:50] #2491 closed

[2022-09-19 18:53] 7iomka opened #2494 "Keep the indentation with multiline contents of Item in List"
### What package has an issue

@mantine/core

### Describe the bug

When content in List.Item is wrapping, it starts on start of a new line without the same space as mark has.
<img width="829" alt="image" src="https://user-images.githubusercontent.com/18473137/191090638-b09f0c6c-1011-49e3-8630-833deed7f720.png">

I think, this is because you use `list-style-position: inside`.
<img width="730" alt=

[2022-09-19 19:31] italodeandra commented on #2478
Sorry, I didn't get how these props can fix the issue. Can you elaborate, please?

[2022-09-19 19:39] 7iomka opened #2495 "Inherit by default params in List.Item from List"
### What package has an issue

@mantine/core

### Describe the bug

For now how I see all params available on `ListStylesParams` is not inherited on `List.Item` by default.
This behavior produce impossible to check params on List when you trying to configure it on Provider level.
For example I tried to fix by myself [this issue](https://github.com/mantinedev/mantine/issues/2494)
See the demo link,

[2022-09-19 20:23] hichemfantar opened #2496 "Search functionality inexistent on mobile"
### Link to the page where something nasty is located

https://mantine.dev/

### Exact quote of what is wrong

I suggest adding it the mobile nav menu

### Are you willing to create pull request with the fix?

No

[2022-09-20 02:29] 7iomka opened #2500 "Wrong alignment behavior with Tooltip/Popover components"
### What package has an issue

@mantine/core

### Describe the bug

I like that you choose to go with Floating UI as a base for all tooltips, dropdowns, etc...
I love Floating UI, but with mantine I don't have the same behavior.

Image you have a tooltip text with approx. maximum width 450px.
Also you support responsiveness for at least 320px.

We have different behavior than expected (as in Float

[2022-09-20 03:17] ludwignagelhus opened #2501 "useViewportSize doesn't provide dimensions on initial render"
### What package has an issue

@mantine/hooks

### Describe the bug

`useViewportSize` sets its values in a useEffect, which means the size on the initial page render is

[code]

This causes a quick flicker on pages where I use these values to set the size of a div to take up all horizontal and vertical space.

Would it be okay to change the hook to instead set `width` and `height` with a `useLayo

[2022-09-20 07:03] rtivital commented on #2501
Are you sure that this will not produce hydration mismatch?

[2022-09-20 07:09] rtivital commented on #2496
It is not planned to add search on mobile

[2022-09-20 07:09] #2496 closed

[2022-09-20 07:12] rtivital commented on #2478
`filter` prop determines whether item should be displayed in the list, `shouldCreate` determines whether new item can be created with current search query. You can use these props to customize behavior to match your requirements.

[2022-09-20 07:56] Stouffi opened #2503 "MultiSelect - a regression makes the MultiSelect unusable in some circunstances"
### What package has an issue

@mantine/core

### Describe the bug

This is a regression as the same symptoms mentioned in #2059 are obtained for the same props given to MultiSelect

This new issue may have been introduced by this commit https://github.com/mantinedev/mantine/commit/80176313c6a5c58aee2bcc6917e79c293e36af7d

This line https://github.com/mantinedev/mantine/blob/5.4.0/src/mantine-core

[2022-09-20 09:50] mcmxcdev commented on #1698
I had another look at this and it seems that "Min and max dates" and "Styles based on modifiers" examples now are keyboard accessible, but https://mantine.dev/dates/date-picker/#allow-free-input still isn't.

Is this expected because users are supposed to enter it into the text field? Can't they both be enabled to type OR tab through the calendar?

[2022-09-20 10:04] rtivital commented on #2503
@achmurali maybe related to issue reported on Discord

[2022-09-20 10:57] 7iomka commented on #2500
Similar case
https://user-images.githubusercontent.com/18473137/191240527-777147cf-8daa-40eb-828c-ec3120808ebc.mov

[2022-09-20 11:06] Stouffi opened #2504 "@mantine/core some components cannot be given ref due to wrong typings"
### What package has an issue

@mantine/core

### Describe the bug

Examples with Grid and Timeline

[code]

Some other components could be affected

### What version of @mantine/hooks page do you have in package.json?

5.4.0

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know how to fix the issue

Yes

### Are you willing to partici

[2022-09-20 11:34] italodeandra commented on #2478
But the issue I mentioned happens on the search field (the query text), not in the options. You can check the video again to see better what I mean.

[2022-09-20 16:59] danestves opened #2506 "Tooltip arrow not moving to the correct direction"
### What package has an issue

@mantine/core

### Describe the bug

As you can see, the arrow is not moving where the trigger is positioned on the screen

<img width="364" alt="CleanShot 2022-09-20 at 12 58 03@2x" src="https://user-images.githubusercontent.com/31737273/191319426-fa2fd39a-d364-48e7-967e-8f1cc8a589a0.png">

### What version of @mantine/hooks page do you have in package.json?

5.4.0

[2022-09-20 17:40] rtivital commented on #2506
We'll need to integrate arrow middleware from floating ui, I wasn't able to make it work, PR for Tooltip and Popover components is welcome.

https://floating-ui.com/docs/arrow

[2022-09-20 17:49] 7iomka commented on #2494
Another simpler way to fix without any hack with `maxWidth`

[code]

[2022-09-20 18:06] omarsy opened #2507 "Disabled Mantine labels are inconsistent for radios and checkboxes."
### Link to the page where something nasty is located

https://codesandbox.io/s/wild-sunset-6zkf4u?file=/src/App.tsx

### Exact quote of what is wrong

Now when we disable the radio we have the label of the input changing color and the data-disabled is changed, which will also make styling the component easier.
![Capture d’écran 2022-09-20 à 20 04 59](https://user-images.githubusercontent.com/15

[2022-09-20 18:08] rtivital commented on #2507
Hi @omarsy, feel free to create a PR with this change, please also make sure that it is consistent across Checkbox, Radio and Switch components

[2022-09-21 02:36] hungnmhocmai opened #2512 "Carousel not update indicators when reinit, responsive"
### What package has an issue

@mantine/carousel

### Describe the bug

1. When I getApi embla and reinit with new number slideToScroll, indicators not update.
2. When responsive indicators not update.
### What version of @mantine/hooks page do you have in package.json?

"@mantine/carousel": "^5.4.0",

### If possible, please include a link to a codesandbox with the reproduced problem

_No respons

[2022-09-21 05:14] ludwignagelhus commented on #2501
I am not. I'll do some reading about hydration mismatch this week to see if I can figure it out.

[2022-09-21 07:19] hichemfantar commented on #2496
May I ask why?
I believe search on desktop uses spotlight so it would just be a matter of putting the search box inside the mobile menu.

[2022-09-21 07:53] rtivital commented on #2512
Hi @hungnmhocmai, please provide a codesandbox (template– https://codesandbox.io/s/mantine-template-9ze89?file=/src/App.tsx:0-6) with minimal reproducible example https://stackoverflow.com/help/minimal-reproducible-example. It is not possible to identify the issue without reproduction.

[2022-09-21 08:58] Saifurrahmanemon opened #2516 "Switch component's 'onLabel' and 'offLabel' shows TypeError"
### What package has an issue

@mantine/core

### Describe the bug

Switch component from **@mantine/core** shows TypeError when I try to Icon as children.
I took the code from Mantine core docs.

<img width="920" alt="Switch tsx (1)" src="https://user-images.githubusercontent.com/70877552/191461297-4fe647fb-cab9-48f3-b5ed-ebc7fd7ffd4f.png">

### What version of @mantine/hooks page do you have in

[2022-09-21 09:00] zulianrizki opened #2517 "NavigationProgress component didn't pass aria-label to Progress component"
### What package has an issue

@mantine/nprogress

### Describe the bug

Currently, there are no easy way to add `aria-label` to `NavigationProgress`. From the source code, it doesn't have any `aria-label` props although its underlying component `Progress` does have that props.

### What version of @mantine/hooks page do you have in package.json?

5.2.5

### If possible, please include a link to a

[2022-09-21 09:30] rtivital commented on #2516
Hi @Saifurrahmanemon you need to update your `@mantine/*` packages to latest version (5.4.0) to use new Switch component features

[2022-09-21 14:37] beckerin opened #2522 "Wrong html home page from mantie/carousel"
### Link to the page where something nasty is located

https://github.com/mantinedev/mantine/edit/master/src/mantine-carousel/package.json

### Exact quote of what is wrong

[code]
Should be
[code]
### Are you willing to create pull request with the fix?

Yes

[2022-09-21 16:08] #2522 closed

[2022-09-21 20:45] russell-davis commented on #2488
Had the same issue today. I added the `id` prop to the component like @danestves suggested and it fixed the issue. The code seems to default to the value that the `useId` hook returns, and only uses the `id` if provided, so I expected to be able to create a new instance without providing an `id` prop. 🤔

[2022-09-22 13:12] vishnup-ditto opened #2533 "Issue while running tests with mantine/hooks"
### What package has an issue

@mantine/hooks

### Describe the bug

When running a snapshot test using jest (@storybook/addon-storyshots)-[Link](https://storybook.js.org/addons/@storybook/addon-storyshots) in storybook I keep running into an error with a slider component.

Posting the stack trace here.

[code]

I believe this is due to https://github.com/mantinedev/mantine/blob/master/src/mantine

[2022-09-22 13:40] rtivital commented on #2533
Hi @vishnup-ditto, this issue is not related to Mantine, most likely you have incorrect test environment setup. We have tests for Slider component that work as expected with jest, you can check them as reference – https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/Slider/Slider/Slider.test.tsx

You can find jest configuration example here – https://github.com/mantinedev/mantine

[2022-09-22 13:40] #2533 closed

[2022-09-22 21:23] Bowis opened #2534 "Error: Cannot find module '../_isolated-hnrs/dist/emotion-react-_isolated-hnrs.browser.esm.js'"
### What package has an issue

@mantine/core

### Describe the bug

When setting up Mantine with a fairly empty NextJS project, I get the Error: Cannot find module '../_isolated-hnrs/dist/emotion-react-_isolated-hnrs.browser.esm.js'.

_document.tsx:
[code]

_app.tsx:
[code]

package.json:
[code]

### What version of @mantine/hooks page do you have in package.json?

5.4.0

### If possible, please i

[2022-09-22 22:21] 7iomka opened #2535 "Hide Menu with `withinPortal` when it target is hidden (itself or one of parents)"
### What package has an issue

@mantine/core

### Describe the bug

I have sticky header, when header is static - it have the navigation with Menu target (I'm used it to make priority navigation pattern)
When header is sticky, navigation is hidden.

So, I have a problem when I opened Menu (`withinPortal`), and scrolled and header changed status into sticky, target (trigger) is hidden, but menu sti

[2022-09-22 22:44] imaddev opened #2536 "RichTextEditor not working with latest version"
### What package has an issue

@mantine/rte

### Describe the bug

does not work with versions higher than 5.3.1

### What version of @mantine/hooks page do you have in package.json?

5.4.0

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know how to fix the issue

_No response_

### Are you willing to participate in fixing this issue

[2022-09-23 01:18] stephen776 commented on #2311
I've updated everything to the latest template and I am still experiencing the modal bug in production builds

[2022-09-23 06:31] rtivital commented on #2536
It works correctly on mantine.dev website – https://mantine.dev/others/rte/
Please provide a sandbox that reproduces the issue

[2022-09-23 06:32] rtivital commented on #2534
Try reinstalling dependencies

[2022-09-23 06:52] Zonalds commented on #2536
I have the same issue. I am on nextJs. This only happens when I upgrade to the latest version

Here is what I get

[2022-09-23 06:57] Bowis commented on #2534
I removed the node_modules and yarn.lock files, but even after reinstalling the dependencies the error stays

[2022-09-23 06:58] rtivital commented on #2534
Okay, then use https://github.com/mantinedev/mantine-next-template to get started, it is known to not have any issues

[2022-09-23 06:59] rtivital commented on #2536
See https://github.com/mantinedev/mantine/issues/2488

[2022-09-23 07:03] Zonalds commented on #2536
Thanks, adding `id` works.

[2022-09-23 07:22] justinsmid opened #2537 "Modal manager's functions are not memoized"
### What package has an issue

@mantine/modals

### Describe the bug

Looking at [ModalsProvider](https://github.com/mantinedev/mantine/blob/322538d9ed2848816e6ffaf40fec92438d33fc3b/src/mantine-modals/src/ModalsProvider.tsx#L83-L136), it seems it's functions aren't memoized (`useCallback`). This is causing some of our components to re-render since we are passing these functions to dependency array

[2022-09-23 07:46] rtivital commented on #2537
Both modals and notifications functions are based on external events – https://github.com/mantinedev/mantine/blob/master/src/mantine-modals/src/events.ts

There is always one instance of each function – they do not change.

[2022-09-23 07:46] #2537 closed

[2022-09-23 08:17] justinsmid commented on #2537
After further experimentation, I figured out a fix for my issue:

We have wrapper functions around `useModals` and `UseNotifications` that provide us with some extra functions and default styling:

[code]

As you can see, we were passing `rest` into our `useMemo`'s dependency array. If we instead explicitly get each function from mantine's hook and explicitly add these to the array, it works!:

[c

[2022-09-23 09:09] Martijn-Schoenmaker-Webbio opened #2538 "DatePicker onDropdownClose is called every mouse click outside component when no date was selected"
### What package has an issue

@mantine/dates

### Describe the bug

When opening the datepicker and closing it again after not having selected a date, the onDropdownClose call is fired every time you click outside a component. It only stops when opening again and selecting a date.

### What version of @mantine/hooks page do you have in package.json?

5.4.0

### If possible, please include a link

[2022-09-23 09:13] #2536 closed

[2022-09-23 09:20] Bowis commented on #2534
Deleting `yarn.lock` file in combination with the `node_modules` folder did the trick in the end.

[2022-09-23 09:20] #2534 closed

[2022-09-23 09:24] Martijn-Schoenmaker-Webbio opened #2539 "DatePicker onChange is called multiple times when allowFreeInput is set to true"
### What package has an issue

@mantine/dates

### Describe the bug

The following issues occur when allowFreeInput is set to true:

- When clearing the datepicker, the dropdown opens
- onChange is called when onBlur is called on the component, even though the value is the same.

### What version of @mantine/hooks page do you have in package.json?

5.4.0

### If possible, please include a link to

[2022-09-23 10:15] rtivital commented on #2539
It is expected behavior, it is not planned to be fixed

[2022-09-23 10:15] #2539 closed

[2022-09-23 12:56] JavaScriptJohn opened #2540 "use-idle documentation does not state what unit the timeout is in"
### Link to the page where something nasty is located

https://mantine.dev/hooks/use-idle

### Exact quote of what is wrong

I know this isn't a big deal and I'm sure it's in milliseconds, but it had me looking around for it

### Are you willing to create pull request with the fix?

_No response_

[2022-09-23 13:23] rtivital commented on #2540
First sentence: `use-idle detects if user does nothing for given time in ms:`

[2022-09-23 13:32] JavaScriptJohn commented on #2540
I completely missed it!

[2022-09-23 13:32] #2540 closed

[2022-09-24 02:44] jjantschulev opened #2543 "Group overwrites flexGrow of children due to css selector"
### What package has an issue

@mantine/core

### Describe the bug

I found this commit after some digging into a css issue I'm having after upgrading to mantine 5.4.0 from 5.3.0.

If I have a `<Group spacing={2} />` with several children and I want only a single one of these children to have `flex-grow: 1` then the child selector `& > *` will sometimes overwrite the `flex-grow: 1` of the child co

[2022-09-24 06:54] rtivital commented on #2543
Hi @jjantschulev, this is expected behavior based on new selector that Group uses, we've discussed it and decided that it will be a better approach rather than injecting className into every child. You can use `!important` to make sure that Group will not override your flex-grow styles.

[2022-09-24 06:54] #2543 closed

[2022-09-24 07:07] #2507 closed

[2022-09-24 07:08] #2504 closed

[2022-09-24 07:13] #2517 closed

[2022-09-24 07:14] rtivital commented on #2448
Hi @kondricz feel free to reopen the issue if you can provide a sandbox

[2022-09-24 07:14] #2448 closed

[2022-09-24 07:15] rtivital commented on #2470
Hi @mcmxcdev feel free to reopen the issue if you can provide a sandbox

[2022-09-24 07:15] #2470 closed

[2022-09-24 07:15] #2516 closed

[2022-09-24 10:29] zulianrizki commented on #2359
i tried to fix this issue. The idea is instead of calling `resetNavigationProgress` when the page load is done which will set the progress to 0 and reset the progress, now can use `finishNavigationProgress` to set the progress to 100, so progress will fill the entire width and then set the `autoReset` to `true` to automatically reset the progress bar.

[2022-09-24 12:14] devstardude commented on #2535
@7iomka @rtivital This looks interesting, Can I work on this?

[2022-09-24 13:08] rtivital commented on #2535
Yes, you can work on this

[2022-09-25 08:50] teaguestockwell commented on #2503
My use case is slightly different because i'm doing some network calls with the multi select, but i'm going to leave this here because I think the dropdown bug is related. I really hope this can be resolved. Mantine releases so many new features, and I would hate to have to lock this version to 5.2.7.

This behavior repros on > v5.2.7
https://codesandbox.io/s/mantine-async-multiselect-repro-xdw1r9

[2022-09-25 14:19] fatehwaharp commented on #2311
When run `npm run build` && 'npm run start' or in production, seems like the emotion styling wont applied to the portal, need to use inline style to fix the modal positioniong

[2022-09-25 15:34] fatehwaharp commented on #2311
When run `npm run build` && `npm run start` or in production, seems like the emotion styling does not applied in modal's portal.

![CleanShot 2022-09-25 at 23 32 07@2x](https://user-images.githubusercontent.com/306898/192151868-1d2d14f2-15db-4d70-8ee5-b451f5b8b88a.png)

[2022-09-25 20:38] 7iomka commented on #2447
Any progress? Tell me what difficulties you face? For me, this is a blocking bug that breaks the behavior of many carousels in my project

[2022-09-25 23:35] 7iomka opened #2550 "Wrong mediaQueries calculations from breakpoints"
### What package has an issue

@mantine/core

### Describe the bug

Hi.
I started using this library but just now I noticed that the math used to calculate mediaqueries is wrong
I have over 8 years in layout and most libraries like `bootstrap` use the following calculation model:

`N` - breakpoint shorthand (like `sm`, `md`, ...)

- MobileFirst approach
   -> minWidth N -> `@media (min-width: ${N}

[2022-09-25 23:43] 7iomka commented on #2550
In short,

for breakpoint `N`

**Wrong usage**
[code]

**Correct usage**
[code]

[2022-09-26 04:13] gyancodes commented on #2447
I am withdrawing from this issue as I am taking more time which will later create a problem. However, I will try to solve this asap.

Thanks and Regards

[2022-09-26 05:00] jackyleefu opened #2551 "Popover: the second time you click outside, popover will no longer hide"
### What package has an issue

@mantine/core

### Describe the bug

Popover: the first time you outside, it will be hidden, but the second time you click outside, popover will no longer hide

mantine official website with the reproduced problem

### What version of @mantine/hooks page do you have in package.json?

v5.4.1

### If possible, please include a link to a codesandbox with the reproduced

[2022-09-26 05:16] Celso-Ricardo opened #2552 "@mantine/rte npm vulnerabilities warning"
### What package has an issue

@mantine/rte

### Describe the bug

The Quill rich text editor package seems to throw a warning when installing, please build the @mantine/rte with Facebooks Lexical

https://github.com/facebook/lexical

### What version of @mantine/hooks page do you have in package.json?

"^5.4.0"

### If possible, please include a link to a codesandbox with the reproduced problem

[2022-09-26 05:48] rtivital commented on #2552
It is not an issue with `@mantine/rte` package

[2022-09-26 05:48] #2552 closed

[2022-09-26 05:49] rtivital commented on #2551
Thanks for reporting

[2022-09-26 22:48] stephen776 commented on #1734
Can this be re-opened? I’m having this issue with latest template and have tried everything mentioned in this thread. Happy to help if I can provide more info.

I’m getting hydration errors in production but things work fine in development

[2022-09-26 23:28] TheRarita opened #2556 "Grid offset overwritten to 0 on all breakpoints by default"
### What package has an issue

@mantine/core

### Describe the bug

https://codesandbox.io/s/quirky-night-zjv0rj?file=/src/App.tsx

All offset values have defaulted now to 0 so it no longer works as `min-width` query, as documentation claims - https://mantine.dev/core/grid/?t=props.

In the sandbox you can see that the offset only shows on medium breakpoint, but returns to 0 on large.

### What ve

[2022-09-27 06:17] rtivital commented on #1734
@stephen776, please provide a repository with minimal reproduction, I do not see any issues in mantine-remix-template

[2022-09-27 06:18] rtivital commented on #2556
Thanks for reporting

[2022-09-27 13:05] #2350 closed

[2022-09-27 13:26] stephen776 commented on #1734
Please disregard. My issue was unrelated.

[2022-09-27 13:41] stephen776 commented on #2311
Interestingly... removing the `<ClientProvider> ... </ClientProvider>` from `entry.client.tsx` fixes this issue for me in production.

I am wondering if anyone has any insight on this? Or whether this is a safe change?

[2022-09-27 15:46] zulianrizki opened #2564 "`Modal` get closed if you press `ESC` to dismiss the `DatePicker Popover`"
### What package has an issue

@mantine/dates

### Describe the bug

When you put `DatePicker` inside `Modal` it will close the `Modal` if you press `ESC` to dismiss the `DatePicker Popover` when the focus is on an element other than the `DatePicker-day`

### What version of @mantine/hooks page do you have in package.json?

5.2.4

### If possible, please include a link to a codesandbox with the re

[2022-09-27 19:26] anesask opened #2565 "How to get the key of the selected value from Autocomplete?"
### What package has an issue

@mantine/core

### Describe the bug

I am trying to retrieve id or key value from selected option from Autocomplete element.
I am getting value, but cannot manage to get key.
Thanks in advance.

### What version of @mantine/hooks page do you have in package.json?

5.4.0

### If possible, please include a link to a codesandbox with the reproduced problem

https://code

[2022-09-27 21:22] 7iomka commented on #2447
@gyancodes , @rtivital Hi guys
See the [demo](https://codesandbox.io/p/github/7iomka/effector-react-form-flow/draft/suspicious-austin?file=%2Fsrc%2Fwidgets%2Fproduct%2Fproduct-carousel%2Fproduct-carouse.styles.ts&selection=%5B%7B%22endColumn%22%3A1%2C%22endLineNumber%22%3A52%2C%22startColumn%22%3A1%2C%22startLineNumber%22%3A51%7D%5D)

I fixed the problem locally, please take a look.
Locally, we ha

[2022-09-27 23:32] klswn opened #2568 "Calendar: `hideOutsideDates` doesn't work if the outside day is disabled"
### What package has an issue

@mantine/dates

### Describe the bug

If an "outside" day is `disabled` (by setting a `minDate` for instance) then it doesn't receive the `data-outside` prop and the styling that enforces `hideOutsideDates` is never applied.

### What version of @mantine/hooks page do you have in package.json?

5.4.1

### If possible, please include a link to a codesandbox with the r

[2022-09-27 23:38] Slapbox opened #2569 "Uncontrolled tooltips don't appear in Chromium-based browsers when pointerType is 'pointer'"
### What package has an issue

@mantine/core

### Describe the bug

At least on the machines I have available to test with, uncontrolled tooltips generally will not appear at all - but rarely will appear for the first hover and then never again. Affects X11 and Wayland.

First discovered this on `5.2.7`.

### What version of @mantine/hooks page do you have in package.json?

5.4.1

### If possible,

[2022-09-28 00:47] RedFour opened #2570 "AppShell creates small gaps between header, navbar, and children"
### What package has an issue

@mantine/core

### Describe the bug

When using the AppShell component, it leaves a small one or two pixel gap at the bottom of the header. This can be seen between the header and the navbar, or the header and the children content.

### What version of @mantine/hooks page do you have in package.json?

5.4.1

### If possible, please include a link to a codesandbox wit

[2022-09-28 06:14] rtivital commented on #2447
@7iomka can you create a PR with a fix?

[2022-09-28 06:17] rtivital commented on #2569
I do not have a Linux computer, cannot resolve that, works fine on windows and macos.

[2022-09-28 06:18] rtivital commented on #2570
It is header border – https://codesandbox.io/s/vibrant-jerry-z9y1nb

[2022-09-28 06:18] #2570 closed

[2022-09-28 17:53] defrex opened #2571 "startNavigationProgress from global context generates state issues"
### What package has an issue

@mantine/nprogress

### Describe the bug

I'm attempting to use `@mantime/nprogress` with Apollo Client (as an `ApolloLink`) for a global loading indicator. The exact timing of Apollo request isn't bound to the React rendering flow. Unfortunately, if `startNavigationProgress` is called while React is rendering, React throws the following.

[code]

I've also noticed t

[2022-09-28 18:05] rtivital commented on #2571
Navigation progress and other similar modules use events that are added with `useLayoutEffect`. If you experience issues with firing events during render, you can call these functions in `useEffect`. I am not convinced that the fix should be done on our side.

[2022-09-28 18:14] defrex commented on #2571
I'm firing the events from outside React, so I have no opportunity to put them inside a `useEffect` callback.

To solve this without a Mantine fix, I'd need to manage my own global loading state with a very similar API, then call the nprogress methods from a custom effect somewhere near the top of my React tree. Doable but annoyingly redundant.

Plus I suspect my usage here is pretty typical, so i

[2022-09-28 18:22] rtivital commented on #2571
Alright, if you think that it should be solved on library level, let's start with a minimal reproduction that illustrates the issue, please use template to compose a sandbox – https://codesandbox.io/s/mantine-template-9ze89?file=/src/App.tsx:0-6

[2022-09-28 18:40] 7iomka commented on #2447
yes, give me rights, please

[2022-09-28 19:02] nmay231 commented on #2569
@Slapbox Your sandbox works fine for me on Ubuntu 22.04 (Wayland I think?) with Chrome 104.0.5112.101. I have tried hovering/unhovering multiple times, switching focus between tabs and windows then trying again, and hovering while focused on another window.

Try opening an incognito window to see if an extension is causing the problem or something.

[2022-09-28 19:20] joemaffei opened #2573 "Checked and indeterminate should be independent Checkbox states"
### What package has an issue

@mantine/core

### Describe the bug

The Checkbox component's [implementation](https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/Checkbox/Checkbox.tsx#L116) sets the `checked` attribute of the input based first on the value of `indeterminate`, then the value of `checked`. That makes impossible to set the input to indeterminate and unchecked.

Whe

[2022-09-28 19:27] Slapbox commented on #2569
Thanks for testing @nmay231. Unfortunately it's definitely not due to any extension as I'm able to reproduce it in Chrome and in Electron, but maybe it's something related to GPU rendering on Linux?

I've been trying to test on a third machine but haven't been able to get a Chromium browser installed yet due to some dumb bug in Manjaro.

I'll update with further findings as I can.

[2022-09-28 19:34] joemaffei commented on #2573
Another possible solution would be to use ARIA attributes on a focusable/clickable div: https://www.w3.org/WAI/ARIA/apg/example-index/checkbox/checkbox-mixed.html

[2022-09-28 19:47] joemaffei commented on #2573
There is a link to a Codesandbox in the GitHub link in the description. I just forked it and adapted it to Mantine, which helps to see the difference in styling between native indeterminate checkboxes and Mantine's implementation: https://5yiehh.csb.app/

[2022-09-28 22:27] Slapbox commented on #2569
Got the third machine to run Chromium and the tooltips do work there.

@nmay231 would you be so kind as to screenshot the first two sections under `chrome://gpu`?

Here's mine on one of the problem machines:

![image](https://user-images.githubusercontent.com/6835891/192899558-3640b4d6-50b7-42ff-9793-7cb4d57ae451.png)

I imagine this must be some issue with `floating-ui`, but we use it in other ar

[2022-09-29 04:33] nmay231 commented on #2569
@Slapbox Sure thing.

Doesn't look like `Multiple Raster Threads: Enabled` is the issue, unfortunately.

![image](https://user-images.githubusercontent.com/35386821/192938869-05de5d09-1796-4fc9-a2cc-ce683a5397fc.png)

[2022-09-29 10:57] #2447 closed

[2022-09-29 11:07] rtivital commented on #629
Fixed in 5.4.2

[2022-09-29 11:07] #629 closed

[2022-09-29 14:26] BignonAG opened #2579 "V5.4.2 `ref` error on `SWITCH`"
### What package has an issue

@mantine/core

### Describe the bug

v5.4.2 has an error on `Switch`,  => `Property 'ref' does not exist on type 'IntrinsicAttributes & SwitchProps'`.

For reference, see issue #1769

### What version of @mantine/hooks page do you have in package.json?

5.4.2

### If possible, please include a link to a codesandbox with the reproduced problem

https://codesandbox.io/

[2022-09-30 03:53] jhanschoo commented on #2234
This is ultimately a GTK or chromium bug. I've opened an issue in chromium, but I don't expect any movement on it. https://bugs.chromium.org/p/chromium/issues/detail?id=1350487

[2022-09-30 06:17] rtivital commented on #2234
Alright, then to fix this issue set `useFsAccessApi` prop to `false`

[2022-09-30 06:17] #2234 closed

[2022-09-30 14:24] #2550 closed

[2022-09-30 14:29] steschwa opened #2586 "Inconsistent focus management with `MultiSelect` and `Select`"
### What package has an issue

@mantine/core

### Describe the bug

## Problem

Clicking on a `<MultiSelect>` input/trigger toggles the open state for the dropdown. In simple words: If the dropdown is closed and i click on the input/trigger it opens and if i click again it closes.

This behaviour is different to `<Select>` where a click on input/trigger with an opened dropdown **does not** toggle

[2022-09-30 14:46] pragathrao opened #2587 "Unable to import SpotlightActionProps from '@mantine/spotlight'"
### What package has an issue

@mantine/spotlight

### Describe the bug

I would like to change how my action components would look and in the docs, SpotlightActionProps from '@mantine/spotlight' is being imported and specific properties are being extracted and then styled, but I am unable to import SpotlightActionProps in the First Place.

<img width="1279" alt="error" src="https://user-images.gi

[2022-09-30 18:21] aviemet opened #2592 "Type issue when referencing theme.primaryShade"
### What package has an issue

@mantine/core

### Describe the bug

When using a theme system with light and dark options for `theme.primaryShade`, typescript gives an error when directly referencing the shade variable:

[code]

I'm not sure how to achieve this, but it seems the final type of the theme object needs to choose either `Shade` or `MantinePrimaryShade` depending on whether it's using a

[2022-10-01 00:59] Adel-ak opened #2593 "Menu close on click outside doesn't work as expected"
### What package has an issue

@mantine/core

### Describe the bug

The menu feature "close on click outside" works only the first time but then doesn't work as intended

Also when its stuck, closeOnEscape refuses to close

Also, there is a case when
1 - set closeOnClickOutside it false and closeOnEscape true
2 - click outside
3 - hitting ESC won't work

![menu](https://user-images.githubuserconte

[2022-10-01 01:16] Adel-ak commented on #2593
The issue is coming from Popover Component

[2022-10-01 06:25] rtivital commented on #2592
`theme.primaryShade` can be a string or an object, use `theme.fn.prumaryShade` function instead – https://codesandbox.io/s/sweet-cray-4xvh54?file=/src/App.tsx

[2022-10-01 06:25] #2592 closed

[2022-10-01 06:27] rtivital commented on #2587
`SpotlightActionProps` is a type, if you do not use TypeScript you need to remove all types imports from your code

[2022-10-01 06:27] #2587 closed

[2022-10-01 06:28] rtivital commented on #2586
You are welcome to create a PR with a fix

[2022-10-01 09:54] blahbleepew opened #2594 "Spoiler with buttons for labels causes nested <buttons /> warning"
### What package has an issue

@mantine/core

### Describe the bug

Using a spoiler with something like an action icon as a label works but causes a chromium warning

Example:

`<Spoiler showLabel={<ActionIcon />} />`

Result:

`<button> cannot appear as a descendant of <button>`

### What version of @mantine/hooks page do you have in package.json?

5.4.2

### If possible, please include a link to

[2022-10-01 10:00] snehilvj commented on #2538
+1

[2022-10-01 10:04] rtivital commented on #2594
It is expected, spoiler control is already a button, you cannot use ActionIcon or other buttons as labels.

[2022-10-01 10:04] #2594 closed

[2022-10-01 11:56] dauletbaev opened #2595 "FileButton onChange event is not trigerring"
### What package has an issue

@mantine/core

### Describe the bug

I am creating `Menu` with `FileButton` and regular `Button`s when I click and select file on `FileButton`'s `onChange` event is not firing.

### What version of @mantine/hooks page do you have in package.json?

5.4.0

### If possible, please include a link to a codesandbox with the reproduced problem

https://codesandbox.io/s/hard

[2022-10-01 12:40] rtivital commented on #2595
FileButton does not trigger onChange because it is unmounted from the dom before user picks the value – https://codesandbox.io/s/gallant-edison-z4jk8c?file=/src/Component.tsx

[2022-10-01 12:40] #2595 closed

[2022-10-01 12:59] dauletbaev commented on #2595
Thanks, got it.

[2022-10-01 13:10] rtivital commented on #2593
It works as intended – when you click outside the menu, it loses focus. Menu/Popover and other similar components can only spy on escape key presses if focus is inside the dropdown (otherwise there will be issues with escape key in nested overlays, for example, Menu inside Modal). `closeOnClickOutside` is an accessibility option – if you turn it off, you should expect some accessibility features n

[2022-10-01 13:10] #2593 closed

[2022-10-01 13:11] rtivital commented on #2512
Hi @hungnmhocmai, feel free to reopen the issue if you can provide a sandbox.

[2022-10-01 13:11] #2512 closed

[2022-10-01 13:42] percy507 opened #2596 "[bug] Tooltip doesn't work with icon property of Input component"
### What package has an issue

@mantine/core

### Describe the bug

See below code, the tooltip doesn't show the label.

[code]

### What version of @mantine/hooks page do you have in package.json?

5.4.2

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know how to fix the issue

_No response_

### Are you willing to participate in fix

[2022-10-01 13:45] rtivital commented on #2596
https://codesandbox.io/s/great-meadow-ee1h60

[2022-10-01 13:45] #2596 closed

[2022-10-01 16:57] Adel-ak commented on #2593
@rtivital ok the closeOnEscape makes sense

As for, when `closeOnClickOutside` is true, it should always close the menu when a mouse down or touch event is triggered.

But it only works on the first `closeOnClickOutside` event, every other `closeOnClickOutside` events work at random times.

I came up with a workaround and it's working as I believe it should have

I added it to the sandbox so you c

[2022-10-01 19:00] rtivital commented on #2593
It is a separate issue, see https://github.com/mantinedev/mantine/issues/2551, will be fixed with next release

[2022-10-02 04:45] fatehwaharp commented on #2311
You mean from this:
[code]
to this ?:

[code]

[2022-10-02 06:54] pragathrao commented on #2587
Sorry, I  don't have knowledge of TypeScript, Could You Please then Tell, me how could I get the action property in JS so that I can customize the Spotlight

[2022-10-02 08:17] rtivital commented on #2587
Remove everything that is not JavaScript from your code.

[2022-10-02 09:46] HoHieuLuc opened #2601 "RangeError: Invalid array length in Modal documentation"
### Link to the page where something nasty is located

https://mantine.dev/core/modal/#size-auto

### Exact quote of what is wrong

If you keep clicking "Remove badge" button in the modal, count will be less than 0, and the website turns white with error: "RangeError: Invalid array length"

### Are you willing to create pull request with the fix?

No

[2022-10-02 09:48] #2564 closed

[2022-10-02 10:02] rtivital commented on #2601
Thanks for reporting, the issue is fixed

[2022-10-02 10:02] #2601 closed

[2022-10-02 10:03] rtivital commented on #2579
Fixed in 5.5.0

[2022-10-02 10:03] #2579 closed

[2022-10-02 10:03] rtivital commented on #2573
Fixed in 5.5.0

[2022-10-02 10:03] #2573 closed

[2022-10-02 10:03] rtivital commented on #2551
Fixed in 5.5.0

[2022-10-02 10:03] #2551 closed

[2022-10-02 10:03] rtivital commented on #2500
Fixed in 5.5.0

[2022-10-02 10:03] #2500 closed

[2022-10-02 10:03] rtivital commented on #2494
Fixed in 5.5.0

[2022-10-02 10:03] #2494 closed

[2022-10-02 10:04] rtivital commented on #2359
Fixed in 5.5.0

[2022-10-02 10:04] #2359 closed

[2022-10-02 11:53] devstardude commented on #2535
@7iomka Can you please share the code from the above video, I want to try an idea that might fix the issue.

[2022-10-02 13:35] A-Marzoug opened #2603 "The `errorProps` aren't working in any component that depends on `Input.Wrapper`"
### What package has an issue

@mantine/core

### Describe the bug

The bug is described as follows: If I set `size="xl"` in the `TextInput` component and give the object `{size : "xs"}` as `errorProps` for the same component, the error size stays unchanged.

### What version of @mantine/hooks page do you have in package.json?

5.5.0

### If possible, please include a link to a codesandbox with th

[2022-10-02 14:14] 7iomka commented on #2494
@rtivital
Why you changed `list-style-position: outside;` ?
Outside position ignore indentation at all, and make me crazy to align my lists.
why didn't you just take [my suggestion](https://github.com/mantinedev/mantine/issues/2494#issuecomment-1252702904) to fix the problem?

[2022-10-02 14:49] rtivital commented on #2494
I guess because that's how you've described an issue. I did not work on it and the PR seemed fine. If you want to fix it other way, feel free to submit a PR.

[2022-10-02 15:44] 7iomka commented on #2494
@rtivital Done.

[2022-10-02 16:34] 7iomka commented on #2535
@devstardude https://codesandbox.io/s/dreamy-leftpad-mdfkgd?file=/src/App.tsx
Click to open menu, then try to scroll

[2022-10-02 18:55] stephen776 commented on #2311
No - keep the `<RemixBrowser />`

[2022-10-02 21:49] kddige opened #2609 "Next.JS SSR: dispatcher.useInsertionEffect is not a function"
### What package has an issue

@mantine/core

### Describe the bug

When using @mantine/core popover, or any of its siblings (Menu.Dropdown or Tooltip), with Next.JS SSR (Server side rendering), and exception is thrown:

    at useInsertionEffect (/Users/USER/Development/sandbox/PROJECT/node_modules/react/cjs/react.development.js:1638:21)
    at useEvent (/Users/USER/Development/sandbox/PROJECT/no

[2022-10-02 22:23] suchintan opened #2610 "Scroll area scrollbar size is not being respected in the hover property"
### What package has an issue

@mantine/core

### Describe the bug

I noticed that the scroll bar's hover area is bigger than the actual scroll bar. This is causing a really unusual bug in my work where my float-right component is being hidden behind the scroll bar

You can actually reproduce this on the scroll area demo page here:
https://mantine.dev/core/scroll-area/

https://user-images.githubu

[2022-10-03 01:24] grahampcharles opened #2612 "objectPosition property does not result in object-position setting of image"
### What package has an issue

@mantine/core

### Describe the bug

Setting the `objectPosition` property on the `sx` object of an `<Image>` does not set the corresponding `object-position` property in the object.

The code below returns a cropped image at position `50% 50%`, not the requested `0% 20%`

Inspecting the generated HTML you can see there's no `object-position` set.

[code]

### What v

[2022-10-03 06:17] rtivital commented on #2612
You can apply styles to imp element using styles api – https://codesandbox.io/s/angry-heisenberg-x9n83j?file=/src/App.tsx

[2022-10-03 06:17] #2612 closed

[2022-10-03 08:32] pragathrao commented on #2587
I got it to work, Thanks a lot, Was just unable to understand how just destructuring spotlight properties in a random function made it work,

[2022-10-03 08:41] micro9000 opened #2615 "Dropzone on excel MIME type, Microsoft Excel 97-2003 Worksheet is the first option in the dropdown list of file browser"
### What package has an issue

@mantine/dropzone

### Describe the bug

We're using Dropzone with MS_EXCEL_MIME_TYPE and the first option of the file browser is Microsoft Excel 97-2003 Worksheet, which is I think an old one, can we swap the position of xls and xlsx
I know we can use the MIME_TYPES constant and specify each types we need in an array but it's convenient to use the MS_EXCEL_MIME_TYPE

[2022-10-03 12:48] #2615 closed

[2022-10-03 14:36] HoHieuLuc opened #2618 "Button: bad UI when button is in loading state"
### What package has an issue

@mantine/core

### Describe the bug

When button is in loading state, it is very hard to read the text
![image](https://user-images.githubusercontent.com/62865718/193591871-2292fab6-e5ba-4b03-972e-c564f68e6e97.png)
![image](https://user-images.githubusercontent.com/62865718/193591903-85192c5b-3ba8-4e50-8c74-a143c46af928.png)

This is what it used to look like:
![imag

[2022-10-03 15:26] #2586 closed

[2022-10-03 15:27] #2503 closed

[2022-10-03 15:59] rtivital commented on #2618
Fixed in 5.5.1

[2022-10-03 15:59] #2618 closed, assigned to nobody

[2022-10-03 15:59] rtivital commented on #2603
Fixed in 5.5.1

[2022-10-03 15:59] #2603 closed

[2022-10-04 03:51] trangcongthanh commented on #2610
I got the same problem, but this is default behavior of `@radix-ui/react-scroll-area`. For most cases, this is not an issue. It only becomes a problem when I try to use ScrollArea component for the UI with small height. When the thumb appeared, I couldn't click the content below :(

In my case, I unset the min-width/min-height of the `thumb::before`:
[code]

If you want to disable it globally, you

[2022-10-04 10:14] devkwaku commented on #378
Issue present in `@mantine/core": "^5.3.2"`

Example code
[code]

[2022-10-04 10:43] rtivital commented on #378
It is issue of react-input-mask package, not Mantine

[2022-10-04 10:58] asplem opened #2623 "Menu component keyboard navigation limited to two items"
### What package has an issue

@mantine/core

### Describe the bug

When using keyboard navigation with arow keys after expanding the Menu component, only the first two elements are accessible.

This can be demonstrated in both Chrome and Firefox, using both our own app and using the Mantine documentation.

This seems to have been introduced in 5.5.0, as the codesandbox template (with Mantine 5.4.

[2022-10-04 12:03] Martijn-Schoenmaker-Webbio commented on #2538
@rtivital I think this issue is fixed with the 5.5.1 update by this merge --> https://github.com/mantinedev/mantine/pull/2602

[2022-10-04 12:25] rtivital commented on #2538
This PR is for MultiSelect only, there were no changes for DatePicker component

[2022-10-04 12:25] rtivital commented on #2623
Thanks for reporting

[2022-10-04 12:27] Martijn-Schoenmaker-Webbio commented on #2538
It seems like it did, I cannot replicate the issue in v 5.5.1: [Codesandbox](https://codesandbox.io/s/mantine-datepicker-ondropdownclose-calls-forked-2h3d99?file=/src/App.tsx)

[2022-10-04 12:43] rtivital commented on #2538
Well, no idea how it fixed it, but I'll take it

[2022-10-04 12:43] #2538 closed

[2022-10-04 15:04] rtivital commented on #2623
Fixed in 5.5.2

[2022-10-04 15:04] #2623 closed

[2022-10-04 15:04] rtivital commented on #2610
Fixed in 5.5.2

[2022-10-04 15:04] #2610 closed

[2022-10-04 15:10] rtivital commented on #2450
Hi @atumas-bananamilk, feel free to reopen the issue if you can provide a reproduction

[2022-10-04 15:10] #2450 closed

[2022-10-04 15:13] rtivital commented on #2495
Sandbox works correctly with 5.5.2 – https://codesandbox.io/s/thirsty-pare-hkwgsy?file=/src/App.tsx

[2022-10-04 15:36] BenJeau opened #2627 "MultiSelect and form usage not working as before"
### What package has an issue

@mantine/core

### Describe the bug

Controlling `MultiSelect` with a form does not work like before (was using `5.0.0` and just upgraded to `5.5.2`). After some testing, it seems like the last version that worked as I expected it was `5.0.2`, so it seems it _may_ be a change introduced in `5.1.0` - you can try it by changing the versions of the packages to `5.0.2` i

[2022-10-04 16:25] 7iomka commented on #2495
What you mean it works correctly?
Is there same problem
<img width="641" alt="image" src="https://user-images.githubusercontent.com/18473137/193873537-fe4241f2-3a8c-4302-80e8-7270a37af272.png">

listStyleType is undefined on Item logs

[2022-10-04 17:01] rtivital commented on #2627
It is how MultiSelect component is supposed to work, it is required to manage data state on your side – https://codesandbox.io/s/upbeat-orla-89u02k?file=/src/App.tsx

You can find an example of treatable multi select in documentation – https://mantine.dev/core/multi-select/#creatable

[2022-10-04 17:01] #2627 closed

[2022-10-04 18:07] grahampcharles commented on #2612
Thanks! I see now that the css property (should have been `object-position` was being set on one of the containing parent divs, where it didn't have any visual effect.)

[2022-10-05 11:01] josch0 opened #2631 "Image placeholder works not as expected"
### What package has an issue

@mantine/core

### Describe the bug

Without absolute height and width the placeholder is not usable. For responsive layouts, absolute height and width is not possible.

I would expect Image and AspectRatio in combination to solve the problem, but then the placeholder is not displayed at all.

### What version of @mantine/hooks page do you have in package.json?

5.5.

[2022-10-05 11:28] activenode opened #2632 "Inheritance doesn't work as expected / confusion"
### What package has an issue

@mantine/core

### Describe the bug

We love the `MantineProvider` - yet, we are confused about it's inheritance model and not sure if this is intended or a bug and **if** intended it misses some architectural description in the docs.

Sample:

[code]

### What version of @mantine/hooks page do you have in package.json?

5.5.2

### If possible, please include a link

[2022-10-05 11:44] rtivital commented on #2632
It is intended behavior to reduce theme merging complexity, themes are shallowly merged. Currently, there are not any plans to change merging logic.

[2022-10-05 11:53] activenode commented on #2632
Alright. But may I know in which way it reduces complexity? From a perspective of expecting  inheritance with the `inherit` property it's quite confusing.

You probably mean the complexity of merging deeply nested props on the mantine side. I'd get that but it would be nice to at least have a default of `components: {  ...prev.components }` .

Because otherwise one most do that in every single poi

[2022-10-05 12:06] rtivital commented on #2632
Components props can include `styles`, `classNames` and `defaultProps`. If full merging is implemented:
- `styles` from all MantineProviders should be applied (`styles` can be an object or a function)
- all `classNames` from all MantineProviders should be added to component styles api
- `defaultProps` should be merged

I do not really want to implement and then maintain this feature as it does not

[2022-10-05 12:13] spietras opened #2633 "`removeTrailingZeros` in `NumberInput` not working on initial value"
### What package has an issue

@mantine/core

### Describe the bug

When providing some initial value and it has trailing zeros when formatted with given precision (e.g. with `precision` being `3`, and `defaultValue` being `0.1`), then the trailing zeros are not removed initially. To remove them you need to first focus and then unfocus the input. See the sandbox for an example.

![image](https://u

[2022-10-05 12:21] activenode commented on #2632
Agreed.

Agreed.

In a Design-Systems way of thinking where a specific context decides on specific looks (e.g. different look in dark mode) it kinda makes sense to inherit most of the stuff though.

I mean we can workaround it with doing `components: {...theme.components}` that'll do it for now. Also we might just write a `MantineProvider` wrapper that will do the job for us and we're good.

One t

[2022-10-05 12:53] rtivital commented on #2632
You can store theme overrides in variables and merge them on your side without using `inherit` option

[2022-10-05 13:40] SalhiYassine opened #2634 "Chip colour prop is not changing the colour of the chip"
### What package has an issue

@mantine/core

### Describe the bug

On the mantine docs the chips do not change colour as and when selected, the same behaviour is observed in my own application.

https://mantine.dev/core/chip/?t=props

![image](https://user-images.githubusercontent.com/44145823/194074622-e7d5fa72-0666-4aad-bbef-04055fe57cb4.png)

### What version of @mantine/hooks page do you have

[2022-10-05 14:46] rtivital commented on #2634
Color changes only for selected chip, same as for Checkbox, Radio and Switch components

[2022-10-05 14:46] #2634 closed

[2022-10-05 16:28] activenode commented on #2632
Gotcha. Is there any good documentation what exactly to expect from `inherit` prop on `MantineProvider`? Maybe I missed it.

And say I'd invest a bit of time of proposing a merging mechanism would you want to see that or would you want to avoid it at all costs as of potential maintenance efforts?

[2022-10-05 16:45] rtivital commented on #2632
`inherit` is `{ ...parentTheme, ...themeOverride }`. You are welcome to submit a PR if you want to work on that.

[2022-10-05 18:11] activenode commented on #2632
Alright, thanks for the useful clarification. Curious where we go with this. Closing it for now :)

[2022-10-05 18:11] #2632 closed

[2022-10-05 18:17] rtivital commented on #2556
Fixed in 5.5.4

[2022-10-05 18:17] #2556 closed

[2022-10-05 18:20] wes337 commented on #2535
What is the expected behavior? Should the menu close if you scroll it's toggle button out of view?

[2022-10-05 18:22] rtivital commented on #2535
I suppose that it should work the same way as Menu without Portal

[2022-10-05 21:49] stepzhou opened #2641 "withGlobalStyles and withNormalizeCSS do not respect emotionCache"
### What package has an issue

@mantine/core

### Describe the bug

Reading through https://mantine.dev/theming/emotion-cache/, I got the impression that all styles should use the custom emotion cache. However, only styles created via `createStyles` use the custom cache.

## Repro

Codesandbox has the repro. Inspecting the page, my custom style are under the new container. While the global styles

[2022-10-05 22:22] 7iomka commented on #2500
@rtivital For me issue still present :(

1) Open the [DEMO](https://codesandbox.io/p/github/7iomka/effector-react-form-flow/draft/angry-kepler?file=%2Fpages%2Findex.tsx&selection=%5B%7B%22endColumn%22%3A32%2C%22endLineNumber%22%3A25%2C%22startColumn%22%3A32%2C%22startLineNumber%22%3A25%7D%5D)
2) Hover once to show tooltip first time. Then, resize ui window to the minimum allowed size, then try aga

[2022-10-06 01:56] Eriice opened #2642 "useLocalStorageHook set defaultValue to undefined but get empty string"
### What package has an issue

@mantine/hooks

### Describe the bug

Hello, why choose Nullish coalescing operator to make defaultValue which is undefined or null to empty string in useLocalStorageHook?

It's a little weird if I expect an undefined/null defaultValue but get an empty string.

---

Also, is there a typo here in [use-local-storage](https://mantine.dev/hooks/use-local-storage/#definit

[2022-10-06 03:42] flamrdevs opened #2643 "Avatar gradient variant"
### What package has an issue

@mantine/core

### Describe the bug

Avatar gradient variant don't respect default theme gradient

### What version of @mantine/hooks page do you have in package.json?

5.5.4

### If possible, please include a link to a codesandbox with the reproduced problem

https://codesandbox.io/s/mantine-avatar-bug-rj5jxq

### Do you know how to fix the issue

No

### Are you wi

[2022-10-06 06:45] kisstamasj opened #2644 "The rich text editor has some severity vulnerabilities"
### What package has an issue

@mantine/rte

### Describe the bug

The npm package manager says there are severity vulnerabilities issues with the text editor wich is inculdes to the @mantine/rte package.
[code]
The ``` npm audit fix --force``` command can't help.
Please consider the package update.

### What version of @mantine/hooks page do you have in package.json?

5.4.1

### If possible, plea

[2022-10-06 06:55] wes337 commented on #2535
Closing the menu dropdown using the menu context, when the children of `MenuTarget` unmount seems to fix this:

in `src/Menu/MenuTarget/MenuTarget.tsx`:
[code]

However the transition effect still applies, which gives a slight delay:
![image](https://user-images.githubusercontent.com/9464690/194234444-7ffe6396-3f4e-41b8-af72-45b787a9d160.png)

[2022-10-06 07:02] rtivital commented on #2641
I've tried integrating emotion cache into Global component, but it broke ssr in Remix. You can change emotion cache of these styles by using CacheProvider exported from `@emotion/core` package.

[2022-10-06 07:10] rtivital commented on #2500
No idea about that, maybe some issue with floating ui. Anyway, the issue was originally about arrow position and inline tooltip, the shift of tooltip is probably unrelated.

[2022-10-06 07:55] wes337 commented on #2535
It also seems to work for when the element becomes hidden:

- `<div style={{ visibility: isSticky ? 'hidden' : 'visible' }}>`: works for this
- `<div hidden={isSticky}>`: works for this too

[2022-10-06 08:43] kisstamasj opened #2645 "The TextInput throw error"
### What package has an issue

@mantine/core

### Describe the bug

In the console, there is a following error:
[code]

My package.json:
[code]

### What version of @mantine/hooks page do you have in package.json?

5.5.4

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know how to fix the issue

Yes

### Are you willing to participate

[2022-10-06 09:59] rtivital commented on #2645
TextInput uses useId react hook to generate random id, if that does not work, set `<TextInput id="your-static-id" />`

[2022-10-06 09:59] #2645 closed

[2022-10-06 11:33] AmirRivar opened #2647 "Box inherited components like Breadcrumbs have no component property in typescript"
### What package has an issue

@mantine/core

### Describe the bug

Although [Breadcrumbs main component is Box](https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/Breadcrumbs/Breadcrumbs.tsx#L60) and `component` property is supported by Breadcrumbs in plain Javascript, Typescript shows error.
This is happening in other components like Grid.

### What version of @mantine/hooks

[2022-10-06 12:22] zhulien-ivanov commented on #2643
I'll take a look in an hour.

[2022-10-06 12:25] Stouffi opened #2648 "Datepicker month property cannot be used"
### What package has an issue

@mantine/dates

### Describe the bug

Datepicker component exposes a `month` property to enable controlled mode for the month display. But the `onMonthChange` prop counterpart is not available. In addition the value given to `month` is ignored.

Comparing with the `Calendar` component, everything work as expected the `month` and `onMonthChange` can be used and the mo

[2022-10-06 12:57] rtivital commented on #2647
It is correct behavior, polymorphic components have huge performance impact, components that are not marked as polymorphic in documentation do not support `component` prop.

[2022-10-06 12:57] #2647 closed

[2022-10-06 12:58] #2535 closed

[2022-10-06 13:00] rtivital commented on #2535
@7iomka the fix provided by @wes337 will be available in next patch, reopen this issue if it does not solve it

[2022-10-06 16:33] rory-orennia opened #2652 "Carousel navigation breaks if inside a closed Collapse at page load"
### What package has an issue

@mantine/carousel

### Describe the bug

If you have a Carousel inside a Collapse at page load, you can't scroll through the options.  If you have withIndicators on you can see it thinking it's flipping pages, but the screen never re-renders with the updates.

Resizing the page seems to fix the issue.  Maybe it re-inits on resize?

### What version of @mantine/hooks

[2022-10-06 17:45] rtivital commented on #2652
Try using useAnimationOffsetEffect hook – https://mantine.dev/others/carousel/#carousel-container-animation-offset
If that does not help, get embla api and reinit carousel once collapse animation finishes

[2022-10-06 17:54] joemaffei commented on #2573
@rtivital Is the indeterminate property of the HTML input set according to the prop? I imagine you would need to do something like this:
[code]
Another option would be to set `aria-checked="mixed"` when checked and indeterminate but, as I understand it, that's only appropriate on non-input elements with `role="checkbox"`.

[2022-10-06 18:05] snehilvj commented on #2478
+1

[2022-10-06 19:52] 7iomka opened #2653 "Don't use color override in components with getRef"
### What package has an issue

@mantine/core

### Describe the bug

Don't use color override in code like this
https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/Checkbox/Checkbox.styles.ts#L139
This makes it almost impossible to override color for (in this case) Checkbox icon in active state on MantineProvider level, because it doesn't support `getRef`.

### What version of @m

[2022-10-06 19:58] rory-orennia commented on #2652
I gave the useAnimationOffsetEffect hook a try but with no luck.  Getting the API and then calling re-init worked well though.  I'm not sure if there's a better way of doing this without setTimeout(), so maybe let me know if there is, but here's the idea for anyone else googling this issue later:
[code]

[2022-10-06 20:32] Justin-Bento opened #2654 "Why Are There No Options for Non-TypeScript based Components?"
### Link to the page where something nasty is located

https://ui.mantine.dev/category/headers

### Exact quote of what is wrong

Why are there no updates for plain React Components?

So my project are not big enough to use Typescript, but they do require a significant amount of components. So I decided to use Mantine UI, since it was very flexible. When I found their components pages, all the com

[2022-10-07 04:11] RedFour opened #2655 "Tooltip is cut off by Card boundary"
### What package has an issue

@mantine/core

### Describe the bug

Create component with tooltip in Card. On hover, the tooltip is cut off by the Card boundary.

### What version of @mantine/hooks page do you have in package.json?

5.4.2

### If possible, please include a link to a codesandbox with the reproduced problem

https://codesandbox.io/s/optimistic-gagarin-i61qb9?file=/src/App.tsx

### D

[2022-10-07 04:16] #2643 closed

[2022-10-07 04:52] rtivital commented on #2655
https://codesandbox.io/s/hardcore-antonelli-ydw1fu?file=/src/App.tsx

[2022-10-07 04:52] #2655 closed

[2022-10-07 04:59] rtivital commented on #2654
Mantine UI is built with TypeScript, the website provides source code of components, we do not have source code written in JavaScript. Adding this feature will require a lot of additional maintenance, which we would like to avoid. To convert components to JavaScript:
- Remove all types from the code
- If you do not know what a type is, then remove everything that is not JavaScript, after that remo

[2022-10-07 04:59] #2654 closed

[2022-10-07 11:08] gfazioli opened #2657 "Missing import FileWithPath in docs"
### Link to the page where something nasty is located

https://mantine.dev/others/dropzone/#images-previews

### Exact quote of what is wrong

In the example provided, the `FileWithPath` used is not imported. The correct would be

[code]

### Are you willing to create pull request with the fix?

_No response_

[2022-10-07 13:51] suchintan commented on #2610
Thank you @rtivital and @trangcongthanh !

[2022-10-07 18:03] dekisr opened #2660 "Radio labelWrapper"
This [commit](https://github.com/mantinedev/mantine/commit/0513a481428fac9b1b4cd4547df07b3393630fe4#diff-e124c5671eb583bcac043dcf043a4e3f25f9f1ffcb13a0998d3217d4c4ca3ba5) removed some properties that broke when using some react node as label.

- before:
![Captura de Tela 2022-10-07 às 14 10 40](https://user-images.githubusercontent.com/38201274/194617483-6c8e9431-898e-4739-b7be-0f24628b4f98.png)

[2022-10-07 20:19] maxratajczak opened #2662 ""global styles guide" link redirects to 404 page"
### Link to the page where something nasty is located

https://mantine.dev/theming/theme-object/

### Exact quote of what is wrong

At the globalstyles section, the "global styles guide" link redirects to "https://mantine.dev/styles/global/" which is an invalid page.

### Are you willing to create pull request with the fix?

_No response_

[2022-10-08 22:56] adarshaacharya commented on #2662
I've [raised pr](https://github.com/mantinedev/mantine/pull/2666) for this issue.
@rtivital

[2022-10-09 05:51] #2662 closed

[2022-10-09 08:54] armanatz commented on #2371
@rtivital I was facing the same problem and I believe I fixed it with my PR #2669

[2022-10-09 10:15] adarshaacharya commented on #2657
I've raised pr fixing above issue @rtivital
https://github.com/mantinedev/mantine/pull/2670

[2022-10-09 14:30] CShatto99 opened #2671 "Typo in CHANGELOG Version 5.0.0 Dropzone section"
### Link to the page where something nasty is located

https://mantine.dev/changelog/5-0-0/#dropzone

### Exact quote of what is wrong

The second bullet point under the CHANGELOG Version 5.0.0 Dropzone changes contains a typo. Here is the bullet point in question:

- `FullScreenDropzone` component is no loner exported from the @mantine/dropzone package, use Dropzone.FullScreen component instead

[2022-10-10 07:10] EricEchemane opened #2677 "GridAutoColumns: dynamic simple grid columns based on a given width"
This component will dynamically assign the number of columns of the grid. Basically, it will compute the number of columns with a given width-`widthBasis` that can span across the parent.

[code]
![image](https://user-images.githubusercontent.com/68469018/194814141-0df94b66-5d75-44cb-aa0c-5f62cba2711b.png)
![image](https://user-images.githubusercontent.com/68469018/194814188-a8ce5324-2fbc-4d95-9e5

[2022-10-10 07:13] EricEchemane commented on #2677
This way, we don't need to configure `cols` explicitly on different breakpoints.

[2022-10-10 08:18] 7iomka opened #2678 "Add styles api support for Group and Stack components"
### What package has an issue

@mantine/core

### Describe the bug

Please, add styles api support for Group and Stack components
I'm still have a problem with a lot of library components in Safari < 14, because `gap` in flex is not supported in this browsers. Of course, I know you not supported Safari < 14, but I'm not found any workaround to make polyfill myself (I read about stilis plugins, but