[2021-05-04 05:06] cstrat opened #7 "MenuItem as Link not currently working"
Unless undocumented and different to Button - I can't seem to get a `MenuItem` to behave like a React Router Link element. This works fine with `Button` elements. As per the docs:

https://mantine.dev/core/button/#usage-with-react-router-and-other-libraries

[code]

This is key as my project uses `MenuItem` as React Router links in my application.

I looked at the source but have zero typescript e

[2021-05-04 06:16] cstrat commented on #7
Looking further into the docs, this should work!

All other props are supposed to be passed through to the `MenuItem` which is just a `Button` under the hood.

![image](https://user-images.githubusercontent.com/4209076/116966660-0624ba00-acf4-11eb-8355-5aa0c4e1a095.png)

[2021-05-04 07:24] rtivital commented on #7
Hi, I guess, it was not clear from documentation – MenuItem renders regular button element, not Button component, I've updated the docs to clarify that part.

MenuItem must always render `button` element to support keyboard events (handle Enter and Space key presses), if you need to change a page with menu, use `() => { window.location.href = '/target-url'; }` for regular links or `() => history.p

[2021-05-04 07:31] cstrat commented on #7
Thanks for clarifying & providing a solution.
Yeah I wasn't sure - and it does get confusing with the `button` vs `Button`

I am refactoring parts of my application from evergreen-ui which has some similar concepts. This works with their menu items while still supporting keyboard events.

[2021-05-04 22:50] nsaling opened #13 "Extra "use-" in "use-form" text and link for the authentication example"
Link: https://mantine.dev/pages/examples/#authentication-form
Quote: `Built with use-use-form hook`
PR: Sure

Looks like there's an extra `use-` in both the text and link.

[2021-05-05 06:31] rtivital commented on #13
Thanks for reporting, we will appreciate a PR

[2021-05-05 06:35] cstrat commented on #13
Just did a PR for you.

[2021-05-05 06:57] cstrat opened #16 "Menu popup position beneath button/icon?"
@mantine/core - Menu

See example here where I've made it work with `menuPosition` prop.
https://codesandbox.io/s/mantine-menu-popup-position-8xegv

However I feel this is a bit hacky and it might be better if the `Menu` component were able to set a `basePosition` somewhere else.

For example if you set the `basePosition` of the Menu to 'bottom-left' then the 0:0 coordinate of the Menu is the bott

[2021-05-05 06:58] #13 closed

[2021-05-05 07:33] rtivital commented on #16
I think it's a great idea to do this, but two props for position is no-go – it breaks the single source of truth principle and will definitely bring unnecessary confusion. It shall be implemented something like this to support both options via single prop:

[code]

Can you try out this and open a PR if this works out?

[2021-05-05 15:01] charliematters opened #21 "Hamburger menu won't scroll on Android browser"
As the title - I can't scroll the hamburger menu in either Brave or Chrome on my Android 11 phone

[2021-05-05 15:12] renatorib commented on #21
+1
issue started after 1.0.2

[2021-05-05 16:24] rtivital commented on #21
Thanks for reporting, I've deployed a fix

[2021-05-05 16:24] #21 closed

[2021-05-05 16:32] chrisvariety opened #22 "SSR Modal has client/server hydration mismatch"
Hi there! Trying out this package after seeing it in the [#1 spot on React Status Newsletter](https://react.statuscode.com/issues/237). It looks really well put together so far!

I have a use case that involves rendering a Modal via SSR (not within a Portal, which don't work with SSR anyway). When trying this out there's a client/server hydration mismatch.

Here's a minimal example that stems from

[2021-05-05 16:47] rtivital commented on #22
Hi, thanks for feedback and reporting the issue, I actually never tested opened modal in ssr mode, so that's good to know.
The issue here is that modal title and body is [connected to modal](https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/Modal/Modal.tsx#L118) with aria- attributes via random id, generated by [use-id](https://mantine.dev/hooks/use-id/) hook.

The problem is

[2021-05-05 16:51] chrisvariety commented on #22
Ah, perfect! Makes sense. Could be a worse problem than that for sure.

[2021-05-05 17:09] khushal87 opened #28 "Add new props to the Hr element"
Currently, the `Hr` component has only three props as `variant, size, and color`. We can have some more useful props such as inset(left, right, middle), orientation(vertical, horizontal), subHeader, and width.

Note: I am considering Hr in this package to be a standard `Divider`

Progress:

- [x] Inset
- [x] Orientation
- [x] subHeader
- [x] subHeaderStyle
- [x] Docs
- [x] Tests
- [x] Stories

[2021-05-05 17:10] khushal87 commented on #28
Hello admins! I want to work on this issue if it seems relevant to you all. Thank you. @cstrat @rtivital @srezanova

[2021-05-05 17:18] domhadfield opened #29 "@mantine/hooks missing types"
@mantine/hooks missing Typescript types

[2021-05-05 17:33] rtivital commented on #29
Thanks for bringing that up, we've released a fix in 1.0.3, @mantine/hooks have types now

[2021-05-05 17:33] #29 closed

[2021-05-05 17:38] rtivital commented on #28
Hi @khushal87 sounds good!
Can you describe what subHeader prop will do?
Also please make sure that component works fine with [Menu](https://mantine.dev/core/menu/) and [Card](https://mantine.dev/core/card/) after the changes (in horizontal orientation only), since these components have some context styles for Hr.

[2021-05-05 17:44] khushal87 commented on #28
@rtivital Thanks, sure I will check the following. For subheaders, you can refer https://material.io/components/dividers#usage.
Also, can you explain what is the realtime testing method you are using to test the changes in the package components visually, this will improve my workflow.

[2021-05-05 17:56] rtivital commented on #28
Yep, subHeader looks great, let's add it.
To get started locally:
- fork this repo
- clone your fork
- install dependencies with `yarn`
- run storybook – `npm run storybook` – we use storybook for local development, add stories that you need to test new features, don't worry on how it looks in storybook – it's not published anywhere
- don't forget to add props descriptions and tests
- after you fi

[2021-05-05 18:12] khushal87 commented on #28
Thanks a lot, @rtivital. I will soon raise a PR for the same.

[2021-05-05 18:21] chrisvariety opened #31 "Warning: [JSS] Rule is not linked. Missing sheet option "link: true"."
When starting the [mantine-next-example](https://github.com/mantinedev/mantine-next-example) with `npm run dev`, when you visit the root in your browser, you will see a flood of `Warning: [JSS] Rule is not linked. Missing sheet option "link: true".` messages in the terminal (not in the browser) due to SSR.

It looks like this is due to https://github.com/cssinjs/jss/issues/1277 but you may want to

[2021-05-05 18:24] rtivital commented on #31
Yes, that's a good point, I'll add mention about this to docs, thanks

[2021-05-05 19:20] chrisvariety opened #32 "Custom theme keys are discarded"
Providing a custom theme like this:

[code]

... ends up discarding the `brand` key silently. I believe this is because of https://github.com/mantinedev/mantine/blob/12ceb348f579fcdcbeb88c1d1b6abb7d00bf1eb3/src/mantine-theme/src/utils/merge-theme/merge-theme.ts#L12

I think at least documentation here would be nice (I checked the unpublished theming doc), but ideally these keys would be merged int

[2021-05-05 19:39] rtivital commented on #32
Unfortunately there is no way to support correct types in TypeScript for custom keys as theme is passed via context – this means that theme shape should be static. If you need to pass some value deep into the tree, use separate context provider. Mantine theme merging is made this way intentionally.

[2021-05-05 19:40] chrisvariety commented on #32
Gotcha, thanks much 🙏

[2021-05-05 19:40] #32 closed

[2021-05-05 19:47] rtivital commented on #28
@khushal87 sorry, I forgot one thing, when you will create a PR, please request a merge to next-1.1.0 as this feature is planned to release in minor release

[2021-05-05 22:07] cstrat commented on #28
Don't include me in that list, I've just helped fix some typos. Hoping I can contribute more though!

[2021-05-05 22:09] cstrat commented on #16
I agree, I only suggested that because I didn't want to suggest a breaking change, but what you're saying makes more sense to support both options with the one prop.

I've never used Typescript before but happy to give it a try later today if I have a chance!

[2021-05-06 03:44] cstrat commented on #16
That was a learning experience!

I got it all running following the contribution guideline.

After editing the storybook entry with the modified code and it all works fine.
I just couldn't work out how to add some spacing so that it doesn't sit directly against the button but `gutter` doesn't appear to do anything.

![image](https://user-images.githubusercontent.com/4209076/117238651-a6075280-ae70

[2021-05-06 03:53] cstrat commented on #16
Ah ok it looks like with tooltip there are some styles associated which setting `gutter` applies.
I will keep looking into it :)

[2021-05-06 04:34] khushal87 commented on #28
@rtivital sure! 😄

[2021-05-06 06:46] rtivital commented on #16
Looks good, by the way, it's not a breaking change if we add extra option to `menuPosition` prop – it will still support all previous options

[2021-05-06 06:54] cstrat commented on #16
It looks like there are a whole bunch of styles which are applied to tooltips which interact with the `placement` and `gutter` props. They would need to be replicated for the menu popup if those props were applied too.

Now I am sure I could hack together the code to make it work, but I already feel out of my depth with typescript and I've also never used `jss` for react styling. I will have a go

[2021-05-06 13:12] khushal87 commented on #28
Hey, @rtivital I was just running the storybook locally and facing this problem here. Can you help?

[code]

[2021-05-06 13:13] rtivital commented on #28
Let me check, I haven't tried on windows yet

[2021-05-06 13:20] khushal87 commented on #28
There's some path issue depending on the operating system according to me.

[2021-05-06 13:45] rtivital commented on #28
Sorry, I've spent half an hour debugging this on windows 10, and nothing seems to work, I can propose only to skip the storybook part and develop straight in docs, it also has HMR and should work on windows

[2021-05-06 14:34] khushal87 commented on #28
Okay, i will go through this issue, if I find the solution I will propose a fix in the meantime @rtivital

[2021-05-06 14:35] rtivital commented on #28
Okay, sounds good

[2021-05-06 14:42] khushal87 commented on #28
Hey @rtivital I made this working by this change in the ./configuration/storybook/main.js

[code]

I changes stories to []. Can you check if this works on other OS too, if this will work I will raise a PR and this would probably be a fix.

[2021-05-06 14:48] rtivital commented on #28
Well, that fixes the problem but also removes all stories 😄 , the value for stories is required for storybook to work

[2021-05-06 14:50] khushal87 commented on #28
Exactly, so the next steps are adding a suitable path here to fetch all the stories, let me see if I can fix this too.

[2021-05-06 15:52] khushal87 commented on #28
@rtivital [path.resolve(__dirname, '../../src/**/*.story.@(ts|tsx)').replace(/\\/g, '/')] this will work fine in every OS in my opinion can I raise a PR for it?

[2021-05-06 16:02] rtivital commented on #28
Yep, just checked, it works on MacOS:
[code]

Please create the PR

[2021-05-06 16:02] khushal87 commented on #28
Thanks @rtivital

[2021-05-06 18:05] khushal87 commented on #28
@rtivital A quick doubt. Why is the default Hr variant 'dashed'? I believe the most suitable would be 'solid'

[2021-05-06 18:30] rtivital commented on #28
I just always use dashed variant in my projects and never solid,but now that you add more features, lets change it to solid

[2021-05-06 18:55] khushal87 commented on #28
Okay. Thank you.

[2021-05-06 19:00] rtivital commented on #16
I use storybook for local development only for visual testing, it almost never includes all the cases for components and some stories look ugly and I believe that all examples should show how component may be used in real application, not dummy placeholder lorem ipsum with only edge cases. So the storybook will remain local.

[2021-05-07 05:31] khushal87 commented on #28
@rtivital I believe that `width` is a better name instead of `size` for Hr and Dividers. What is your opinion? Should I change it?

[2021-05-07 06:17] rtivital commented on #28
No let's leave size – it does not depend on the context. In vertical orientation size means width in horizontal – height. It's consistent with the rest of API

[2021-05-07 06:37] khushal87 commented on #28
Okay, got it. I am facing some issues with the vertical orientation styles, it is not coming up well. Let's see if different approaches work. Apart from that, everything is good to go. 💯

[2021-05-07 08:44] rubjo opened #38 "Intermediate !== Indeterminate"
Sorry to be that guy. :D

![Skjermbilde 2021-05-07 kl  10 43 46](https://user-images.githubusercontent.com/42270947/117423627-37360200-af21-11eb-84f0-4740f8463a7e.png)

[2021-05-07 09:56] cstrat opened #39 "LoadingOverlay doesn't fit parent container - rather fits entire screen"
https://codesandbox.io/s/mantine-loadingoverlay-toomuch-g8uqv?file=/src/App.js

Haven't looked under the hood to see why this is happening.

See the example codesandbox, the loading overlay covers the screen including the header div when it should be bound by the `<Paper>` element.

[2021-05-07 10:00] rtivital commented on #39
Overlays have position absolute and will take the 100% width and height of first parent with `position: 'relative'`. Guess, need to this to the docs as this is not obvious.

[2021-05-07 10:01] rtivital commented on #38
Oh, my brain always reads Indeterminate as intermediate, thanks for reporting

[2021-05-07 10:08] cstrat commented on #39
Sorry I didn't get that, I updated the codesandbox and yeah thats perfect.

[2021-05-07 10:47] rtivital commented on #39
I'll keep this open to remember to add this to docs

[2021-05-07 12:37] cstrat opened #41 "Notification onClose doesn't fire if closed via hideNotification"
See demo here:
https://codesandbox.io/s/mantine-notification-onclose-notfiring-cn8ci?file=/src/App.js

When  useing `hideNotification` the `onClose` hook doesn't fire.

You can close the notification by clicking the `x` and see the alert.
If you close via the button - it doesn't work.

[2021-05-07 12:41] khushal87 opened #42 "Sorting the Props in the props table in Alphabetical order"
The props in the prop table of Components are not sorted in alphabetical order. It would be much more appealing if we can sort it in Alphabetical order and display the props.

Eg:
![burger](https://user-images.githubusercontent.com/39884168/117451002-9286e500-af5f-11eb-8689-c9438514b4d2.PNG)

[2021-05-07 12:43] rtivital commented on #41
Good catch, this is because this logic is handled in [NotificationContainer](https://github.com/mantinedev/mantine/blob/master/src/mantine-notifications/src/NotificationContainer/NotificationContainer.tsx), this logic should be moved on [NotificationsProvider](https://github.com/mantinedev/mantine/blob/master/src/mantine-notifications/src/NotificationsProvider/NotificationsProvider.tsx)

[2021-05-07 12:45] rtivital commented on #42
Yep, seems reasonable, please create a PR

[2021-05-07 13:06] khushal87 commented on #42
@rtivital Branch in which I can raise the PR?

[2021-05-07 13:57] #42 closed

[2021-05-07 15:30] khushal87 commented on #38
@rtivital Only the text needs to be changed here right?

[2021-05-07 15:43] khushal87 commented on #38
Can I solve this issue, if you haven't started @rtivital?

[2021-05-07 15:44] rtivital commented on #38
Yes, sure, please create a PR to next-1.1.0

[2021-05-07 15:44] khushal87 commented on #38
Thanks :)

[2021-05-07 17:00] rtivital opened #46 "RingProgress component"
@mantine/core should export RingProgress component

<img width="120" alt="Screen Shot 2021-05-07 at 7 47 53 PM" src="https://user-images.githubusercontent.com/10353856/117482489-227f5b80-af6d-11eb-802a-5b26eaee16f1.png">
<img width="378" alt="Screen Shot 2021-05-07 at 7 54 04 PM" src="https://user-images.githubusercontent.com/10353856/117483140-029c6780-af6e-11eb-9644-c4fa01dfc5fc.png">

[Example

[2021-05-07 17:28] rtivital opened #47 "Slider component"
@mantine/core should export Slider component.

[Example on codepen](https://codepen.io/donalfonsnisnoni/pen/eYgMJEj)

Features for initial version:
- Single handle (range support may be added in future versions)
- Tooltip over handle
- Min, max and step support
- Horizontal orientation only
- Only controlled variant
- Component should follow [WAI ARIA practices](https://www.w3.org/TR/wai-aria-prac

[2021-05-07 17:38] rtivital opened #48 "Grid component"
@mantine/core should export Grid component with 12 columns flexbox grid

Exported components:
- Grid – wrapper component
- Col – column component, defines column width

Grid component props:
- **gutter (defaults to md)** – defines horizontal and vertical spacing between columns – xs, sm, md, lg, xl – predefined in `theme.spacing`,  number value to set spading in px.

Col component props:
- **span*

[2021-05-07 17:57] arpitBhalla commented on #47
hey @rtivital May I work on this?

[2021-05-07 18:01] rtivital commented on #47
Yes, sure, thanks, [here are contributions guideline](https://mantine.dev/pages/contribute/). Please create pull request to next-1.1.0 branch, if you have any questions regarding implementation contact me in this issue or [in Telegram](https://t.me/rtivital)

[2021-05-07 18:01] khushal87 commented on #38
Can be closed now. @rtivital

[2021-05-07 18:03] rtivital commented on #38
No, let's keep issue open until 1.1.0 release – it will be much more easier to remember what was done

[2021-05-07 18:04] arpitBhalla commented on #47
Sure, should I have to take that codepen and convert it into react?

[2021-05-07 18:06] khushal87 commented on #38
Agreed 💯

[2021-05-07 19:12] khushal87 commented on #31
This even occurs in the package itself. We need to fix it here too.

[2021-05-07 19:14] rtivital commented on #31
Where it happens? Never seen this before

[2021-05-07 19:19] rtivital opened #49 "@mantine/core Input: remove overflow on right section"
Issue described in discussion – https://github.com/mantinedev/mantine/discussions/40

[2021-05-07 21:14] doubleniki opened #50 "Module '"@mantine/core"' has no exported member 'SegmentedControl'"
Hi,

according to the docs, the core package should have named export of the `SegmentedControl` component.
But it doesn't.

I've checked the library's source code and even didn't find any folder with an identical or similar name :)

The idea is cool, but something is missing ;)

[2021-05-08 06:46] khushal87 commented on #31
Oh sorry, my bad! Was actually getting this `Cannot write file 'c:/Users/hrith/mantine/configuration/jest/enzyme.setup.js' because it would overwrite input file.`

[2021-05-08 08:37] rtivital commented on #22
[Released in 1.0.4](https://github.com/mantinedev/mantine/releases/tag/1.0.4)

[2021-05-08 08:37] #22 closed

[2021-05-08 08:37] rtivital commented on #41
[Released in 1.0.4](https://github.com/mantinedev/mantine/releases/tag/1.0.4)

[2021-05-08 08:37] #41 closed

[2021-05-08 08:37] rtivital commented on #31
[Released in 1.0.4](https://github.com/mantinedev/mantine/releases/tag/1.0.4)

[2021-05-08 08:37] #31 closed

[2021-05-08 08:37] rtivital commented on #49
[Released in 1.0.4](https://github.com/mantinedev/mantine/releases/tag/1.0.4)

[2021-05-08 08:37] #49 closed

[2021-05-08 08:37] rtivital commented on #39
[Released in 1.0.4](https://github.com/mantinedev/mantine/releases/tag/1.0.4)

[2021-05-08 08:37] #39 closed

[2021-05-08 10:32] juan-manuel-alberro opened #53 "SSR Styling issue"
Hi, I'm using Next.js (Blitz.js) and there's an issue with the example provided in [here](https://mantine.dev/guides/ssr/).
When I refresh the page in a particular route (/login for example) all the styles are removed (SSR rendering)

![no-styles](https://user-images.githubusercontent.com/7114488/117535951-52bc0e00-aff0-11eb-8e40-0be8c5d0d813.png)

And it seems to be related to the `useEffect` fro

[2021-05-08 10:58] rtivital commented on #53
Hi Juan, I've noticed something similar before with next, but was not able to reproduce that after restarting the server.
Can you share the source code which produces this behavior? If not, can you check if javascript part (like events handlers) of application is still works? My best guess is that js bundle is not loaded.

[2021-05-08 11:11] juan-manuel-alberro commented on #53
Hi @rtivital, here are the files `_app.jsx` and `_document.tsx`

https://gist.github.com/juan-manuel-alberro/193c3b04266c0fefdbf4167bab3de7db

Let me know if you need any other file,

[2021-05-08 11:24] rtivital commented on #53
The one thing which is definitely not right  – [createUseStyles inside component](https://gist.github.com/juan-manuel-alberro/193c3b04266c0fefdbf4167bab3de7db#file-_app-jsx-L34-L44), see https://mantine.dev/guides/dark-theme/#global-styles for correct example. I do not think that this is the case for broken scripts loading, to debug that I need to launch this locally and see what `<BlitzScript />`

[2021-05-08 11:46] rtivital commented on #53
Does production build have correct styles on this page?

[2021-05-08 11:47] juan-manuel-alberro commented on #53
Well, if I remove the

[code]
Now it renders properly from the SSR as well, and the theme switch is also working.
What are the implicates of removing that? Probably is not the best option 😄

[2021-05-08 12:16] rtivital commented on #53
Yep, server side styles should be removed to avoid performance issues.
Maybe something is wrong with hydration.
Can you try out your login page in our next example project to see if we can replicate the issue there?
- `git clone https://github.com/mantinedev/mantine-next-http-status-code`
- `yarn`
- Add login.tsx page with your components
- Check if it works in development
- `npm run build && npm

[2021-05-08 15:18] rtivital commented on #53
I've managed to replicate SSR issue with mantine docs. If you refresh page with component which uses Portal (e.g. Modal) some styles will be corrupted – https://mantine.dev/core/drawer/
These two things must be connected

[2021-05-08 16:08] rtivital commented on #53
@juan-manuel-alberro I've released a fix to Portal component, can you please update all your @mantine/ scoped packages to version 1.0.5 and check if this resolves the issue?

[2021-05-09 11:08] rtivital commented on #53
I've run some tests with Next.js and [fixed some issues](https://github.com/mantinedev/mantine/releases/tag/1.0.6), not sure that this will fix this issue but let's try anyway, I'm running out of ideas.

In package.json set fixed version for all @mantine/ packages:
[code]

[2021-05-09 12:21] juan-manuel-alberro commented on #53
@rtivital thanks for the update but the SSR issue is still reproducible.
If you want, I can share my repo with you so you can take a look.

[2021-05-09 12:22] rtivital commented on #53
@juan-manuel-alberro thanks, that will be perfect

[2021-05-09 13:06] juan-manuel-alberro commented on #53
@rtivital you can find the code [here](https://github.com/juan-manuel-alberro/mantine-ssr-issue)
#### Steps
1. yarn
2. blitz dev (blitz needs to be installed globally)

On the home page (`"/"`) there are _partial styles applied_ (the button is working fine but the theme icon no), after you press the toggle theme icon it will be fixed. Then if you press the Login button it goes to the login page an

[2021-05-09 14:05] rtivital commented on #53
Thanks for sharing, there is an issue with styles generation on the client, usually when component with react-jss styles is mounted, styles are added via style tag – in this case it does not happen – styles are not regenerated on client after application was mounted. I need to dig deeper to find out why it works in all other Next apps, right now my main clue is react version and suspense which is

[2021-05-09 14:06] juan-manuel-alberro commented on #53
Removing the `useEffect` works, partially, because when you switch themes you can see that the styles changes a little (something related with padding and margin)
Thanks.

[2021-05-09 14:15] rtivital commented on #53
This is strange, I'm not able to reproduce layout jumping in your application (this was the case with ssr before 1.0.6) but now it should be fixed

[2021-05-09 14:28] juan-manuel-alberro commented on #53
Yes, I'm not able to reproduce the layout jump with the 1.0.6.
I'll remove the useEffect and continue without that for now, thanks!

[2021-05-09 15:46] rtivital commented on #53
All right, let's leave this issue opened for now, I want to get back some time later and see if it can be resolved

[2021-05-10 10:17] cstrat commented on #7
So this is actually proving to be a little bit annoying.
It breaks the user being able to middle click to launch a new tab etc...
I don't fully understand why you can support this:

[code]

But not on `MenuItem`?

Don't you need to support the same keyboard events with a `<Button>` as you do with `button`?

[2021-05-10 10:25] rtivital commented on #7
Well, okay, let's add it, seems reasonable

[2021-05-10 10:43] arpitBhalla commented on #47
@rtivital How can I add tooltip over thumb?

[2021-05-10 10:45] rtivital commented on #47
When mouse is over thumb display tooltip

[2021-05-10 10:47] arpitBhalla commented on #47
I mean do I need to make a div or I sholud use Tooltip component

[2021-05-10 10:51] rtivital commented on #47
Use div with Transition component

[2021-05-10 10:52] arpitBhalla commented on #47
Okie Sir

[2021-05-11 01:20] cstrat commented on #48
This will be great!

Assuming this will provide a responsive underlay we can use for mobile/desktop UIs.

[2021-05-11 06:13] rtivital commented on #48
That's a little bit tricky – currently I've done responsive support via `useMediaQuery` hook. It would be great to get some feedback before release. If you can assist that would be perfect.

To preview the feature:
- `git clone https://github.com/mantinedev/mantine`
- `git checkout next-1.1.0`
- `yarn`
- `npm run docs`
- navigate to http://localhost:7001/core/grid/

[2021-05-11 06:29] cstrat commented on #48
I don't use SSR so for me useMediaQuery works fine.
From what I've read about responsiveness in the repo - you've had to sacrifice some capability to better support SSR, right?

[2021-05-11 21:39] juan-manuel-alberro opened #67 "Classname issue in SSR"
Hello there 👋🏻

Following the example from the [theme selector](https://mantine.dev/guides/dark-theme/), I saw an issue with the `classname` while using SSR

[code]
It seems hydration is not working as expected in the `<ActionIcon />` component.

Tech notes:
[code]

Cheers

edit: on prod build the error is not there, only reproducible on dev mode 😄

[2021-05-12 07:17] rtivital commented on #67
Hi Juan, on prod issue does not show up because react-dom shows warnings only in dev mode – it's still there.
It's not ActionIcon which produces this error – if you comment it out, next component in rendering order will show this message. This is the same as #53 – server and client generate different classNames somehow.

[2021-05-12 10:22] Lalit2005 commented on #53
Hi, I am having the same problem too..
I am using NextJs not BlitzJs.
When I run `npm run dev` for the first time, everything works fine. But when I refresh the page every styling disappears. Nothing too much is there in `index.js` 👇
[code]

[code]

### Whenever I refresh the page every styling goes away 👇
![image](https://user-images.githubusercontent.com/69138026/117959653-dc921100-b339-11eb-97d

[2021-05-12 10:26] juan-manuel-alberro commented on #53
@Lalit2005 that's a known issue from JSS, is mentioned in the Mantine doc https://mantine.dev/guides/ssr/#known-issues-with-nextjs

[2021-05-12 11:14] rtivital commented on #53
@Lalit2005 just tried out clean installation with next.js with your code, cannot reproduce that, could you try attached folder and see if you can replicate this issue:
- download zip, extract it
- cd hello-mantine
- yarn
- npm run dev

I'm suspecting that this may be related to broken next cache but I cannot reproduce the issue

[hello-mantine.zip](https://github.com/mantinedev/mantine/files/64657

[2021-05-12 12:05] juan-manuel-alberro commented on #67
Do you want me to close this issue and follow this in the other ticket?

[2021-05-12 12:12] Lalit2005 commented on #53
Thanks!
Everything works now :)

[2021-05-12 12:57] rtivital commented on #67
Nope, let's leave this open so that anyone else can join the conversation

[2021-05-12 12:59] rtivital commented on #53
That's strange, if you ever face this issue again, please send me the zip with application (including next cache), I'll try to reproduce this on my side

[2021-05-13 06:14] rtivital opened #71 "@mantine/notifications: Queue is not exposed on use-notifications hook"
Notifications queue should be accessible via use-notifications hook

[2021-05-13 08:49] Rouby opened #72 "@mantine/hooks: use-media-query should set initial state based on media query"
Package: @mantine/hooks

The `use-media-query` hook should set the initial state based on an initial query of the media query.

This prevents e.g. a jump from light to dark color scheme at mounting of the app.

[2021-05-14 07:27] #72 closed

[2021-05-14 08:37] Rouby opened #74 "@mantine-hooks: useClickOutside fires double on touch devices"
Package: @matine/hooks
Version: 1.0.6
Browser: Chrome DevTools & Chrome Mobile

A `preventDefault` call on the underlying event should prevent any further handling of a touch event.

[2021-05-14 08:49] #74 closed

[2021-05-17 06:54] rtivital opened #78 "@mantine/core: Put Modal and Drawer in Portal by default"

[2021-05-17 07:10] blackcater opened #79 "Cannot work with vitejs."
I'am using mantine in vitejs. But it's not work.

![image](https://user-images.githubusercontent.com/9465551/118445931-9c5bd580-b721-11eb-91d4-5bb989789fbf.png)

The source code is here. https://github.com/blackcater/vitejs-with-mantine.bug-report

[2021-05-17 07:19] rtivital commented on #79
Hi Elon, thanks for reporting! I haven't used vite yet, so I cannot tell what's wrong here, if you can have a look at source code and help identify the issue that would be great.

Here is source code for Button component – https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/Button/Button.tsx

[2021-05-17 19:02] juan-manuel-alberro opened #80 "Menu control issue"
Hi,

I'm trying to use an `<Avatar />`  as a control for a menu but it seems it doesn't work properly (I cannot click the element and open the menu) when you wrap the element between `<Suspense />`

I'm getting the initials from an async call, the _hardcoded_ example is just to recreate the issue

[code]

Thanks.

[2021-05-17 19:26] rtivital commented on #80
Hi Juan, Menu component relies on React.cloneElement to provide props to control – https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/Menu/Menu.tsx#L131-L141

In your example these props are set on Suspense component instead of Avatar, to fix that you can wrap everything with div/span element:

[code]

[2021-05-17 19:29] rtivital commented on #80
Note that non-interactive elements like avatar are not supposed to be used with menu, as it will break accessibility and keyboard support, use regular button in case you care about that (it will require additional styling to remove default button appearance though)

[2021-05-17 19:30] juan-manuel-alberro commented on #80
Hi @rtivital
Yes, I tried that but no luck, I also use other components like `<Container>` as a parent but the click is not available.
I'll consider your comment and use a Button instead, thanks 😄

[2021-05-17 19:35] juan-manuel-alberro commented on #80
I had to do this

[code]
And worked as expected, if I include the `<div>` inside my component it doesn't work.
I'll close the issue then, thanks 😄

[2021-05-17 19:37] #80 closed

[2021-05-17 19:39] rtivital commented on #80
I've created a demo with avatar, works fine – https://codesandbox.io/s/holy-bash-0emdw?file=/src/App.tsx

In your component you need to spread `...others` props to enable all events from Menu.

[2021-05-17 19:49] juan-manuel-alberro commented on #80
Following your example, I added the other cases I tried before - https://codesandbox.io/s/musing-lovelace-unywp
For some reason including the parent inside the component didn't work.

[2021-05-17 19:53] rtivital commented on #80
You need to spread props to target element – https://codesandbox.io/s/zealous-euclid-h6vly?file=/src/App.tsx

[2021-05-19 03:04] blackcater commented on #79
I don't think vitejs works well with umd modules.

I spend one day to refactoring build scripts of mantine, now It will output es module and umd module two version.

Every thing goes well.

![image](https://user-images.githubusercontent.com/9465551/118750376-e06de800-b891-11eb-9393-f43a07d3c186.png)

[2021-05-19 06:47] rtivital commented on #79
Can you help me add esm support to build step with PR? Webpack configuration is located here – https://github.com/mantinedev/mantine/blob/master/configuration/webpack/create-package-config.ts

If not, please share what you've used to output both esm and umd, I think this is a great addition and should definitely be added in future versions

[2021-05-19 08:01] blackcater commented on #79
I hasn't finished it yet. I  have changed a lot of files. Such as:

1. use `esbuild` instead of `typescript` to compile `.ts` and `.tsx` files.
2. use `rollup` instead of `webpack` to bunde libraries.
3. remove `dependencies` from externals, so library will be larger.
4. use `storybook-addon-turbo-build` to reduce building time.
5. use `esbuild-jest` to replace `ts-jest`

You can see my changes in

[2021-05-19 09:24] rtivital commented on #79
Alright, that will be super cool if you can make it work, thanks in advance!

[2021-05-19 14:33] rtivital commented on #71
Resolved in [1.1.0](https://github.com/mantinedev/mantine/releases/tag/1.1.0)

[2021-05-19 14:33] #71 closed

[2021-05-19 14:34] rtivital commented on #48
Resolved in [1.1.0](https://github.com/mantinedev/mantine/releases/tag/1.1.0)

[2021-05-19 14:34] #48 closed

[2021-05-19 14:34] rtivital commented on #28
Resolved in [1.1.0](https://github.com/mantinedev/mantine/releases/tag/1.1.0)

[2021-05-19 14:34] #28 closed

[2021-05-19 14:34] rtivital commented on #7
Resolved in [1.1.0](https://github.com/mantinedev/mantine/releases/tag/1.1.0)

[2021-05-19 14:34] #7 closed

[2021-05-19 14:34] #38 closed

[2021-05-22 08:18] #79 closed

[2021-05-22 20:14] pimartin opened #93 "findDOMNode is deprecated in StrictMode"
Package: @mantine/core
Version: 1.2.1
Codesandbox: https://codesandbox.io/s/recursing-kepler-vzdm8?file=/src/App.js

Hi,
I have started using mantine and it works great, but when using React.StrictMode, a warning is printed in the console when a tooltip is triggered:

It appears to be linked to Transition (which I do not use directly in my code).

[2021-05-22 20:19] rtivital commented on #93
Thanks for reporting, this is known issue with react-transition-group – https://github.com/reactjs/react-transition-group/issues/687

We need to implement new logic for ref usage as shown in 4.0.0 release

[2021-05-24 11:30] cstrat opened #99 "@mantine/core - Select - issue with defaultValue when using Placeholder"
https://codesandbox.io/s/mantine-select-error-mkurq

[code]

This warning only appears when using `placeholder`.
See in the codesandbox, if you comment out the placeholder the warning doesn't appear.

[2021-05-24 13:57] rtivital commented on #99
Seems like an easy thing to fix, do you want to create a PR for this? If not, I'll resolve it on my own in next minor release

[2021-05-25 01:49] cstrat opened #102 "NumberInput in Safari with precision doesn't allow form submission"
In Safari the `<NumberInput>` field doesn't work as expected if you have decimal places.
The automated browser form field sanitisation blocks form submission until you remove the decimal places.

Repo:
https://codesandbox.io/s/mantine-number-precision-3s3f5?file=/src/App.js

What happens in Safari:
![image](https://user-images.githubusercontent.com/4209076/119426530-c24e2f00-bd4c-11eb-8323-671f1ef

[2021-05-25 01:49] #102 closed

[2021-05-25 04:22] cstrat commented on #99
I'll take a look to see if I can provide a fix!

What would the best approach be though?
We need to assign a `value` to the placeholder option and then have that as the `defaultValue` on the parent select box.

Assign a random/arbitrary value? How far do you want to go - do we check to see if that value is in use amongst the options?

[2021-05-26 07:36] rtivital opened #104 "@mantine/hooks: use-focus-trap – Add autofocus handling"
See #101 for more details

[2021-06-02 03:24] AbreuOliver opened #110 "Examples page claims to be 404"
The /examples pages claims to be a 404 error page.
Otherwise, the docs look great!

[2021-06-02 06:34] rtivital commented on #110
Hi, thanks for reporting, how did you get on this page? I've removed it from the site so this is expected

[2021-06-02 06:44] rtivital commented on #104
Resolved in [1.3.0](https://github.com/mantinedev/mantine/releases/tag/1.3.0)

[2021-06-02 06:44] #104 closed

[2021-06-02 06:44] rtivital commented on #99
Resolved in [1.3.0](https://github.com/mantinedev/mantine/releases/tag/1.3.0)

[2021-06-02 06:44] #99 closed

[2021-06-02 06:44] rtivital commented on #46
Resolved in [1.3.0](https://github.com/mantinedev/mantine/releases/tag/1.3.0)

[2021-06-02 06:44] #46 closed

[2021-06-02 19:11] steschwa opened #112 "[@mantine/core] Missing TS types in v1.3.0"
After installing `@mantine/core@1.3.0` my IDE complained about missing TS types. After a quick look into `node_modules/@mantine/core/package.json` i saw that types are declared in `package.json`
(`"types": "lib/src/index.d.ts"`) but do not exist.

![Mantine TS types missing](https://user-images.githubusercontent.com/24265130/120538582-fb3e7180-c3e6-11eb-825d-9fd8b880a5c6.png)

I've checked the pac

[2021-06-02 19:54] rtivital commented on #112
Hi Stefan, thanks for feedback and reporting the issue, I've published version 1.3.1 that should include types, can you verify that it works for you?

The problem was in [.npmignore](https://github.com/mantinedev/mantine/commit/d097e4477de9b7eb96f6740c12a216b658410ff2) file, turns out `src` ignore also removes `lib/src` files and types were not published to npm

[2021-06-02 20:03] steschwa commented on #112
Wow thanks for fast reply + fix.

Types are included and VSCode is happy 🥳

[2021-06-02 20:03] #112 closed

[2021-06-02 20:49] AbreuOliver commented on #110
https://user-images.githubusercontent.com/38667404/120549958-3f6b4b00-c3c2-11eb-9472-0ab2c02a822f.mov

The GitHub page for Mantine lists an `Examples` page (https://mantine.dev/pages/examples/) that claims to be a secret 404 page. I have included a video showing the issue.

[2021-06-03 00:50] KajSzy opened #113 "Wrong link to view default theme source code"
Currently link on [here](https://mantine.dev/pages/theming/#default-theme) is targeting not existing file.
I think it should be
`https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/theme/default-theme.ts`

[2021-06-03 06:34] rtivital commented on #110
Thanks for video feedback, the issue was fixed

[2021-06-03 06:34] #110 closed

[2021-06-03 06:34] rtivital commented on #113
Thanks for reporting, the link was fixed

[2021-06-03 06:34] #113 closed

[2021-06-04 06:35] DavidWells opened #114 "Odd Typescript error with vite"
Had some odd typescript errors today trying to use mantine in a new vite app.

I added the example app from https://github.com/mantinedev/mantine-next-example/blob/master/components/TodoList.jsx to this repo https://github.com/DavidWells/redux-toolkit-vite-example and got these errors

![image](https://user-images.githubusercontent.com/532272/120755823-5776c380-c4c3-11eb-87f5-81ffe90da57f.png)

I

[2021-06-04 06:59] rtivital commented on #114
I guess this is an error in your setup, Mantine does not use emotion.
I've set up example project with vite – everything works fine, you can try it out here – https://github.com/rtivital/vite-mantine-example

To bootstap your repo with mantine and vite use commands from vite docs:
- `yarn create @vitejs/app mantine-vite --template react-ts`
- `yarn add @mantine/hooks @mantine/core react-jss`

[2021-06-04 20:45] DavidWells commented on #114
https://github.com/rtivital/vite-mantine-example works! Thanks for this.

The odd part about that emotion error is the file path is pointing to the `/title/title.d.ts` file in mantine core dir and it appears like the built files were missing

![image](https://user-images.githubusercontent.com/532272/120860763-0d312900-c53b-11eb-8d39-9762888a2983.png)

Anywho, closing this out as it's probably some

[2021-06-04 20:45] #114 closed

[2021-06-12 16:21] arpitBhalla commented on #47
Hey @rtivital I apologize for being late, but I am not able to do this!

[2021-06-12 16:27] #47 closed

[2021-06-14 12:04] rtivital opened #119 "Remove generics from pass through components"
Currently components that allow changing root element with `component` prop require generic types to work:

[code]

First generic type resolves to `React.ComponentPropsWIthoutRef<'a'>` and second to `{ elementRef: React.ForwardedRef<HTMLAnchorElement> }`.

It brings some confusion and will be much better if first argument can be omitted (ref type can still be done via generic):

[code]

Resources:

[2021-06-19 13:27] szmarci commented on #53
@rtivital I'm experiencing the same issue. With fresh next.js install:
`npx create-next-app --typescript`
Then I delete everything in `pages/index.tsx` and I insert just a button:
<img width="378" alt="Screenshot 2021-06-19 at 15 19 28" src="https://user-images.githubusercontent.com/1974290/122643779-06490f80-d112-11eb-8e27-83f19364291a.png">

At first it looks fine:
<img width="405" alt="Screensh

[2021-06-19 13:39] rtivital commented on #53
Hi @szmarci I guess you've missed the setup step for Next.js SSR, I've just created new test project, everything works fine – https://github.com/rtivital/next-ts-mantine

Please see documentation on usage with Next.js – https://mantine.dev/guides/ssr/#nextjs

[2021-06-19 16:45] szmarci commented on #53
@rtivital Thanks, I really missed that. I thought it is was not relevant because there was no `_document.tsx` file after scaffolding the project. The styling was okay after refresh, however the error was still present in the console (I deleted the cache, npm reinstall, etc...). What did solve the console issue, was the deletion of the `next.config.js` file, which had the content:
[code]
This file

[2021-07-06 00:28] cstrat opened #126 "Tabs/Tab - missing padding between Tab Control & Tab Content"
Question on `Tabs`, there previously was padding between the tab bar and the tab content.
Do we now need to use the Styles API to inject some padding, or is the below a bug.

No padding at all - which is strange because even in the docs there is padding.
See the highlighted text butts up against the outline tab bar.
This is happening across all the tabs in my app (using mix of default and outline

[2021-07-06 02:16] cstrat commented on #126
Tested this across both Chrome and Safari.
Tested in incognito window and ensured no cache.

[2021-07-06 03:38] cstrat commented on #126
Example:
https://codesandbox.io/s/mantine-tabs-padding-3zpnc?file=/src/App.js

Docs:
<img width="244" alt="image" src="https://user-images.githubusercontent.com/4209076/124538552-30fbcd80-de5f-11eb-87bc-2bffa8f769c9.png">

Example:
<img width="213" alt="image" src="https://user-images.githubusercontent.com/4209076/124538580-3ce78f80-de5f-11eb-8260-b6228f54e8c6.png">

If the idea is that each `<Tab

[2021-07-06 04:06] cstrat opened #129 "Autocomplete - doesn't show list if the entered text = one of the options"
In most cases this is probably the expected behaviour, but there are edge cases which might want a flag to disable this.

With `Autocomplete` if you have entered the exact text of an option, the option list will not display even if there are options which still match the entered text.

For example if you had a data set of:

[John, John Butler, Johnny Drama, Johnny] - entering "John" would hide the

[2021-07-06 04:22] cstrat opened #130 "Can't use DatePicker within a form as it triggers form to submit"
Love the `DatePicker` component - unfortunately it seems to submit any forms that it is part of.

See reproduction here:

https://codesandbox.io/s/mantine-date-picker-in-forms-nvo2f

[2021-07-06 05:42] rtivital opened #133 "React 18 StrictMode breaks default styling"
### Discussed in https://github.com/mantinedev/mantine/discussions/128

<div type='discussions-op-text'>

<sup>Originally posted by **axhl** July  6, 2021</sup>
Thanks for the great work that's gone into the library thus far.

`<React.Strictmode>` in the latest React 18 release currently prevents components from rendering with default styling. Codesandbox to demonstrate: https://codesandbox.io/s/m

[2021-07-06 05:45] cstrat commented on #129
If you use the incorrect case, you can see the behaviour I think might be preferred in some scenarios.

(search 'john' in the first or 'c' in the battery example)

[2021-07-06 05:50] cstrat opened #134 "Select (new select) doesn't update the value if state modified externally [controlled]"
It appears that if you change the underlying value of the `Select` it works, but doesn't update the UI to show the user.
You need to click into the field and back out to see the update.
This results in the UI & value being out of sync:

<img width="233" alt="image" src="https://user-images.githubusercontent.com/4209076/124548933-c902b280-de71-11eb-86b4-34ced86e2ebe.png">

Open the sandbox, choose

[2021-07-06 05:50] rtivital commented on #126
By default Tabs do not have padding-top to allow [something like this](https://mantine.dev/others/prism/#languages), my idea was that you provide padding on children:

[code]

But I see, how it can be confusing, I'll add `tabPadding` prop to Tabs component in 2.0.2

[2021-07-06 05:53] rtivital commented on #130
I forgot the `type=button` on the input, will fix in 2.0.2

[2021-07-06 05:56] cstrat commented on #126
I only noticed because there previously was padding in 1.3.
Happy if that's the way forward but it would be good if we didn't need to add padding to each `Tab` but rather once in the `Tabs` element. So `tabPadding` in `Tabs` would be ideal.

1.3
![image](https://user-images.githubusercontent.com/4209076/124549435-7fff2e00-de72-11eb-9437-c1fde3651181.png)

2.0
![image](https://user-images.githubuse

[2021-07-06 06:15] rtivital commented on #129
Yep, that's a bug, will fix it in 2.0.2, right now autocomplete checks if data has exact item, instead it should perform a regular search

[2021-07-06 06:18] rtivital commented on #134
Thanks for reporting will fix in 2.0.2

[2021-07-06 06:19] cstrat commented on #130
I didn't get to look under the hood but thats a much simpler issue than I thought it might be - awesome. I was worried there was an embedded form or something in the component.

[2021-07-06 06:23] rtivital commented on #126
Yes, that's changed in 2.0.0, I forgot to put it in changelog, anyway I'll add `tabPadding` prop and it will be the same as in 1.3 by default

[2021-07-06 06:24] rtivital commented on #130
It's usually always the case in such situations as button element type defaults to submit

[2021-07-06 06:37] cstrat commented on #126
Thanks again for the great release!

[2021-07-06 08:08] rtivital commented on #134
Resolved with #135

[2021-07-06 08:08] #134 closed

[2021-07-06 08:08] rtivital commented on #130
Resolved with #135

[2021-07-06 08:08] #130 closed

[2021-07-06 08:09] rtivital commented on #129
Resolved with #135

[2021-07-06 08:09] #129 closed

[2021-07-06 08:09] rtivital commented on #126
Resolved with #135

[2021-07-06 08:09] #126 closed

[2021-07-06 11:47] rtivital opened #136 "Next.js Warning: [JSS] Rule is not linked. Missing sheet option "link: true"."
Hi all, currently when you use react-jss with Next.js you will see lots of `Warning: [JSS] Rule is not linked. Missing sheet option "link: true".` warnings in console.

This message should not impact your application styles in any way (if it happens please create separate issue for that). Current workaround is to monkey patch `console.warn` to filter out this exact message. To do so, add below cod

[2021-07-06 17:02] jrobichaud opened #137 "Font pops in when loading main page"
Font pops in when loading main page.

Repro steps:
1. Go to https://mantine.dev/
2. refresh page

Result:
![font-pops](https://user-images.githubusercontent.com/12142702/124639415-23901480-de5a-11eb-845a-fb656c169e39.gif)
(the gif loops but the problem occurs only once in reality)

[2021-07-06 18:04] rtivital commented on #137
Well, yep, I've made a mistake by relying on [web-font-loader](https://github.com/typekit/webfontloader) to load fonts on the page, will change it to regular link tag. Thanks for reporting!

[2021-07-07 06:05] rtivital commented on #137
Fixed

[2021-07-07 06:05] #137 closed

[2021-07-07 10:40] cstrat opened #140 "Select - loses initial value when value is a Number and not String"
Reproduction:
https://codesandbox.io/s/mantine-select-strange-behaviour-fh9zd?file=/src/App.js

See what I mean in this GIF:
![2021-07-07 20 38 48](https://user-images.githubusercontent.com/4209076/124745663-64278500-df63-11eb-9f06-8c1d3749f129.gif)

Strange edge case...

[2021-07-07 11:24] rtivital commented on #140
This is not actually an edge case, Select supports only string values and will not work with numbers, it's made this way to support both controlled and uncontrolled variant – https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/components/Select/Select.tsx#L140-L146

This is not obvious though and I'll add more information about data structures to Select docs, thanks for reportin

[2021-07-08 04:25] cstrat commented on #140
I am trying to understand why it matters whether its a string or not for controlled -vs- uncontrolled.
I can see you're using the hook and have that rule, but why limit it to only strings?
Wouldn't the rule only need to check if `val !== undefined` to know if its a controlled v. uncontrolled input?

[2021-07-08 05:28] rtivital commented on #140
No, it's Select component which is controlled or uncontrolled, not string.
`val !== undefined` will introduce new set of similar issues, for example, when value will be a date or an array
From my experience it's much easier to use one type for Select state management values and then convert it outside of component to preferred type as:

- this was we can provider better TypeScript support
- save s

[2021-07-08 06:41] bjarneo opened #142 "Issues with Preact"
I figured out the issue is that `preact-compat` is not supported for newer versions of preact, as it is built-in. The `preact.config.js` is also using the built-in `preact/compat`. However, your demo repository still has `preact-compat` installed, even though `preact` should complain if you try to install it. Nevertheless, if you try to remove `preact-compat` dependency, reinstall the packages, an

[2021-07-08 07:05] cstrat commented on #140
Sorry yes I understand that.
If I understand it correctly, the hook allows users to build their own form elements and have them be used in both a controlled & uncontrolled fashion. Maybe I don't fully understand what `rule` is supposed to be doing.

https://github.com/mantinedev/mantine/blob/master/src/mantine-hooks/src/use-uncontrolled/use-uncontrolled.ts#L27-L30

If its a controlled field, but t

[2021-07-08 07:06] cstrat commented on #140
I will just update

[2021-07-08 07:06] #140 closed

[2021-07-08 07:11] rtivital commented on #140
Yep, I guess it's a small bug in use-uncontrolled hook – https://github.com/mantinedev/mantine/blob/master/src/mantine-hooks/src/use-uncontrolled/use-uncontrolled.ts

This happens because there is no validation in onChange handler, it just validates initial value and value in useEffect

[2021-07-08 07:12] rtivital commented on #142
Thanks for reporting, I'll try out new version of preact-cli and update the docs

[2021-07-08 07:17] cstrat commented on #140
Very cool hook though!

I didn't fully understand what it was for until I tried to work out what was going on here.

[2021-07-08 07:46] cstrat commented on #140
Did this, all good, works fine. 👍🏻

[2021-07-11 11:07] ingloriousp opened #143 "Feature Request, highlighting : Ability to highlight multiple terms"
package: @mantine/core
version:2.0.2
browser/OS: chrome 91, mac OS Big sur

In Highlighting feature:
<img width="844" alt="duplicate value" src="https://user-images.githubusercontent.com/79135076/125192545-16ae5f00-e266-11eb-9c2c-b3c936f15f3e.png">
"this" may be highlighted twice in the image above.

<img width="852" alt="two terms" src="https://user-images.githubusercontent.com/79135076/125192550

[2021-07-11 13:32] rtivital commented on #143
Hi, thanks for feedback and feature proposition, I do not have capacity to work on this right now, so I'm leaving this to community, fell free to implement this and send a pull request

[2021-07-12 08:44] rtivital opened #144 "Roadmap and contributing"
We are always looking for your help and contributions to the Mantine codebase, to learn about current open tasks see [Mantine raodmap](https://trello.com/b/e1AT7w4M/mantine-roadmap) – it's a great starting point. If you need any help with your contribution [contact us on Discord](https://discord.gg/eUZpPbpxb4)

Follow these steps to contribute to Mantine:

- Choose task that you want to work on fr

[2021-07-13 05:47] ghana7989 opened #147 "Documentation: Make active link in navbar always visible"
Currently, when the page loads navbar scroll position is always 0 (picture 1), we need to scroll the active link into view when the application is mounted.

**Current behavior**
After refresh navbar scroll position after the refresh is always 0

**Expected behavior**
After the application was mounted navbar scroll position should change to make the active page visible.

[2021-07-14 02:19] yoroshikun commented on #143
Hi, I'll take a crack at working on this, I'm not certain about the syntax, would you rather have the ability to pass an array to the component or split the string based on certain symbol.

[2021-07-14 10:15] rtivital commented on #147
Fixed by #148

[2021-07-14 10:15] #147 closed

[2021-07-14 11:36] cstrat opened #151 "JSS Error for Inputs - :disabled:placeholder"
With any forms I am now seeing my console littered with:

![image](https://user-images.githubusercontent.com/4209076/125601295-104d22c1-5754-42c5-ba55-b8c923cf0744.png)

The form itself renders fine - haven't noticed an issue with the color like it implies.

I don't know enough about JSS to understand the error, maybe a simple problem?

[2021-07-14 12:01] rtivital commented on #151
Thanks for reporting, I forgot an extra colon before placeholder, the selector should be `input:disabled::placeholder`

[2021-07-14 18:05] rtivital commented on #151
Fixed in [2.0.5](https://github.com/mantinedev/mantine/releases/tag/2.0.5)

[2021-07-14 18:05] #151 closed

[2021-07-15 11:02] Kukkimonsuta opened #154 "Controlled inputs shouldn't set their value"
_Packages:_ @mantine/hooks @mantine/core
_Version:_ 2.0.5
_Browsers:_ Edge 91 (not relevant)
_Codesandbox:_ https://codesandbox.io/s/clever-gagarin-qik7m?file=/src/App.tsx
_Contribution:_ I haven't looked into the hook in detail to consider how the issue should be fixed, however I'm willing to contribute it if instructed to do.

_Description:_
Input components in controlled mode should never set t

[2021-07-15 12:08] rtivital commented on #154
Hi, thanks for reporting, this is a bug in uncontrolled hook, it can easily be fixed by adding extra checks, feel free to contribute

[2021-07-16 06:35] #154 closed

[2021-07-16 06:49] rtivital commented on #53
Alright, I've investigated the issue with blitz and found out it uses experimental Suspense API, which does not support server side rendering, once it's out we will run some additional testing and fix an issue if this happens again, for now I'll close these issues

[2021-07-16 06:49] #53 closed

[2021-07-16 06:49] #67 closed

[2021-07-17 11:14] KevinPy opened #162 "Prop did not match with DateRangePicker"
Hello,
I would use te DateRangePicker in a NextJS project, but I have an error when I use this component. I built a demo app with the basic usage from Mantine documentation, and we can see in console:

[code]

When I remove the label of DateRangePicker, it's display an another error => `id`for button (not `htmlFor`). I use the `2.0.6` of Mantine.

Demo: https://stackblitz.com/edit/nextjs-aunbfb?de

[2021-07-17 11:31] rtivital commented on #162
Hi Kevin, mantine inputs use random id to connect label to input, to make this work you need to provide static id:

[code]

Demo – https://stackblitz.com/edit/nextjs-hdznxz?devtoolsheight=33&file=pages/index.js

[2021-07-17 20:23] #162 closed

[2021-07-17 20:23] KevinPy commented on #162
It's works. Thank you

[2021-07-21 01:07] yoroshikun commented on #143
Functionality for this has been merged into version 2.1.0~
I will close this

[2021-07-21 04:36] ingloriousp commented on #143
Thank you :)

Kind Regards,
Gaurav Bhati

[2021-07-21 06:11] #143 closed

[2021-07-24 07:20] rtivital commented on #142
The guide was updated, everything now works with newer versions of preact cli

[2021-07-24 07:20] #142 closed

[2021-07-26 20:54] Kukkimonsuta commented on #119
This may be completely useless, but playing with super simplified case around types and `ComponentPassThrough` it may be possible to preserve the types properly if we can change things up a bit. I'll investigate further in coming days and report back, for now let me just drop playground here:

[TypeScript playground](https://www.typescriptlang.org/play?experimentalDecorators=false&emitDecoratorMet

[2021-07-27 08:23] rtivital commented on #119
Looks promising, if you will be able to fix the issue with missing types as well (#159) it would be great

[2021-07-27 09:17] Kukkimonsuta commented on #119
Turns out that was indeed mostly useless, but it lead me to possible solution here https://github.com/microsoft/TypeScript/issues/43717

Basically the function needs to look like this:

[code]

This gets rid of the `any`, however uncovers another issue where you can't assign the default element due to perceived type mismatch. There are two ways to go from there:

1. move the default value to body

[2021-07-27 09:38] rtivital commented on #119
I've found similar thing in reach ui – https://github.com/reach/reach-ui/blob/develop/packages/utils/src/polymorphic.ts#L32
Haven't explored it yet as it seems pretty complicated but all their components work without generic types because of hardcoded element type – https://github.com/reach/reach-ui/blob/main/packages/accordion/src/index.tsx#L206

[2021-07-30 08:32] dan-lee opened #188 "Popover wrong z-index while transitioning"
I am seeing an issue with the `Popover` component:

While the component is transitioning it seems like the `z-index` seems to be lower than some other components (in this case `Button` and `Switch`).

**CodeSandbox**: https://codesandbox.io/s/aged-resonance-z3q2q

**Video**:

https://user-images.githubusercontent.com/571589/127624901-6986066b-3a65-4556-a4fc-a4d4453bc3d2.mov

[2021-07-30 08:36] rtivital commented on #188
Hi @dan-lee, thanks for detailed report and demo, this will be fixed in next minor release (2.2.0)

[2021-07-30 11:51] rtivital commented on #188
Fixed in [2.1.5](https://github.com/mantinedev/mantine/releases/tag/2.1.5)

[2021-07-30 11:51] #188 closed

[2021-07-30 14:15] dan-lee commented on #188
Thanks a lot, it works great now! :)

[2021-08-01 16:27] nowlena opened #189 "Group child styles not applied to external components"
There appears to be an issue with applying styles to external components.

I don't know if this is an issue with `mantine`, `react-jss`, or some other library being utilized.

Example of "mantine-group-child" styles not being applied as expected:
 - https://codesandbox.io/embed/sweet-shtern-slk2z?fontsize=14&hidenavigation=1&theme=dark
 - ie. our mapped links don't have their margins

[2021-08-01 17:35] rtivital commented on #189
Hi @nowlena Group component relies on `className` property being handled by child components/elements. If you add it to your NavLink component it will work fine – https://codesandbox.io/s/goofy-field-16kcz?file=/src/App.js

You can find more information about Group component here – https://mantine.dev/core/group/

[2021-08-01 20:54] #189 closed

[2021-08-03 20:25] dsvanlani opened #192 "Failed import of useReduceMotion with @rails/webpacker"
Issue in @mantine/hooks, v2.2.0, on Mac os Catalina, Firefox Developer.

I'm using @rails/webpacker and upgraded mantine version 1.0.0 to 2.2.0.  I got this error from a previously compiling file.

[code]

I since made sure I was on the most recent version of @rails/webpacker (5.4.0).

This import was working fine before upgrading and I'm not sure what would be the issue.

My import:
[code]

and i

[2021-08-04 05:39] rtivital commented on #192
Hi David, since version 1.0.0 we've changed a build step and now the primary way to use Mantine is via cjs modules, this may cause the issue with your build system. Can you try out a few things:

- import all hooks and logging them into console – `import * as hooks from '@mantine/hooks'; console.log(hooks);` – is useReducedMotion hook there?
- use @mantine/core component which depends on this hook

[2021-08-04 14:09] dsvanlani commented on #192
Hi Vitaly - thanks for getting back to me.

I tried your suggestions and uncovered a couple things.

I can use the import statement (`import * as hooks from '@mantine/hooks'`) and webpacker compiles successfully, but when I go to use the import (`console.log(hooks)`) it makes the whole component unavailable.  That is, it does not render in my app.

Additionally everywhere in my app where I'm using

[2021-08-04 14:46] rtivital commented on #192
Is there any output in browser console for `console.log(hooks)`?

I do not have any experience with rails, so maybe you can create a new empty project with your rails/webpack configuration so that I can replicate and investigate the issue

[2021-08-04 14:50] rtivital commented on #192
Another suggestion will be to stick to older version of webpack (4.x), I've noticed that latest version of @rails/webpacker (5.4.0) uses webpack 5 which can be an issue.

[2021-08-04 17:20] dsvanlani commented on #192
We've decided this is most likely an issue with our configuration.  I'm going to close the issue for now and we will follow up on this thread if we find a solution.

[2021-08-04 17:20] #192 closed

[2021-08-04 18:55] rtivital commented on #192
Alright, feel free to reach out here of in Discord if you'll need any help

[2021-08-08 06:38] achmurali opened #196 "Group component taking up more than available width."
- mantine/core
- 2.2.1
- Google Chrome (92.0.4515.107) - 1920*1080
- Group Component is occupying more space than the available space due to the negative margin applied in the Group root style. - ```margin: (-1 * getSizeValue({ size: spacing, sizes: theme.spacing })) / 2```.
Example - the 404 page is having a horizontal scroll bar because of the negative margin given to Group Component.
- I believ

[2021-08-08 09:13] rtivital commented on #196
This is not an issue with Group component – it behaves exactly as planned. Negative margins are required as they negate positive margins of Group's child elements, without them group will have unexpected spacing on all sides.

404 page is broken because of how Gatsby handles the layout – not sure at what time this happened. You can investigate this and wrap it in Container to make it look nicer if

[2021-08-08 15:29] achmurali commented on #196
The reason I saw it as an issue with Group component and not with gatsby was because (for my screen of width 1920px) -
- The Navbar is occupying `260px` and the rest of the page should occupy the available `1660px`, but it exceeds the `1660px` width because of the negative margin hence causing a horizontal scroll bar.
- I expected a container (Group component) to occupy the available width.

[2021-08-08 16:06] rtivital commented on #196
It's an issue with docs 404 page, not Group component – something's not right there, in normal circumstances Group will not cause scrollbars to appear, here is an example – https://codesandbox.io/s/mantine-template-ts-forked-qggl8?file=/src/App.tsx

[2021-08-08 17:31] achmurali commented on #196
Please check this example - https://codesandbox.io/s/mantine-template-ts-forked-qugr4?file=/src/App.tsx, and let me know if you see a scroll bar on viewing in full-width.

[2021-08-08 17:42] rtivital commented on #196
Yep, I see it there, it disappears when parent has padding – https://codesandbox.io/s/mantine-template-ts-forked-6ylj1?file=/src/App.tsx

Seems like a bug with `grow` prop, not sure how this can be fixed as removing negative margin will result in extra spacing on all sides

[2021-08-09 06:28] achmurali commented on #196
It disappears on adding padding because it negates the negative margin.

Even material-ui [container](https://github.com/mui-org/material-ui/blob/next/packages/material-ui/src/Container/Container.js#L45) component has internal padding or spacing, may be could consider removing that -ve margin and make that 8px spacing optional by using it via a prop type `gutter`?

[2021-08-09 06:33] rtivital commented on #196
Group != Container, Container is designed to provide horizontal padding

[2021-08-09 06:47] achmurali commented on #196
I shared the material-ui container to mention about the prop `disablegutter`, which also adds padding to the left and right. As, i want to work towards a solution, these are the things that come to mind to solve this issue -
- Put the negative margin optional via a prop `disablegutter`.
- Disable margin to the left and right for the first and last child of group component.

and do let me know if y

[2021-08-09 06:53] rtivital commented on #196
That can be done by setting `spacing` to 0

That won't work since group can be multiline when children are wrapped into second flex row (`flex-wrap` property)

[2021-08-09 07:00] achmurali commented on #196
I find adding another explicit prop very intuitive.
If `spacing` is set to 0, doesn't it remove the spacing between the children as well?

[2021-08-09 07:08] rtivital commented on #196
Yep, but there is no way to remove only negative margin and keep children spacing while keeping current behavior

[2021-08-10 14:13] #196 closed

[2021-08-11 11:10] Kukkimonsuta opened #201 "Add disabled state for options"
Package: @mantine/core

Consider adding "disabled" option for each item in list. Such option is not selectable nor navigable by keyboard.

Use case:
 - show something is usually an option, but not right now (ex. selling t-shirts, but 2 of the usually offered 5 sizes are not available at the moment)
 - simulate "optgroup" titles or separators within the option list

[2021-08-11 11:13] rtivital commented on #201
What data shape can you propose?

[2021-08-11 11:14] Kukkimonsuta opened #202 "Add popper.js behavior for Select dropdown"
Package: @mantine/core

When select appears on bottom of the page the dropdown is shown outside of viewport.

As discussed on discord this is non-trivial and has accessibility implications.

![image](https://user-images.githubusercontent.com/737093/129019599-2dde74bb-b382-4fe7-92ce-44c426b71e01.png)

[2021-08-11 11:17] Kukkimonsuta commented on #201
My thinking is adding optional `disabled` next to `value` and `label` we have today.

[code]

For optgroup and separator use case people should use `itemComponent` to render however they like, the important thing is that it will be skipped upon keyboard navigation and non-clickable.

[2021-08-11 11:24] rtivital commented on #201
I did not quite understand this part: "simulate "optgroup" titles or separators within the option list", can you provide an example? Is this related to disabled state?

[2021-08-11 11:34] Kukkimonsuta commented on #201
See picture below for separator. Point is to insert unclickable/unselectable entry (which is covered by "disabled"):

![image](https://user-images.githubusercontent.com/737093/129021803-9573da95-6d39-4e5c-b58a-b57d9f807363.png)

[2021-08-11 11:50] rtivital commented on #201
I guess making this with disabled item state will be a dirty, for this purpose it's better to use custom `itemComponent` and include separator in the last item (Slovenia in your example)

[2021-08-11 12:14] Kukkimonsuta commented on #201
It is hacky, but it works (except for keyboard navigation): https://codesandbox.io/s/morning-river-n4dii?file=/src/App.tsx

Adding the separator to the previous item directly is interesting idea, will definitely try it out :)

[2021-08-11 12:18] Kukkimonsuta opened #203 "Close Select dropdown when clicking on the input itself"
Package: @mantine/core
Version: 2.2.1

When select has visible dropdown it should be able to close it clicking on the select (yellow area) again. This change would make Select and NativeSelect behave the same in that regard.

![image](https://user-images.githubusercontent.com/737093/129026968-03faf647-1cb0-41ab-9b98-ddc0e9dfe1eb.png)

[2021-08-11 18:48] dukesx opened #204 "Website breaks on switching between dark and light mode"
The issue : Website breaks when i switch between dark and light mode. Doesn't matter, regardless of whether its next-dark-mode or use-dark-mode or through context api, if i switch it, the whole website just breaks, the css, the JavaScript, everything. It just happened suddenly and i don't know what just happened. Check Sandbox link for detailed demo.

Note: the demo is fork of the project under is

[2021-08-11 18:52] rtivital commented on #204
Hi @dukesx, thanks for reproduction, try removing `{ minify: true }` both from `_app.tsx` and `_document.tsx`

[2021-08-11 20:41] jesse-holden opened #205 "Progress component styling typo causing browser console error"
Styling should be `&:first-child`

https://github.com/mantinedev/mantine/blob/9583a2a66c4223429c3f77c78861fdc63d37b753/src/mantine-core/src/components/Progress/Progress.styles.ts#L53

![Screenshot 2021-08-11 164059](https://user-images.githubusercontent.com/7012733/129100180-0ddbb1f9-3e66-4172-b171-45e0c0827983.png)

[2021-08-12 02:00] dukesx commented on #204
Hi Thanks for the prompt reply, was using minify for generating ids a typo ? because after the removal, the issue seems to be gone.

[2021-08-12 04:19] rtivital commented on #204
It was an error in documentation on getting started with next.js, seems like minify option does not work well with next.js – now the issue is fixed both in docs and Next template

[2021-08-12 04:26] rtivital commented on #205
Thanks for reporting, issue is fixed in 2.2.2 release

[2021-08-12 04:26] #205 closed

[2021-08-12 07:34] dukesx commented on #204
It is however strange since the ssr docs for react jss don't specifically say that minify won't work but nevertheless, would have been a good option to reduce the name string length. I haven't checked the class name lengths after change but I hope they aren't that long.

[2021-08-13 03:54] #204 closed

[2021-08-14 20:19] dukesx opened #206 "Issue with using Responsive Grid with SSR"
Issue:

Using UseMediaQuery to support responsive layouts is a bad idea. Its just not worth the pain and effort. Media Query api doesn't works on server , which means if you are a Next JS guy, you are stuck with manually adding responsive classes in the CSS or inline or wait for someone to manually change viewport width.

Now thats alot of work, fortunately, someone has thought of this already and

[2021-08-14 20:33] rtivital commented on #206
Hi @dukesx, thanks for creating such detailed issue, I was planning to implement something like this, but did not have enough time, if you would like to work on this ticket that is great, feel free to reach out here or on Discord if you need any help.
Here is a link on how to get started with Mantine locally – https://trello.com/c/8j4I7zfg/3-getting-started-with-mantine-locally

[2021-08-14 21:18] mindreframer opened #207 "Typescript issue with Vite and mantine 2.2.2"
Hey, was just checking out mantine, looks really sharp!

This example repo: https://github.com/rtivital/vite-mantine-example (as feedback to this issue https://github.com/mantinedev/mantine/issues/114) fails to build, when updated to `2.2.2`.

[code]

[code]

is failing with

[code]

I hope this gives you enough information to reproduce this issue.

[2021-08-14 21:22] mindreframer commented on #207
Last working version seems to be "2.1.5". "2.2.0" and later the build fails with the `@emotion/core` issue.

[2021-08-15 05:07] rtivital commented on #207
Hi, to fix this, change `"skipLibCheck": true` option to `false` in your tsconfig.json

[2021-08-15 05:53] rtivital commented on #207
Just found out that `React.createElement` produces types with emotion even if it is not used. Fixed this in 2.2.3, there should not be an error even with `"skipLibCheck": false`

[2021-08-15 08:34] mindreframer commented on #207
@rtivital This is awesome, thank you for the quick fix!

And thanks again for Mantine, it's kinda mindblowing how much progress you've made in such a short period of time. I like that the bundled size is quite modest for the fact, that we have a full blown React UI framework of such professional polish. Big props for having a good consistent test suite, using Typescript and having an outstanding d

[2021-08-15 08:35] mindreframer commented on #207
Just checked, the issue is indeed fixed. Closing 👍

[2021-08-15 08:35] #207 closed

[2021-08-15 10:14] rtivital commented on #207
Thanks for feedback, glad you've found Mantine useful

[2021-08-16 12:48] rtivital commented on #93
Fixed in 2.3.0

[2021-08-16 12:48] #93 closed

[2021-08-16 12:49] rtivital commented on #16
Released in 2.3.0, menu position and placement now can be changed the same way as Popover

[2021-08-16 12:49] #16 closed

[2021-08-17 16:54] newtdogg opened #208 "@mantine/dates Time Input onChange not firing when changing the time with arrow keys"
When using the arrow keys to change the values in a Time Input, the onChange event doesn't occur, only when you type the time into the input
This issue was found in @mantine/dates 2.2.1, using Chrome on MacOS.
Let me know if you need any more information (didn't include code sandbox as its fairly simple to recreate)

[2021-08-17 17:43] rtivital commented on #208
Thanks for reporting, this will be fixed in next patch

[2021-08-18 01:11] cstrat opened #209 "Select / Autocomplete / Multiselect issue with click outside of modal for data selection"
Repo: https://codesandbox.io/s/event-propagation-issue-f1jni

As discussed on discord. There is an issue with the data list menus triggering modals to close.
Updated the repo with the other elements too.

[2021-08-18 13:42] my-name-was-already-taken commented on #209
Same happens when using Select inside of a <Drawer /> component - the drawer closes when an element is selected by clicking on it.

[2021-08-18 14:30] my-name-was-already-taken opened #211 "DatePicker cannot be used in modals or drawers"
The DatePicker component from @mantine/dates (version 2.3.0) does not open the actual date picker box when used inside of a Modal or Drawer component. Tested in Safari 14 and Chrome 92 on Mac. This is likely due to the component being rendered behind the Drawer / Modal.

https://codesandbox.io/s/datepicker-does-not-open-wcqp9?file=/src/App.js

[2021-08-18 14:38] rtivital commented on #211
Thanks for reporting, this will be fixed in next patch

[2021-08-18 16:49] lrhacker opened #213 "Menu closeOnItemClick option not working in v2.3.0 (Popper related?)"
**Package:** @mantine/core
**Version:** 2.3.0
**Browser/OS:** Chrome v92.0.4515.131 on macOS Big Sur

After upgrading to @mantine/core v2.3.0, the `closeOnItemClick` option for the `Menu` component is no longer being respected. If it is set to false, the menu will still close when an item is clicked.

I suspect that it's because that version now wraps the menu with a `Popper` component, since seem

[2021-08-18 16:52] rtivital commented on #213
Thanks for reporting, this issue will be fixed in next patch

[2021-08-18 16:57] lrhacker commented on #192
If anyone happens to find this thread and is in the same position, it wound up being an issue with our Babel configuration.

We had a large config file that was originally set up a few years ago, so we just started over with a new config and pulled in just what we needed to get our current app to build. There were a ton of unneeded plugins and settings based on the current state of our application

[2021-08-19 13:48] prawee commented on #211
same me

[2021-08-19 19:09] rtivital commented on #213
Fixed in [2.3.1](https://github.com/mantinedev/mantine/releases/tag/2.3.1)

[2021-08-19 19:09] #213 closed

[2021-08-19 19:09] rtivital commented on #211
Fixed in [2.3.1](https://github.com/mantinedev/mantine/releases/tag/2.3.1)

[2021-08-19 19:09] #211 closed

[2021-08-19 19:10] rtivital commented on #211
Specify `zIndex` prop to use DatePicker within Modal:

[code]

[2021-08-19 19:10] rtivital commented on #209
Fixed in [2.3.1](https://github.com/mantinedev/mantine/releases/tag/2.3.1)

[2021-08-19 19:10] #209 closed

[2021-08-19 19:10] rtivital commented on #208
Fixed in [2.3.1](https://github.com/mantinedev/mantine/releases/tag/2.3.1)

[2021-08-19 19:10] #208 closed

[2021-08-19 22:32] zifeo commented on #53
@rtivital any idea why `reactStrictMode` cannot be enable with Mantine as @szmarci pointed out? This triggers the error even with the starter template (up-to-date or https://github.com/rtivital/next-ts-mantine).

[2021-08-20 07:21] rtivital commented on #53
@zifeo I guess it's a react-jss strict mode issue, cannot say for sure what breaks there

[2021-08-20 07:59] everek commented on #206
I started with implementing something similar to the Ant Design approach, but there are a couple issues I stumbled upon:

If I use a function to pass props to the media queries, only the first media query styles will be applied. This seems to be a bug in JSS: https://github.com/cssinjs/jss/pull/1343

My current approach:
`
export default createMemoStyles({
  root: ({ columns, spacing, grow, span }

[2021-08-20 08:20] rtivital commented on #206
Hi @everek, thanks for trying things out, I would not count on jss team resolving this issue soon, so I would propose working on a workaround. Since the media queries are bugged in jss we can use `<style>` tag inside the component. It would be something like this:

[code]

It's nasty but should do the trick

[2021-08-20 08:27] everek commented on #206
Good idea! I will try to work with that.

You can assign the ticket to me if you want.

[2021-08-20 08:28] rtivital commented on #206
Okay, thanks!

[2021-08-20 12:08] zifeo commented on #53
@rtivital likely found the root issue here: https://github.com/cssinjs/jss/issues/1522. At least it solves the styling one, but one error is left about `aria-controls`. How does mantine generate those hashes?
<img width="631" alt="image" src="https://user-images.githubusercontent.com/9053709/130230703-a38a2ca8-1172-47d1-88d1-1e34f0c8b511.png">

[2021-08-20 12:10] rtivital commented on #53
@zifeo https://mantine.dev/core/menu/#server-side-rendering

[2021-08-22 18:35] rtivital commented on #203
Will be fixed in 2.4.0, already done

[2021-08-23 15:03] nghiepit opened #221 "[Feature Request] Async and Creatable for Autocomplete/Select component"
Hi,
As the title, we need a way to load options from a remote source as the user types
https://react-select.com/async
And allow [creatable](https://react-select.com/creatable) a new option.

I Hope, The feature request should be added to [Roadmap](https://trello.com/b/e1AT7w4M/mantine-roadmap)

[2021-08-23 15:13] rtivital commented on #221
Hi @nghiepit you can use dynamic data both with select and autocomplete components, see Autocomplete example – https://mantine.dev/core/autocomplete/#dynamic-data, I guess the only thing missing here is `onSearchChange` function in Select, it will be added in next minor release.

[2021-08-23 15:19] nghiepit commented on #221
Thanks, @rtivital, so what about `Creatable`?

[2021-08-23 15:24] rtivital commented on #221
I do not see the point of adding create option to autocomplete. For now you can do it on your own with custom item component and filtering function in Autocomplete, Select and MultiSelect components (after `onSearchChange` is implemented). Maybe this feature will be added separately in future releases.

[2021-08-23 15:35] #221 closed

[2021-08-23 16:41] arindamghoshal opened #222 "<ColorInput> not working when inside a <Drawer>"
The <ColorInput> is not working when inside a <Drawer> component. Please refer the sample code at https://codesandbox.io/s/nostalgic-tereshkova-xvvxy to reproduce the same.

[2021-08-23 16:45] rtivital commented on #222
Thanks for reporting, this will be fixed in next patch

[2021-08-24 05:56] rtivital commented on #222
Fixed in [2.3.2](https://github.com/mantinedev/mantine/releases/tag/2.3.2)
To use color input in modal and drawer set `dropdownZIndex={1000}` prop

[2021-08-24 05:56] #222 closed

[2021-08-24 08:56] arindamghoshal commented on #222
Thanks @rtivital for the quick fix.

[2021-08-24 10:29] rtivital commented on #119
I've decided to leave it as is but with another implementation which has better types support, see example – https://github.com/mantinedev/mantine/blob/next-minor/src/mantine-core/src/components/Text/Text.tsx

[2021-08-24 10:29] #119 closed

[2021-08-25 11:02] arindamghoshal opened #225 "Warning "Cannot update a component" message while using <ColorInput />"
Getting this warning message in Code Sandbox Console -
Warning: Cannot update a component (@mantine/core/ColorInput) while rendering a different component (@mantine/core/ColorPicker).

Link to sample code to reproduce the warning - https://codesandbox.io/s/prod-moon-zvttl

Steps to reproduce the warning -

1. Click on the Open Drawer button
2. Click on the ColorInput
3. Select a color.

[2021-08-27 16:54] HermanNygaard opened #227 "modal doesn't go back to right tab index on close"
it resets tab index, doesn't go back to the button that triggered it
https://mantine.dev/core/modal/

[2021-08-28 14:39] rtivital commented on #227
Alright, I've built this feature, here is an [implementation](https://github.com/mantinedev/mantine/blob/next-minor/src/mantine-hooks/src/use-focus-return/use-focus-return.ts) if anybody is interested.
This feature will be released in 2.4.0 release (September 8th)

[2021-08-29 10:28] my-name-was-already-taken opened #228 "Select cannot be used inside of Card"
The @mantine/core 2.3.2 component Select cannot be used inside of a Card component, as the select option dropdown is cut off inside of the Card.
Same most likely applies to Autocomplete, MultiSelect, DatePicker etc.

A code sandbox showing the issue can be found here: https://codesandbox.io/s/select-cannot-be-used-in-card-wcqp9?file=/src/App.js

[2021-08-29 10:35] rtivital commented on #228
This is determined by Card default overflow style, you can set it to visible to make it work – https://codesandbox.io/s/select-cannot-be-used-in-card-forked-d0vhn

[2021-08-29 12:32] my-name-was-already-taken commented on #228
I'm sorry for not noticing myself and having wasted your time! And - thank you for creating this awesome library, it's both great to look at and to work with.

Somewhat related PS: should the default overflow style for Drawer be set to overflow: auto, so that scrollbars appear if needed (at least vertically)? I'd assume that's the more generally used way for drawers than cutting off the overflow..

[2021-08-29 12:32] #228 closed

[2021-08-29 12:45] rtivital commented on #228
Not sure about Drawer, if you experience any issue or think that it can be done better, please create new issue with example

[2021-08-30 14:48] everek commented on #206
Pull request has been opened: #230

[2021-08-31 07:20] 318097 commented on #202
Please do this. Mantine is the most perfect UI library but only auto-positioning of the dropdown is missing.

[2021-08-31 07:22] rtivital commented on #202
@318097 this is a pretty complex issue due to usability, I'm busy with other things right now so I'll be waiting for someone from community to work on this

[2021-08-31 17:13] nghiepit opened #232 "[Feature Request] Support number of months to render in DatePicker and DateRangePicker"
Hey,

This is a feature request for `DatePicker `, `DateRangePicker`.
Most of the date ranger picker libraries support multiple months.

![datepicker](https://raw.githubusercontent.com/airbnb/react-dates/master/react-dates-demo.gif)

[2021-08-31 19:23] rtivital commented on #232
Hi @nghiepit this feature is out of current scope and I will not work on it in the next six months. I'm leaving this with "help wanted" badge, if you or anybody else is interested in working on this ping me here and I'll provide some basic instructions.

[2021-09-01 10:30] rtivital commented on #227
Released in [2.4.0](https://github.com/mantinedev/mantine/releases/tag/2.4.0)

[2021-09-01 10:30] #227 closed

[2021-09-01 10:30] rtivital commented on #225
Released in [2.4.0](https://github.com/mantinedev/mantine/releases/tag/2.4.0)

[2021-09-01 10:30] #225 closed

[2021-09-01 10:31] rtivital commented on #203
Released in [2.4.0](https://github.com/mantinedev/mantine/releases/tag/2.4.0)

[2021-09-01 10:31] #203 closed

[2021-09-01 10:31] rtivital commented on #206
Released in [2.4.0](https://github.com/mantinedev/mantine/releases/tag/2.4.0)

[2021-09-01 10:31] #206 closed

[2021-09-01 12:17] dukesx opened #237 "Abnormal Grid Behavior (NOT simple grid)"
Thanks for reaching out!

What happened ?

The Grid component is acting abnormally. Firstly, it can't differentiate between the breakpoint span and the "MAIN" span prop, for e.g if a Col has span={1} and on the same Col it has xl={2} then on xl breakpoint it will still follow span={1}, regardless of client sided or server sided (react refresh change vs page reload).

1.  i am also now seeing that

[2021-09-01 12:21] rtivital commented on #237
Hi @dukesx, thanks for reporting this, can you try setting static `id` prop on grid and see if it works:

[code]

This is missing from docs, will add this soon

[2021-09-01 15:05] rtivital commented on #237
@dukesx I've updated docs to reflect new changes, please see if it will help you

[2021-09-01 16:55] everek commented on #237
I can reproduce it as well. Can confirm it only happens client-side with Next.js when switching pages. Once deployed and static, it doesn't happen anymore. But setting a static `id` on the `Grid` fixes the problem.

Thanks for updating the docs @rtivital. Sorry about the issue.

[2021-09-01 18:16] dukesx commented on #237
I can confirm that the id prop fixes the issue. Thank you for fixing it !

[2021-09-01 18:16] #237 closed

[2021-09-01 18:26] dukesx commented on #237
One more thing @rtivital , i think there should be a XXL and XXS prop as well, xxs for devices smaller than 400px (Galaxy S5, old iphones etc) and xxl for better accommodating breakpoints, i mean even bootstrap has a xxl breakpoint, i use their breakpoint values and i just think it can prove a lot useful to people who would really want to target Hi-res iMACs and 4k Displays (future proofing etc)

[2021-09-01 18:31] rtivital commented on #237
I'll make breakpoints the same as in bootstrap, it's a good idea since it will be familiar to most people. I do think that we should add XXS breakpoint, as 576px is enough to consider device a mobile

[2021-09-01 19:55] rtivital commented on #237
Oh, cool we already have all bootstrap breakpoints, I will add this to the docs

[2021-09-01 21:08] taktran commented on #53
Hi, I'm getting this issue with [Drawer](https://mantine.dev/core/drawer/) as well, but there doesn't seem to be the same fix with ids there? Does that need to be added?

[2021-09-02 05:12] rtivital commented on #53
@taktran drawer is never rendered during ssr as it is wrapped in Portal, it much be another component that causes error

[2021-09-02 16:07] dukesx opened #239 "[Feature Request] Date Time Picker"
### Proposal
Date Time Picker component, a component that will make it hell of alot easy to cherry pick not only month, not only day, but also the time of the day you want.

#### What's the use ?
Have you ever booked an appointment with a clinic or a doctor ? there you have it, biggest and most common use of it.

#### Why not combine existing Individual components and make it ?
Ask yourself, would

[2021-09-02 16:07] dukesx commented on #239
@rtivital there you go !

[2021-09-02 17:40] rtivital commented on #239
Okay, thanks, if everyone is interested in implementing this, ping me here and I'll provide instructions

[2021-09-02 20:53] taktran commented on #53
Actually @rtivital, I can replicate the bug with a fresh next.js install with just a `<Burger />` component - see https://github.com/taktran/next-mantine-bug

First render:

<img width="999" alt="burger-showing" src="https://user-images.githubusercontent.com/79451/131914497-467bebfb-9881-4c2d-a5f2-6330390bdf69.png">

After a couple of refreshes:

<img width="981" alt="burger-no-styles" src="https:

[2021-09-03 05:51] rtivital commented on #53
@taktran this happens because you did not setup ssr for next.js, see getting started section for more information

[2021-09-03 08:02] taktran commented on #53
Oh cool, thanks @rtivital , I dug into it and this seems like a good reference https://github.com/vercel/next.js/tree/canary/examples/with-react-jss

I'll look into it when I get a chance

[2021-09-03 08:04] rtivital commented on #53
@taktran why would you want to use it? We have all instructions on getting started page – https://mantine.dev/getting-started/ and ready to use template – https://github.com/mantinedev/mantine-next-template

[2021-09-03 12:29] mhanslik opened #240 "v2.4.1 breaks Grid in NextJS apps"
The new @mantine/core v2.4.1 logic to generate grid col CSS class names using ID seems to not work with NextJs, as the CSS class ID generated in Grid does not seem to match the one then actually used by Col child components, resulting in the Grid not being rendered correctly as styles are missing.

Minimal example here based on the Getting Started guide with NextJS: https://codesandbox.io/s/gracio

[2021-09-03 12:32] #240 closed

[2021-09-03 12:38] mhanslik commented on #240
Closed as it just seemed to work after reloading Codesandbox; however, then noticed it actually happens during next's dev mode (maybe the watch mode?). The HTML I've got is e.g.

`<div style="margin:0;display:flex;flex-wrap:wrap;justify-content:flex-start;align-items:stretch" class="mantine-grid"><style> .mantine-svbl4u1qh-col-1 {
          flex-basis: 8.333333333333334%;
          flex-shrink: 0;

[2021-09-04 20:55] taktran commented on #53
Ah, that's even better! I was trying to find docs on the mantine site, but https://mantine.dev/guides/ssr seems to be a broken link. Missed that repo.

Thanks @rtivital!

[2021-09-09 18:08] achmurali commented on #202
Hi @rtivital , I can have a look on this.

[2021-09-10 03:58] rtivital commented on #202
@achmurali there are several things to consider:
- Dropdown should always have the same width as input element –  you may need a ResizeObserver or to modify existing Popper component to support that. I did not research this but it should be possible with popperjs.
- Since dropdowns will not be rendering in current context you will need to implement different click outside behavior to make it work

[2021-09-11 07:40] kyiii opened #247 "[DateRangePicker] Picker doesn't clear when value gets set to undefined"
Hi, thanks for the great work on Mantine!

I'm using the Mantine DateRangePicker with react-hook-form that initialises DateRangePicker with undefined pass to the value prop. Everything works great, except for when I reset the form (and undefined now passed again to the DateRangePicker value prop as a consequence), the original selected value remains in the picker.

To me, the expected behaviour is

[2021-09-11 07:47] rtivital commented on #247
Hi @kyiii DateRange picker works with a tuple of two dates `[new Date(), new Date()]`, when value is set to undefined component considers itself to be uncontrolled and initializes internal state from previous value. In other words you should always provide a valid value format in order for component to work as expected. This applies to all Mantine inputs, not only DateRangePicker.

To clear compon

[2021-09-11 14:52] kyiii commented on #247
Hi @rtivital, thanks for the clarification! So I did some further testing, and came across something very strange - when setting the value to [null, null], the picker only clears if React.StrictMode is not enabled. Below are two minimal working reproducible examples on CodeSandbox.

With React.StrictMode (picker doesn't clear):
https://codesandbox.io/s/nervous-saha-e47xc

Without React.StrictMode

[2021-09-11 15:49] rtivital commented on #247
Well, we do not support StrictMode anyway due to react-jss problems, so I would recommend removing it (it does not help since there is no output and just introduces a new bug).

Regarding value types – these will be changes in next minor release (September 28th or earlier)

[2021-09-13 13:12] everek commented on #240
@mhanslik see #237, yes it only happens in dev mode. It can be fixed by giving the `Grid` an `id`.

[2021-09-16 17:09] nghiepit opened #251 "[Pagination] Text overlapping"
Hi,
I have a problem with the new `Pagination` component when the total amount of pages is large?
Text

Please provide following information:
- What package has an issue (@mantine/core, mantine/hooks or other)?
**@mantine/core**
- What package version are you using?
**2.5.0**
- In which browser and operating system issue occurred?
**Chrome, macOS**

![image](https://user-images.githubusercontent.c

[2021-09-16 17:17] rtivital commented on #251
Hi @nghiepit thanks for reporting
@EmilMalanczak do you want to work on this issue?

[2021-09-16 17:43] rtivital commented on #247
`Date | null` type was added to all @mantine/dates components in 2.5.0, feel free to reopen this issue if something is not right

[2021-09-16 17:43] #247 closed

[2021-09-16 18:25] dukesx opened #252 "MantineServerStyles not found"
Thanks for reaching out!

Please provide following information:
- What package has an issue (@mantine/core, mantine/hooks or other)?
 Package is @mantine/core
- What package version are you using?
2.5.0
- In which browser and operating system issue occurred?
All
- If possible please attach link to codesandbox with reproduced issue
Not available
- Do you have an idea how to fix the issue?
Just need

[2021-09-16 18:56] rtivital commented on #252
Thanks for reporting, this is an incorrect component name in documentation, it should be just `ServerStyles`, I'll fix it as soon as possible

[2021-09-16 21:06] EmilMalanczak commented on #251
Sure, I know what's the issue here. The `width` of each item is static (16px if I good remember). A possible solution is to change `width` to `min-width` and will solve that case since in larger it will simply expand.

Are you ok with that @rtivital? I'll provide a quick fix tomorrow after finishing my job

[2021-09-17 01:50] #252 closed

[2021-09-17 04:55] nghiepit opened #253 "Pagination does'nt seem to work in Next.js"
I have 3 issues when to use `Pagination` in `Next.js`.

Please provide following information:
- What package has an issue (@mantine/core, mantine/hooks or other)?
**@mantine/core**
- What package version are you using?
**2.5.0**
- In which browser and operating system issue occurred?
**Chrome, macOS**
- If possible please attach link to codesandbox with reproduced issue
**https://github.com/nghiep

[2021-09-17 07:51] rtivital commented on #251
Yep, sounds good, please also add some padding so that it does not look too tight

[2021-09-17 08:41] rtivital commented on #253
Hi @nghiepit, we do not support strict mode. I've released 2.5.1 which should fix styles in production build.

[2021-09-17 08:41] #253 closed

[2021-09-17 08:41] rtivital commented on #251
Since there was another issue with pagination, I've fixed that myself, it should work fine in 2.5.1

[2021-09-17 08:41] #251 closed

[2021-09-20 08:10] Jarrodsz opened #260 "Unable to compile Gatsby docs"
Trying to compile the Gatsby docs with yarn install and also tried npm install to no avail:

Cannot find module 'react/package.json'
Require stack:
- /System/Volumes/Data/srv/mantine/docs/node_modules/gatsby/dist/utils/webpack.config.js
- /System/Volumes/Data/srv/mantine/docs/node_modules/gatsby/dist/utils/start-server.js
- /System/Volumes/Data/srv/mantine/docs/node_modules/gatsby/dist/services/st

[2021-09-20 08:11] rtivital commented on #260
Make sure that you also install main repo dependencies

[2021-09-20 08:21] rtivital commented on #260
You can find getting started guide here – https://trello.com/c/8j4I7zfg/3-getting-started-with-mantine-locally

[2021-09-21 20:27] nghiepit opened #262 "Support Portal for Select/Autocomplete component"
When using `Select` the select item component may be obscured by the parent element.
So we need support `Portal` to can be set `z-index` to override the parent element.
![image](https://user-images.githubusercontent.com/4768095/134241710-0f1600db-22e4-4179-aca9-33d28af2b687.png)

[2021-09-21 20:35] nghiepit opened #263 "Auto adjust Accordion/Collapse height based on content"
For example, I put the form validation inside the `Accordion` content.
After submitting the form, the form appends more error components but  `Accordion` doesn't calculate the new height based on content.

[2021-09-21 22:47] cstrat commented on #262
I think this is an issue with overflow - not z-index.
On the portal div set the style to `overflow: visible` -- by default I am sure it is `hidden`.
Happens on a few other elements too.

[2021-09-22 06:51] rtivital commented on #262
Duplicate of #202

[2021-09-22 06:51] #262 closed

[2021-09-22 06:54] rtivital commented on #263
Recalculating height is a pretty heavy operation and it's not a good idea to subscribe to children since it will recalculate on each render, please try using [force update](https://mantine.dev/hooks/use-force-update/) when validation happens and see if does the trick

[2021-09-22 08:18] indietyp opened #264 "Select overflow in card component"
* **Package:** @mantine/core
* **Version:** 2.5.x
* **Browser:** Firefox 93.0b8 _Developer Edition_
* **OS:** macOS 11.6
* **Code Sandbox:** https://codesandbox.io/s/magical-bush-cytqf

The problem is that the select dropdown of items is getting cut off, making it impossible to use in a card (or modal) component. A way to solve this would be by wrapping the dropdown using a [Popper](https://mantin

[2021-09-22 08:22] rtivital commented on #264
Hi @indietyp wrapping dropdown in Popper is not as easy as you think, we already have an issue for that #202 you can read everything about logic that comes with this change.
Please just set overflow to visible to fix this issue for now – https://codesandbox.io/s/hungry-edison-z4w9q?file=/src/App.js

Duplicate of #202

[2021-09-22 08:22] #264 closed

[2021-09-22 08:23] #260 closed

[2021-09-22 08:26] indietyp commented on #264
Thanks, I completely missed the issue mentioned. Sorry and thanks for the swift reply!

[2021-09-24 12:40] felipe2g opened #267 "404 page - guides to working with ssr"
I found a link on Reddit who give this link: https://mantine.dev/guides/ssr/

And now this link is broken, thats correct?

Post on reddit.
https://www.reddit.com/r/javascript/comments/n3y4ov/mantine_new_react_library_60_hooks_and_components/

[2021-09-24 12:42] rtivital commented on #267
Hi @felipe2g, that's correct, we've added better getting started guide, you can find it here – https://mantine.dev/getting-started/

[2021-09-24 12:42] #267 closed

[2021-09-26 06:02] Ultra-Instinct-05 commented on #239
I'll try to work on this one. I believe this is the relevant trello card to track it ? https://trello.com/c/1nKqmma2/39-mantine-dates-datepicker-add-optional-timeinput

[2021-09-26 06:52] rtivital commented on #239
Okay, sounds good

[2021-09-29 20:35] passionkind commented on #119
I've spent the past 3 days trying to figure out how one can use a generic component with proper ref usage. Insane 😂

One link you posted (reach-ui adaption) kinda worked, but not for generic components. Then I found some more ideas here https://stackoverflow.com/a/58473012 . And then I've been curious from day one when I read about mantine, why you had been using `elementRef` instead of `ref`. Mea

[2021-09-30 05:43] rtivital commented on #119
@passionkind thanks for sharing, it works great, I've tried it out with custom components and it works as well – https://tsplay.dev/WPjlYN

 Maybe I'll replace elementRef with ref in next release

[2021-09-30 07:14] Kukkimonsuta commented on #119
@passionkind Very nice, I think it's pretty close to what my sample commits above do, there is however a problem in the solution - when the `as` prop is not specified and default is used, it only sort of works for events:

![image](https://user-images.githubusercontent.com/737093/135405019-3f6ffda7-b2df-4826-a3c8-ee53d47b6d5e.png)

Unfortunately I've been unable to find solution for that as well.

[2021-10-01 11:07] passionkind commented on #119
@Kukkimonsuta @rtivital thank you for pointing mit towards the broken default!

I tried something else, based on the radix-ui/reach-ui approach and [another snippet I found for using forwardRef with generics](https://fettblog.eu/typescript-react-generic-forward-refs/).

So far it works fine with
- default
- as/component
- generics
- ref
- proper element types

Take a look here https://codesandbox.

[2021-10-01 11:16] Kukkimonsuta commented on #119
The cast there sucks, but it's probably the best solution for end user of the components. Might worth trying to find minimum reproduction code and try filing issue on <https://github.com/microsoft/typescript> if there isn't one already.

[2021-10-01 11:34] passionkind commented on #119
@Kukkimonsuta I know. I'd also prefer to avoid casting.

There is an npm package that tries to achieve something similar. Although generics don't work with it again. Here's the package https://www.npmjs.com/package/react-polymorphic-types

And here are some further links that cover the issues:
- https://github.com/microsoft/TypeScript/issues/30134
- https://twitter.com/jaredpalmer/status/121714961

[2021-10-02 01:35] HigorAlves opened #274 "NextJS Class errors"
- Using mantine core
-  Package version: 2.5.1
- In which browser and operating system issue occurred? All

I'm using NextJS with the configuration from the offical site and i get this error:

<img width="504" alt="Screen Shot 2021-10-01 at 22 33 45" src="https://user-images.githubusercontent.com/11262976/135699755-b8329f9f-dcb8-4cf6-9976-7f6f0d5d7177.png">

[2021-10-02 21:40] taktran commented on #274
@HigorAlves You might want to follow https://mantine.dev/theming/next/ or https://github.com/mantinedev/mantine-next-template

I had a similar issue here: https://github.com/mantinedev/mantine/issues/53#issuecomment-912048220

[2021-10-03 05:27] rtivital commented on #274
Closing this as issue was resolved in Discord

[2021-10-03 05:27] #274 closed

[2021-10-04 17:46] dukesx opened #276 "[Feature] Data tables Implementation"
I was scrolling through, just to encounter a few libraries i needed to use for an admin panel i am developing currently. i needed data tables to show data.  so i came across these two:

1. Revo Grid
2. React Data Grid

Two of the most lightest and actually "data" centered tables that i have seen by far. Now i am not sure if they go with CSS in JS or emotion but worth a try if anyone from the commu

[2021-10-04 18:08] rtivital commented on #276
I'll be working on data grid package some time next year, most likely it will be built with react-table – https://react-table.tanstack.com/

[2021-10-04 18:11] dukesx commented on #276
Well, isn't this library going to take an immense amount of time ?  i like the fact that it's headless and has hooks but implementation seems complex somewhat.

[2021-10-04 18:18] rtivital commented on #276
Why? react-table handles all complex cases. Headless approach will allow us to customize styles to match other components while handling all crazy stuff like columns resizing.

[2021-10-11 06:38] rtivital commented on #133
3.0.0 no longer has issues with strict mode

[2021-10-11 06:38] #133 closed

[2021-10-11 06:39] rtivital commented on #136
We've managed to fix this issue in 3.0.0 by migrating from react-jss to emotion

[2021-10-11 06:39] #136 closed

[2021-10-11 17:29] neotericroyalty opened #280 "Uncaught TypeError: Cannot read properties of undefined (reading 'className')"
**What package has an issue (@mantine/core, mantine/hooks or other)?**
@mantime/core

**What package version are you using?**
3.0.0

**In which browser and operating system issue occurred?**
Chrome, Windows 10

**If possible please attach link to codesandbox with reproduced issue**
I've tried, but for some reason I'm having an issue saving files in Codesandbox right now...

**Do you have an idea h

[2021-10-11 21:28] slbls opened #284 "[Feature Request] Freeform DatePicker"
Is there currently any support or planned support for manual date entry via typing using `DatePicker`? Right now it seems the option available is selecting a date through the GUI itself, but it would be useful to be able to type a date on its own.

[2021-10-12 04:43] rtivital commented on #284
We do not support it now, but it will be done in one of the future 3.x releases

[2021-10-12 13:43] Haz-git opened #286 "Mantine RTE Attempted Import Error"
Hey there,

Apologies in advance if this isn't a proper issue report --first time opening an issue. I believe @mantine/RTE has an import error. I'm using ^3.0.2 for @mantine/core and @mantine/rte. Chrome and windows 10.

For the steps taken, I just installed the @mantine/rte and tried implementing it into a React component. Then I received the attached error in the console. I then updated both pac

[2021-10-12 14:43] #286 closed, assigned to nobody

[2021-10-13 08:10] wilson-webdev opened #289 "Link in docs returns a 404"
The "extending theme" link under [Theming](https://mantine.dev/pages/basics/#theming) takes you to a 404 page: https://mantine.dev/theming/extending-theme/

[2021-10-13 08:39] #289 closed, assigned to nobody

[2021-10-13 15:27] byrone-2001 opened #293 "Form validation rules: ability to use current form values"
Is it (or could it be) possible to use the current values of a form instance in the form validation rules? I'm currently working on a register form but I can't find a way to add proper password confirmation validation (as the password confirmation should be the same as the password field's value).

Proposal: extra (optional?) parameter in the ValidationRule type for 'values'.
Example:
<img width="

[2021-10-13 19:28] lukvermeulen opened #296 "Opening modal removes scrollbar and moves page content"
Link to the page: https://mantine.dev/core/modal/

Opening the modal removes the scrollbar (probably by setting "overflow: hidden" on the body) resulting in an (IMO) unwanted movement of the page. Everything moves horizontally to fill the now higher width. Maybe this is also related to the component, not the page(?)

[2021-10-14 04:50] dallanlee opened #298 "@mantine/hooks useFullscreen not working in macOS Safari"
Fullscreen functionality broken (using examples here: https://mantine.dev/hooks/use-fullscreen/)

Mantive v 3.0.3
macOS v 12.0
Safari v 15.0

Changing the following code:

https://github.com/mantinedev/mantine/blob/0bdfbc938ec11754c40635b678159fa45dce9210/src/mantine-hooks/src/use-fullscreen/use-fullscreen.ts#L51

to:

[code]

functions properly.

[2021-10-14 06:49] EmilMalanczak commented on #296
Yes, I can do it

At my current project, I use the `reach-ui` library and they handle it pretty well.

Assign me to it, does this issue has prior over `use-scroll-into-view`?

[2021-10-14 07:15] #298 closed, assigned to nobody

[2021-10-14 09:21] XDean opened #299 "`Dropzone` failed to compile"
When use `Dropzone`, typescript complain type error as below.

[code]

[2021-10-14 09:22] lukvermeulen commented on #296
You guys are awesome, thanks for the quick actions!
I noticed the same behavior with the [use-scroll-lock](https://mantine.dev/hooks/use-scroll-lock/) hook, just wanted to add this in case this is related to the modal :)

[2021-10-14 09:36] rtivital commented on #299
Hi @XDean, I've checked Dropzone, it works as expected. Make sure that you have `skipLibCheck` set to `true` in your tsconfig.json and that you use dropzone correctly:

[code]

[2021-10-14 18:12] dallanlee opened #300 "@mantine/hooks use-scroll-lock does not prevent scrolling on iOS Safari"
Mantine v 3.0.4
iOS Safari 15.0.1

The `use-scroll-lock` hook does not lock scrolling on iOS Safari (testing demo page https://mantine.dev/hooks/use-scroll-lock/).

Here's an up-to-date article that goes into the specific problems and how to properly prevent scrolling in iOS Safari that may be worth referencing for a fix: https://pqina.nl/blog/how-to-prevent-scrolling-the-page-on-ios-safari/

edit

[2021-10-14 18:23] dallanlee commented on #300
I can imagine. iOS Safari has had quirks with locking the body and keeping the scroll position already and now iOS 15 introduces *new* issues 🙃

Oops 🤦‍♂️ Here's the article link: https://pqina.nl/blog/how-to-prevent-scrolling-the-page-on-ios-safari/

[2021-10-14 18:48] rtivital commented on #263
Yep, I get it now, will see what we can do to solve this.

[2021-10-14 19:02] rtivital commented on #296
Here are some questions:
- How we can find all position fixed elements?
- How we may know that those elements are affected by scrollbar? For example, Navbar in docs is fixed but will not be affected since it is on the left side.

[2021-10-15 05:30] tibotiber opened #301 "UnstyledButton does not support component prop"
Hi! First off, I've just started using mantine and you've done an amazing job with it.

I'm trying a use an unstyled button with react-router Link as a component and it doesn't seem to work. I'm on @mantine/core v3.0.4, Chrome, MacOS. I'm creating it with
[code]
and it works if I replace it by a normal `<Button />`.

Am I using it right? Is this supported?
Thank you

[2021-10-15 06:36] XDean commented on #299
I do set `skipLibCheck`. I find following statement in [ts document](https://www.typescriptlang.org/tsconfig/#skipLibCheck)

Event `skpiLibCheck = true`, compiler with still check the code we used.

I think the quickest solution is to change the function to accept `undefined`.

[2021-10-15 06:40] rtivital commented on #299
But you do not use `mergeStyles` function in your code, thus it should not be checked by ts. Please try also adding `node_modules` folder to `exclude`.

[2021-10-15 07:28] rtivital commented on #299
It's not a bug, we do not use `strict` option in our development process that's why we do not include undefined as possible type in none of our internal functions. But we do include add necessary types in public API.

[2021-10-15 07:32] XDean commented on #299
@rtivital I see. Do you think this is possible related to NextJS? I'm using it.

I will create a minimize reproduce case for you.

[2021-10-15 07:34] rtivital commented on #299
I've checked Dropzone with https://github.com/mantinedev/mantine-next-template, and it did not show any errors. If you provide a reproduction repo, I'll have a look.

[2021-10-15 08:56] XDean commented on #299
Finally, I find root cause. My IDE auto import dropzone from `@mantine/dropzone/src/Dropzone/Dropzone` instead of `@mantine/dropzone`. Sorry to bother you.
I like mantine as always. 😀

[2021-10-15 08:56] #299 closed

[2021-10-15 11:17] dukesx opened #302 "[Feature Request] Add total parameter to avatar group"
## Why ?
So i think that one common use case for grouped avatars is to show how many people reacted or how many authors contributed to a certain article (atleast thats where i have seen it being used) . Now, what if my use case is to show how many people reacted to a post ? or commented on it ? lets say its 50 and more. Now that's, a lot of rows to fetch and alot of Divs to paint,  to be honest, i

[2021-10-15 18:15] jimbolla opened #303 "[Feature Request] Date controls: Make first day of week locale aware."
It's much more common in the US for calendars to be shown with Sunday as the first day of week.

It looks like dayjs has a [Weekday plugin](https://day.js.org/docs/en/plugin/weekday) to detect which day is the first day of week, so this seems like a logical way to pick this value.

[2021-10-15 22:31] OmkoBass opened #304 "Attempted import error: 'MediaQuery' is not exported from '@mantine/core'."
- The issue is with mantine/core,
- Package version is "@mantine/core": "^3.0.4"
- Firefox web browser
- To recreate this, just import { MediaQuery } from "@mantine/core"
- No idea how to fix this, it says it's not exported from '@mantine/core'
- I'll try my best to help if it's needed

[2021-10-16 05:32] rtivital commented on #304
Thanks for reporting, I've forgotten to export it from package

[2021-10-17 10:26] Ultra-Instinct-05 commented on #302
So if I understand this correctly, something like the following
[code]
will produce
![image](https://user-images.githubusercontent.com/34304644/137623106-2063b56c-1529-4d6e-a353-2ab5654a0dce.png)

(& the limit prop get's ignored ?). So it would render all of the `Avatar` components and truncated `Avatar` would be `total - num of childred` ?

[2021-10-17 19:48] OmkoBass opened #306 "Dropzone not working"
@mantine/dropzone
3.0.5
Chromium
It breaks for some reason. I didn't do anything speical, just added the dropzone component.
My code
[code]
Sorry for the bad formatting

This is the error
[code]
- I have no idea what might cause this, cause I didn't do anything special.
I'll try to help if i can in resolving this

[2021-10-17 19:56] OmkoBass commented on #306
I had the feeling that was the problem and not the component itself! Sorry, my bad.

[2021-10-17 19:56] #306 closed

[2021-10-19 12:29] achmurali commented on #302
Yeah definitely, @rtivital.
Will be working on them from tomorrow.

[2021-10-19 16:04] dukesx opened #315 "[Feature Request] Skeleton"
## Why ?
Loading skeleton, a trend started by Facebook has since taken over the internet for quite a while. I believe skeletons can represent loading not only in a **"neater"** , **"nicer"** way but also mimic the content that will load accurately. Afterall, Mantine is all about a consistent user experience.

## How ?
As far as i can see, **"React Content Loader"** is by far the smartest choice bu

[2021-10-19 17:37] dukesx commented on #315
@rtivital  thank you . One more thing, i am trying to use useForm hook, according to docs, form.reset() should reset not just errors but also the values of components. It seems that select component's "value" prop does not affect the internal state. select does not revert back to "placeholder". internally its value is null , which is fine since i reset it but visually i still see that previous val

[2021-10-19 17:41] dukesx commented on #315
I have verified that onChange does not fire if i reset the form. I binded form's value with select's value like this :

[code]

[2021-10-20 23:46] itssajan opened #328 "Cannot destructure property 'colorScheme' of 'undefined' as it is undefined."
I love the tools that Mantine provides. First time using this.
I was using the code highlighting using prism package and when i render this error occurs

`Cannot destructure property 'colorScheme' of 'undefined' as it is undefined.`

Poked around a bit and found this code inside Prisim.tsx and saw this in version **3.0.5**

`const { classes, cx } = useStyles(
    { colorScheme: colorScheme || them

[2021-10-21 14:45] fishmandev opened #330 "[@mantine/hooks] use-merged-ref: Unfocusing current element"
When entering data into the first input, the focus goes to the second one.
Example repository: https://github.com/fishmandev/react-mantine-demo
OS: Debian 11
Browser: Version 94.0.4606.81 (Official Build) (64-bit)
@mantine/hooks": "^3.0.5

If you uncomment the [line 10](https://github.com/fishmandev/react-mantine-demo/blob/main/src/App.tsx#L10) and comment out [line 11](https://github.com/fishmand

[2021-10-22 17:11] tracker1 opened #332 "Datepicker should have month/year selection"
Datepicker title click should switch to a month picker, then the month picker a year spinner/picker.  The pattern was first really codified in the MS Ajax Toolkit, probably the only thing I liked in that framework.

The issue is that someone will use this library, and then use it for something like a date of birth field.

[2021-10-23 01:21] itssajan commented on #328
Thanks @rtivital that was the issue.. i was 2.5.1 version of core and hooks.. sorry my bad..

[2021-10-23 01:21] #328 closed

[2021-10-24 17:09] iodimitrov opened #339 "[Feature Request] Styles injection order"
### Feature request

Make it possible to inject Mantine's styles at the beginning of the `head` (change injection order).

### Why?

So there is no need to use `!important` when using approaches like CSS Modules, etc...

### Example

MUI has this feature and it will be very nice if Mantine supports it too :)

![image](https://user-images.githubusercontent.com/25251305/138604917-98f770b9-560a-4cb3-

[2021-10-24 18:12] #339 closed, assigned to nobody

[2021-10-26 13:50] nmedvedev1 opened #342 "Why useNotifications().showNotification() not memoized?"
@mantine/notifications  3.0.5

Following code cause infinity rerenders loop:
[code]

Methods of useNotifications() hook does not memoized, why?

[2021-10-26 13:57] #342 closed, assigned to nobody

[2021-10-27 18:48] #332 closed, assigned to nobody

[2021-10-28 15:33] #330 closed, assigned to nobody

[2021-10-28 15:34] #315 closed, assigned to rtivital

[2021-10-28 20:25] dukesx opened #350 "[Feature Request] Internationalisation/RTL support"
### Brief
I have seen that in documentation that RTL can be enabled via stylis plugin but there is lack of detail over its implementation. I suppose there is no official or complete support for it.

I hope Mantine can support a "togglleable" support for RTL like Ant Design does in its Provider. Although this won't be easy since this may need tampering with stylis middleware (which you have already

[2021-10-29 18:09] lukvermeulen commented on #296
Thanks for the fix! Works great and seamlessly in most cases. I just noted one minor issue with the [modal](https://mantine.dev/core/modal/):
although the content of the site doesn't move, the modal itself moves upon closing it.
It looks like the scroll-lock / padding functionality is executed before the animation of the modal closing has finished, resulting in the modal moving after I press the c

[2021-10-29 18:51] EmilMalanczak commented on #296
@lukvermeulen I'll try to cover that before 3.2 but its kinda tricky to do and might cause other issues due to operating on the modal element (probably by transformX)

[2021-10-29 18:59] rtivital commented on #296
It should not be hard, we should just postpone scrollbars removal/adding back while animation is playing. In other words:
- when modal/drawer opens, wait until animation is done playing and lock scroll
- when modal/drawer closes, wait until animation is done playing and unlock scroll

Should prevent flickering

[2021-10-30 09:27] muco-rolle commented on #202
@achmurali are you working on this?

[2021-10-30 14:43] rtivital commented on #202
@muco-rolle it's a hard issue, I would not recommend working on this, I'll work on it myself when time comes

[2021-10-30 18:03] nghiepit opened #358 "[Select] value/defaultValue is not set when out of select data"
Hi,
I think the `value` can be set even if it's not on the list of select data. At least in case `creatable`.

[code]

Please provide following information:
- What package has an issue (@mantine/core, mantine/hooks or other)? **@mantine/core**
- What package version are you using? **3.1.0**
- In which browser and operating system issue occurred? **Chrome, macOS**
- If possible please attach link t

[2021-10-30 19:04] rtivital commented on #358
We cannot support setting value that is not included in data, it will break more advanced use cases (custom item renderer in Select and custom value renderer in MultiSelect).

[2021-10-31 06:43] nghiepit commented on #358
@rtivital  But why `MultiSelect` can setting value is not included in data.

[2021-10-31 07:01] rtivital commented on #358
Thanks for noticing, it's a bug that may lead to unexpected behavior with custom value component. I'll fix it in future releases

[2021-10-31 07:13] nghieptiki commented on #358
What do you think if the value is not included in data, `Select` should append that value into data.

[2021-10-31 07:14] nghiepit commented on #358
What do you think if the value is not included in data, Select should append that value into data.

[2021-10-31 07:18] rtivital commented on #358
It's a good solution, but we cannot make it – this will be incorrect for data with custom shape and may break some applications that rely on certain data shape.

[2021-11-01 03:18] MrHBS opened #362 "Ctrl K of the search bar collapse when the search bar is selected"
Ctrl K of the search bar collapse when the search bar is selected

![1](https://user-images.githubusercontent.com/30705623/139617096-bb7f62f0-0ac7-422f-bf36-38796f73340f.PNG)

[2021-11-01 03:21] MrHBS opened #363 "Use icons only in the header"
Use icons only in the header. The text is pretty much useless
![1](https://user-images.githubusercontent.com/30705623/139617286-99c70c9c-32a5-4731-84f1-876279dfb61a.PNG)

[2021-11-01 06:36] tibotiber opened #364 "NumberInput controls not rendered properly in Safari"
Hello.

I'm using `NumberInput` from `@mantine/core` version 3.1.0 and getting the following controls on Safari 14.0.2 (macOS):

<img width="78" alt="Screenshot 2021-11-01 at 2 19 58 PM" src="https://user-images.githubusercontent.com/5635553/139630140-6a1b473e-6ff4-474b-96d2-a8a8978b9e05.png">

It goes away if I zoom out the browser (Cmd -) and appears at the default or higher zoom levels. I'm not

[2021-11-01 07:20] rtivital commented on #362
It tells you that you need to press enter to search docs

[2021-11-01 07:24] rtivital commented on #364
Hi @tibotiber did you include `GlobalStyles` component – https://mantine.dev/theming/create-styles/#globalstyles-component

It sets box-sizing to border-box in all elements, maybe that is the case

[2021-11-01 07:26] rtivital commented on #363
I like to show labels when we can do so, it's more clear

[2021-11-01 07:26] #363 closed

[2021-11-01 07:27] MrHBS commented on #362
Oh lmao I somehow missed the icon

[2021-11-01 07:27] #362 closed

[2021-11-01 07:28] MrHBS commented on #362
Maybe center the icon?

[2021-11-01 07:29] MrHBS commented on #363
But the icons are self explanatory

[2021-11-01 07:30] tibotiber commented on #364
I was not using `GlobalStyles`, I tried adding it but it doesn't fix the issue.

[2021-11-01 07:31] tibotiber commented on #364
I seems the docs have margins set to 0 on `button`, which my local install doesn't. Does that help?

[2021-11-01 07:36] rtivital commented on #364
Maybe that's NomalizeCSS, can you try including it? https://mantine.dev/theming/create-styles/#normalizecss

[2021-11-01 07:38] tibotiber commented on #364
Bingo! Thank you very much for the super quick support and sorry for not finding that in the docs first.

[2021-11-01 07:41] rtivital commented on #364
I'll fix it in future releases to not rely on normalize css in Safari

[2021-11-01 07:45] tibotiber commented on #364
Superb! That will help with using the components in apps that are not compatible with normalize css.

[2021-11-01 12:30] hauptrolle opened #366 "[@mantine/core] <Title> renders <element> with `vite build`"
Hello Guys,

first of all, thank your for this awesome library 👏

I have found an issue with the `<Title>` component from `@mantine/core` when using it together with `Vite`.

In the development mode everything works fine, but after building the app the `Title` components gets rendered as `<element>` instead of `h1`.  You can find an example repo [here](https://github.com/hauptrolle/pokedex)

[2021-11-01 12:57] rtivital commented on #366
Hi @hauptrolle, here is our output esm code for Title component:
[code]

It looks correct to me – we do not use element as a string here. I do not think that there is something that we can do on our side to fix it as it seems to be a bug in Vite bundler.

[2021-11-01 17:21] rtivital commented on #366
I think this issue contains details – https://github.com/vitejs/vite/issues/5441

[2021-11-01 17:43] rtivital commented on #366
Alright, I've released a patch that fixes this issue, update to 3.1.2 and Title will render correct element.

[2021-11-01 17:43] #366 closed

[2021-11-01 18:59] hauptrolle commented on #366
Wow! Thank you so much for your fast response!

[2021-11-02 03:53] MrHBS opened #368 "Horizontal scrollbar on small screens"
![image](https://user-images.githubusercontent.com/30705623/139784373-03f4f1c0-755c-4b1e-a40e-fb8c2863d727.jpeg)

[2021-11-03 01:17] TrashPandacoot opened #375 "Allow NumberInput to have the ability to be empty"
As mentioned in the Github discussion I'd like to implement the ability for the NumberInput component to have the ability to be empty.

The way I'm proposing to do will introduce a breaking change in the `onChange` prop signature from `onChange?(value: number): void` to `onChange?(value: number | undefined): void`

Basically, I'm thinking that onBlur we just check if the input is empty and if it i

[2021-11-03 03:17] MrHBS opened #376 "No search bar on small screens"
Would be great to have the search bar on mobile

[2021-11-03 16:01] zifeo opened #377 "Controlled TimeInput cannot be controlled"
@mantine/dates@3.1.2 with latest Safari

[code]

I suspect this is caused by the lack of a default/empty value in the component.

[2021-11-03 16:48] rtivital commented on #377
I've released a patch with a fix, please update to `3.1.4` and report if everything is working correctly

[2021-11-03 16:48] rtivital commented on #364
Fix was released in `3.1.4`, you can now use NumberInput without normalize.css

[2021-11-03 16:48] #364 closed

[2021-11-03 16:50] rtivital commented on #375
Hi @TrashPandacoot, sounds good, you can start development by forking mantine repo, please use `next-minor` as a base branch for your work and PR

[2021-11-03 16:58] zifeo commented on #377
@rtivital That's fast, works!

[2021-11-03 16:58] #377 closed

[2021-11-03 17:11] rtivital commented on #376
Thanks for proposal, adding search to mobile devices is out of our current scope, we will think about it when we will be performing next documentation redesign.

[2021-11-03 17:11] #376 closed

[2021-11-03 17:14] rtivital commented on #368
Horizontal scrollbars appear when code overflows its container, it is expected behavior. If you think that this is a bug, please reopen issue with more details.

[2021-11-03 17:14] #368 closed

[2021-11-03 17:47] zifeo opened #378 "Notifications with strict mode (findDOMNode warning)"
Relates to https://github.com/mantinedev/mantine/issues/93 but in @mantine/notifications@3.1.4 (latest Safari).

[code]

[code]

[2021-11-03 17:50] rtivital commented on #378
We need to migrate @mantine/notifications to new ref api to remove this warning, feel free to submit a PR

[2021-11-05 15:07] justinsmid opened #387 "PasswordInput's mask toggle icon overlaps with password manager icons"
- What package has an issue: `mantine/core`
- What package version are you using: `"@mantine/core": "3.1.4"`

- In which browser and operating system issue occurred: I have tested it in Chrome and Firefox on Linux, but I assume it also occurs on other browsers & OS's.

- Steps to reproduce: Install a password manager extension (such as [LastPass](https://chrome.google.com/webstore/detail/lastpass-

[2021-11-05 15:23] rtivital commented on #387
Hi Justin, thanks for reporting, I'll try to fix this issue in next minor release

[2021-11-05 17:49] rtivital commented on #387
Fixed in 3.1.5 patch, validated to work with lasspass
<img width="353" alt="Снимок экрана 2021-11-05 в 20 26 04" src="https://user-images.githubusercontent.com/10353856/140555815-19f23b04-ca02-48f1-95e1-f3912ce14bd5.png">

[2021-11-05 17:49] #387 closed

[2021-11-06 02:37] KhaledMohamedP opened #389 "Bug: Breakpoint issue in the Col component with xs size"
`Bug`
---
Started using the `Grid` & `Col` components and realized there is a possible bug in the theme settings.

The min-width for `xs` size should be `0` not `576px` to style for mobile screens.

**Bootstrap settings**

<img width="250" alt="Screen Shot 2021-11-05 at 10 29 47 PM" src="https://user-images.githubusercontent.com/5921853/140594910-2374cc14-f969-4c71-845e-bbdf526c06dc.png">

https:/

[2021-11-06 06:35] rtivital commented on #389
Hi, configuration is correct, here is how Col works:
- `<Col span={12} />` – 12 span at all sizes
- `<Col span={10} xs={8} />` – 12 span at 0 – 576px, 8 span 577+px
- `<Col span={12} xs={8} sm={6} />` – 12 span at 0 – 576px, 8 span 577px–768px, 6 span 769+px

[2021-11-06 06:35] #389 closed

[2021-11-06 10:57] rtivital commented on #303
Done, will be released as part of 3.2.0 release (December 3rd or earlier)

[2021-11-07 12:43] rtivital commented on #296
We've fixed flickering in 3.1.1 patch

[2021-11-07 12:43] #296 closed

[2021-11-07 12:44] rtivital commented on #284
Done, will be released as a part of 3.2 release (December 3rd or earlier)

[2021-11-07 12:45] #358 closed

[2021-11-08 11:52] bogordesaincom commented on #378
same problem

[2021-11-09 10:35] MiguelKorn opened #396 "[Feature Request] RangePicker - option to show two months"
As the title says, add an option to the RangePicker component to show two months next to each other. See the example below.

![image](https://user-images.githubusercontent.com/15876051/140907869-d3439455-9423-4192-9d13-efd582c72c08.png)

If you're ok with this feature, I'm willing to implement this.

[2021-11-09 10:44] rtivital commented on #396
Duplicate of #232
Hi @MiguelKorn thanks for suggestion! @EmilMalanczak have you started working on this issue? If not @MiguelKorn you can work on this.

[2021-11-09 11:08] EmilMalanczak commented on #396
Nah, I started working on a Month/Year pickers. If @MiguelKorn wants to work on this maybe I'll leave it for now because a lot of conflicts might appear, what's your opinion @rtivital?

[2021-11-09 11:11] rtivital commented on #396
It's fine, I think we will be able to manage conflicts as these features do not intersect that much. @MiguelKorn you can work on this feature, fell free to reach out on Discord in Contributing channel if you have any questions.

[2021-11-09 20:06] csandman opened #397 "[Feature Request] Add rounded cap option to `RingProgress`"
For the package `RingProgress` from `@mantine/core`, it would be nice to have a `capIsRound` prop to round the ends of the progress bar.  Chakra UI has a similar option in their `CircularProgress` component:

- https://chakra-ui.com/docs/feedback/circular-progress#props
- https://github.com/chakra-ui/chakra-ui/blob/a25203e4d869d66037b2e8fae81a9e7e587de9eb/packages/progress/src/circular-progress.ts

[2021-11-10 06:27] rtivital commented on #397
Thanks for proposal! We will try things out and see if it works as expected for multiple sections

[2021-11-10 09:28] labithiotis opened #402 "@mantine/core Text component color is not inherited"
It seems like the `Text` component does not inherit color value from parents by default and only if we set `sx={{ color: "inherit" }}>` does it work

Is that intended?

Codesanbox example: https://codesandbox.io/s/mantine-bug-h26lc

Would it be terrible to alter `Text` source code to default `color` to `inherited`? https://github.com/mantinedev/mantine/blob/master/src/mantine-core/src/components/T

[2021-11-10 09:33] rtivital commented on #402
If you want Text to inherit color, you can use the `sx` as you described above. In most cases where you would want to inherit color you can replace Text with just a div element or Box component.

[2021-11-10 10:48] labithiotis commented on #402
The only slight issue with using a div/span element is the font family isn't used either, I would need to also apply a CSS style to set font family on body.
https://codesandbox.io/s/mantine-bug-h26lc?file=/src/App.tsx
![image](https://user-images.githubusercontent.com/784306/141099752-e0859941-b511-4142-83cd-40ccc0b562a9.png)

[2021-11-10 11:08] labithiotis commented on #402
Oh nice, I missed that component in docs. That works except for one thing, I have set some custom font sizes which don't seem to be applied by GlobalStyles source

[code]

Would it be ok to amend the GlobalStyles body to use `md` font size from theme?
[code]
https://github.com/mantinedev/mantine/blob/master/src/mantine-styles/src/theme/GlobalStyles.tsx

[2021-11-10 11:11] rtivital commented on #402
Yeah, sounds fine

[2021-11-10 13:07] labithiotis commented on #402
Added a PR that updates GlobalStyles: https://github.com/mantinedev/mantine/pull/403

[2021-11-10 21:27] dallanlee opened #407 "Mantine does not mention its non-mobile-first (i.e. "desktop-first") approach anywhere"
### Discussed in https://github.com/mantinedev/mantine/discussions/374

<div type='discussions-op-text'>

<sup>Originally posted by **dallanlee** November  2, 2021</sup>
It seems like Mantine follows the mobile first development approach as seen in [Grid - Responsive columns](https://mantine.dev/core/grid/#responsive-columns) (and other components?). There is the initial `span` value for `<Grid />

[2021-11-11 09:31] rtivital commented on #397
I've tried out `strokeLinecap="round"` like in Chakra and it does not seem to work well with multiple sections, leaving this issue for community to solve.

[2021-11-11 17:09] rtivital commented on #375
Feature implemented and merged, will be released as part of 3.2 release

[2021-11-12 06:02] bogordesaincom opened #409 "@mantine/core Select defaultValue / Old Value"
how to selected / old value ?

[2021-11-12 06:05] bogordesaincom commented on #409
sory i will write on discussion

[2021-11-12 06:05] #409 closed

[2021-11-12 15:11] mrityunjaygr8 opened #413 "Password Input has smaller line height in mozilla firefox"
Package: "@mantine/core"
Version: 3.1.6
Browser+OS: Mozilla Firefox Developer Edition 94.0b3 and Firefox 94.0.1 on Manjaro Linux
It seems to be working well in Codesandbox so I dont know how useful will that be
Manually setting the line height, equal to the line height on the input element above in the screenshot , on the `<input type="password">` element seems to fix the issue
I am willing to par

[2021-11-12 15:26] mrityunjaygr8 opened #414 "Password text is black even in dark mode"
Package: "@mantine/core"
Version: 3.1.6
Browser+OS: Mozilla Firefox Developer Edition 94.0b3 and Firefox 94.0.1 and Chromium 94.0.4606.81 on Manjaro Linux

The text in the Password Input Element has black/dark color even in dark mode.
[Codesandbox](https://codesandbox.io/embed/serverless-thunder-e0o62?fontsize=14&hidenavigation=1&theme=dark)

Screenshots:
![chromium-password-input-text-black](http

[2021-11-12 15:32] rtivital commented on #413
Hi @mrityunjaygr8 thanks for reporting! Issues that you've reported are already fixed and will be out in next minor release 3.2, meanwhile you can downgrade to version `3.1.4` – PasswordInput has correct styles in that version.

[2021-11-12 15:37] mrityunjaygr8 commented on #413
thanks for the info @rtivital, i will downgrade to `3.1.4` while waiting for the `3.2` release.
Do you have a rough estimate of when that will be?

Either ways, thanks and have good weekend.

PS: should i close this issue? Or, you will do that.

[2021-11-12 15:38] rtivital commented on #413
I'll close this issue once 3.2 is out. It's planned to be released on December 3rd or earlier.

[2021-11-13 03:30] bogordesaincom opened #415 "Warning: Received `false` for a non-boolean attribute `grow`."
What package has an issue
```@mantine/core```
What package version are you using?
[code]
In which browser and operating system issue occurred?
[code]
Message Warning :

[code]
<img width="972" alt="Jepretan Layar 2021-11-13 pukul 10 27 00" src="https://user-images.githubusercontent.com/51335197/141604127-2c1e008c-df4b-4e90-91fa-b6a2359eeb54.png">

[2021-11-13 07:23] rtivital commented on #415
Please share the code that produces this error

[2021-11-13 08:14] yhnavein opened #416 "[BUG] Nested Tabs don't work since version 3.1"
If you create nested Tabs with different and dynamic amount of children tabs then one of the following errors is produced:

[code]
or
[code]

Error depends on amount of tabs in the initial child Tab component

I have recreated this bug here:
https://codesandbox.io/s/sleepy-goldberg-os38f?file=/src/App.js

In version `3.0.5` (and below) that example was working fine.
Error occured first in `3.1.0`

[2021-11-13 08:46] rtivital commented on #416
Thanks for reporting! I've released a patch with a fix, please update to 3.1.9 and validate that issue was fixed.

[2021-11-13 08:46] rtivital commented on #414
Fixed in 3.1.9

[2021-11-13 08:46] #414 closed

[2021-11-13 08:47] rtivital commented on #413
Fixed in 3.1.9

[2021-11-13 08:47] #413 closed

[2021-11-13 08:55] yhnavein commented on #416
Now it's working fine
Thanks you! :)

[2021-11-13 08:55] #416 closed

[2021-11-16 15:00] matthewoates opened #420 "Not able to define theme according to styles for official Mantine docs"
I'm looking at https://mantine.dev/theming/extend-theme/ and notice that the headers have a pure white text color. There doesn't seem to be a way to get this working in the themes, which feels really awkward. I don't think we should need to resort to using CSS (the docs advise against using styling patterns other than Mantine's) and I don't want to have to apply a font color each time I render a T

[2021-11-16 15:05] rtivital commented on #420
Hi @matthewoates you cannot set Title color in your theme – this will now work for dark/light color scheme toggle.
You can set Title color globally with styles API on MantineProvider:
[code]

[2021-11-16 15:14] matthewoates commented on #420
Thanks for the quick response @rtivital - I completely missed the `Styles API with MantineProvider` section.

[2021-11-16 15:14] #420 closed

[2021-11-17 01:48] jharrelson opened #421 "[Feature Request] Prop to allow selecting highlited item during Select onBlur event"
I took a quick look at the code for the Select component and did not see this functionality, but I think it would be really handy to add an option to automatically select the currently highlighted item in a select component during the onBlur event.

Currently, the user must search for their selection and then confirm the selection using the enter key before being able to tab into the next field.

[2021-11-17 02:16] Modax59 opened #422 "Menu inside AppShell don't work"

[2021-11-17 02:30] jharrelson opened #423 "[Issue] Cannot clear Select value with creatable prop"
When the creatable prop is being used for a Select, the value is not clearable.  I've attached a code sandbox below to demo.

Select a value in the select and then click the reset button.

https://codesandbox.io/s/blue-breeze-ts023?file=/src/App.js

EDIT: It seems like there is a workaround using the `useForceUpdate` utility hook.

[2021-11-17 06:57] rtivital commented on #421
Sounds fine, we can do it, feel free to contribute `selectOnBlur` prop to Select and MultiSelect components

[2021-11-17 07:00] rtivital commented on #422
Navbar and Header component have high z-index property, you need to set menu z-index to higher value:

[code]

[2021-11-17 07:00] #422 closed

[2021-11-17 07:02] rtivital commented on #423
Thanks for reporting, @achmurali can you have a look at this?

[2021-11-17 10:58] JohannesKlauss opened #424 "useLocaleStorageValue in @mantine/hooks provides null for first render despite given defaultValue"
Using the `useLocalStorageValue` in 3.1.9 has a bug. The first render will always return `null`, because the defaultValue gets set in an `useEffect`.

Reproduction (check the console.logs and change the locale storage key to a non existing one if you missed it):
https://codesandbox.io/s/nice-perlman-fmmtb?file=/src/App.js

the second render will return the `defaultValue`, but this behavior is inco

[2021-11-17 11:57] achmurali commented on #423
Yeah definitely, @rtivital .

[2021-11-17 18:09] pimartin opened #426 "doc: broken link to GlobalStyles from Dark theme"
Hi,

On the [Dark theme page](https://mantine.dev/theming/dark-theme/), in the section [Global Styles](https://mantine.dev/theming/dark-theme/#global-styles), there is a link to the documentation for the `GlobalStyle` component: https://mantine.dev/theming/global-styles/

However, that page is a 404.

I don't know if the link is just broken or if the GlobalStyle component is deprecated (I'm discov

[2021-11-17 18:32] rtivital commented on #426
Thanks for reporting! We will fix this issue in next minor release

[2021-11-17 21:33] brochington opened #429 "Ref proptype on Menu component not found in Typescript definition"
- What package has an issue (@mantine/core, mantine/hooks or other)? **@mantine/core**
- What package version are you using? **3.1.9**
- In which browser and operating system issue occurred? **VSCode**
- Do you have an idea how to fix the issue? - **Ref proptype needs to be added to Menu Component type.**
- Are you willing to participate in fixing this issue (it's totally fine if not) and create a

[2021-11-18 07:39] rtivital commented on #429
Thanks for reporting, we will fix this issue in 3.2

[2021-11-19 17:31] rtivital commented on #429
Fix was released in 3.2

[2021-11-19 17:31] #429 closed

[2021-11-19 17:32] rtivital commented on #426
Fix was released in 3.2.0

[2021-11-19 17:32] #426 closed

[2021-11-19 17:32] rtivital commented on #424
Fix was released in 3.2.0

[2021-11-19 17:32] #424 closed

[2021-11-19 17:33] rtivital commented on #423
Fix was released in 3.2.0, @jharrelson please check if everything works correctly and reopen this issue if you are still experiencing any problems

[2021-11-19 17:33] #423 closed

[2021-11-19 17:34] rtivital commented on #415
Closing due to inactivity

[2021-11-19 17:34] #415 closed

[2021-11-19 17:34] rtivital commented on #402
Feature was released in 3.2

[2021-11-19 17:34] #402 closed

[2021-11-19 17:35] rtivital commented on #407
@dallanlee please check 3.2 changelog to find out about mobile first approach, I think that we've managed to do everything correctly

[2021-11-19 17:35] #407 closed

[2021-11-19 17:35] rtivital commented on #396
Released in 3.2

[2021-11-19 17:35] #396 closed

[2021-11-19 17:35] rtivital commented on #375
Released in 3.2, @TrashPandacoot thanks again for your work

[2021-11-19 17:36] #375 closed

[2021-11-19 17:36] rtivital commented on #303
Released in 3.2

[2021-11-19 17:36] #303 closed

[2021-11-19 17:37] rtivital commented on #350
We now have rtl guide, hope that helps – https://mantine.dev/theming/rtl/
We are still leaving rtl support for community, if everything is not correct, please report

[2021-11-19 17:37] #350 closed

[2021-11-19 17:38] rtivital commented on #284
Released in 3.2

[2021-11-19 17:38] #284 closed

[2021-11-19 17:38] rtivital commented on #232
Released in 3.2

[2021-11-19 17:38] #232 closed

[2021-11-19 17:38] rtivital commented on #202
Released in 3.2

[2021-11-19 17:38] #202 closed

[2021-11-19 17:41] dallanlee commented on #407
I've been following the progress and it looks great! Well done 👏🏼

[2021-11-19 17:56] jvdsande opened #434 "Menu/Popover fallback placement broken in 3.2.1"
Hello!

I've come across an issue with the latest version of Mantine, where `Menu` and `Popover` fallback placement don't seem to work anymore.

Version information:
- @mantine/core@3.2.1
- @mantine/hooks@3.2.1
- Chromium: 95.0.4638.69

Here is an attached screenshot of the behavior I'm observing:

![image](https://user-images.githubusercontent.com/12484011/142668754-adc17f54-76d6-43ba-b370-97d1e9

[2021-11-19 17:59] rtivital commented on #434
Hi @jvdsande, thanks for reporting! @EmilMalanczak can you please have a look at this?

[2021-11-19 19:39] EmilMalanczak commented on #434
Yes, I'll look on that. In apart from the issue, shall I add `fallbackPlacements ` prop to `Menu` and `Popover` components?

[2021-11-19 19:42] rtivital commented on #434
I do not have any idea how it's working right now, so it's up to you. Just one question – cannot we make it fully automatic, the same it was before on Popper component level? For example, if it receives bottom-end placement, it will automatically create a fallback for top-end placement.

[2021-11-19 20:06] EmilMalanczak commented on #434
possibly but I'm not sure if that automatic behaviour would be expected in 100%. I'll make it as something similar to `fallbackPlacements || getDefaultFallbackPlacement(placement)`

[2021-11-19 22:42] jvdsande commented on #434
For my use case I'd be perfectly fine with just having access to `fallbackPlacements` on the Popover and Menu components. I've tried manually patching the dist with this and it worked perfectly.

I guess it's not easy - maybe even not possible - to have a config that cover all cases, so the ideal is to allow this to be set case by case through a prop

[2021-11-20 08:35] iDavidB commented on #300
I just tried this on my iPhone running iOS 15.1 and it works. I did notice that sometimes it takes an extra second or so before the lock "kicks in" allowing you to scroll at least once more. However, this seems to be an issue with mobile browsers in general.

[2021-11-20 08:43] rtivital commented on #300
Demo on home page also works for me on iOS 15, but it does not work with Modal which uses use-scroll-lock

[2021-11-20 08:47] iDavidB commented on #300
I'm assuming you mean you can still scroll what is behind the modal? I actually get the same behavior there as I described in my previous comment. It will lock, it just takes a second. Strangely after it worked once, closing and opening the modal again doesn't cause this behavior again.

[2021-11-20 21:36] porkopek opened #439 "Highlighter function causes RegExp error if text to be highlighted has invalid regex expression"
**highlighter** function [here](https://github.com/mantinedev/mantine/blob/f48304c21257a6f8a089ab87c8b8826d76e3fc39/src/mantine-core/src/components/Highlight/highlighter/highlighter.ts#L1)  doesn't escape the input value (highlight:string), causing a regex error if the part you want to highlight has some invalid regex expression, like a no matched bracket

Example:
[code]

- What package has an is

[2021-11-20 21:43] porkopek commented on #439
Maybe this is a feature,  because it enables regex highlighting, and the user just have to escape the string  themselves, but then I think you should allow to choose the flags, that are hardcoded in the function.

[2021-11-21 01:48] bogordesaincom opened #441 "Select Dropdown Show in Back of Modal"
[code]
Select hide in modal show in back of modal
<img width="473" alt="444" src="https://user-images.githubusercontent.com/51335197/142746203-22fc0810-5ef4-4c65-963d-27cd861bc3ac.png">
<img width="386" alt="rr" src="https://user-images.githubusercontent.com/51335197/142746204-53123f62-28f8-44c9-9dff-7cfc5b4937d2.png">

[2021-11-21 06:01] rtivital commented on #439
Thanks for reporting, we will fix that in next patch

[2021-11-21 06:07] rtivital commented on #441
Thanks for reporting, we will provide a fix for this issue in next patch

[2021-11-21 12:19] dukesx commented on #350
Thank you ! Much appreciated !

[2021-11-21 12:29] bogordesaincom commented on #441
I use this for solution

[code]

and change appshell

[code]

[2021-11-21 13:02] #441 closed

[2021-11-21 19:10] porkopek commented on #439
As I said in the second comment, maybe the way it is now is good, because it allows regex highlight. Just warn in the docs

[2021-11-21 19:13] rtivital commented on #439
No, it's a security vulnerability, basically it's an eval wrapped in regex, already fixed it, patch will be out soon

[2021-11-22 09:16] cx0onl opened #447 "[@mantine/core] Group Component -> Issues with gaps/spacing"
Hello together!

First of all congratulations and thanks for Mantine! This is by far the best library for React out there!

I use the Group component very often in my UI. In doing so, I have noticed several bugs:

1.) An unwanted gap is inserted after the last item. Therefore the items do not use the whole available width.
![group-gap](https://user-images.githubusercontent.com/51824711/142833799-e

[2021-11-22 09:21] ruessej opened #448 "Select is rendered under modal"
- What package has an issue: @mantine/core
- What package version are you using: v.3.2.1
- In which browser and operating system issue occurred: Edge@96.0.1054.29, Windows 10
- If possible please attach link to codesandbox with reproduced issue: https://codesandbox.io/s/practical-easley-juw68
- Do you have an idea how to fix the issue? zIndex???

![image](https://user-images.githubusercontent.com/

[2021-11-22 09:39] rtivital commented on #447
Hi @cx0onl, thanks for reporting! I cannot think of a way we can fix it on our side, as it seems to be a browser behavior. Maybe you have any ideas?

[2021-11-22 09:40] rtivital commented on #448
Thanks for reporting, we are working on this issue and will provide a fix in next patch

[2021-11-22 09:45] rtivital commented on #448
To fix that issue now, you can set Modal zIndex to lower value:

[code]

[2021-11-22 09:46] cx0onl commented on #447
It looks like the problem is comming from the calculation of the child width.

https://github.com/mantinedev/mantine/blob/557594325b2c14158e12e8b9bfaef6096ed17f71/src/mantine-core/src/components/Group/Group.styles.ts#L39

[2021-11-22 09:54] cx0onl commented on #447
You added this lines in July:
https://github.com/mantinedev/mantine/commit/53d903fd888fab38ea577a193a10e2865a3f4333#diff-d4b7b3ac6a72ceed5b7ac9cec0a0ad59f44f7615f87d0ed037202ab769b2e98b

[2021-11-22 10:02] nghiepit commented on #448
@rtivital Why `zIndex` prop does not support on Select component?
I think zIndex of Select/MultiSelect component should be bigger zIndex of Modal/Popover by default.
And allow custom zIndex property on theme.

[2021-11-22 10:02] cx0onl commented on #447
`calc(${100 / count}% - ${(count - 1/count) * theme.fn.size({ size: spacing, sizes: theme.spacing })}px)`

Mayby this should fix it? Only add **count - 1 / count** (eg. 2/3) spacing to each child.

[2021-11-22 10:14] rtivital commented on #447
I've released a patch 3.2.2 with a fix, can you please update and see if it works for you?

[2021-11-22 10:16] rtivital commented on #448
I've released a patch 3.2.2, please update and see if it solves your issue
@nghiepit `zIndex` prop was added to Select, MultiSelect and Autocomplete components

[2021-11-22 10:16] rtivital commented on #439
Fix was released in 3.2.2

[2021-11-22 10:16] #439 closed

[2021-11-22 10:23] ruessej commented on #448
Thanks for the quick solve

[2021-11-22 10:23] #448 closed

[2021-11-22 11:55] cx0onl commented on #447
Yes. Now it works like a charm. :-)

Issue is closed.

[2021-11-22 11:55] #447 closed

[2021-11-23 06:29] brochington opened #451 "Provide access to Quill instance object when using the RichTextEditor component."
Since the `RichTextEditor` component is build on top of the Quill library, it would be nice to offer a means of accessing the underlying Quill instance object so that the editor may be used imperatively, extended, etc.

[2021-11-23 08:09] rtivital commented on #451
Thanks for proposal, we will add this feature in one of the 3.x releases

[2021-11-23 15:52] Modax59 opened #453 "Add floating labels to input ?"

[2021-11-23 15:59] rtivital commented on #453
I do not think that we will have this feature as default, you will need to build your own components for that. Here is an example – https://codesandbox.io/s/epic-leaf-42z2u?file=/src/App.tsx

[2021-11-23 16:20] #453 closed

[2021-11-23 21:43] porkopek commented on #421
It's already possible listening to keydown on `Select` or `Autocomplete` and in case of the key that was pressed was 'Tab', setting the value.

I do it this way
[code]

[2021-11-23 22:10] porkopek opened #454 "Select should remember the selected item index and start from there"
- What package has an issue (@mantine/core, mantine/hooks or other)?
**core**
- What package version are you using?
**3.2.2**

The select should keep the state of the index of the selected item once closed.
At this moment, if you select an item, let's say the 4th of a list of 6, you close the select and you open again, the selected item is the 1st of the list.
It's true that the selected item rema

[2021-11-23 22:55] jharrelson commented on #421
This doesn't appear to work -- the value that is retrieved after tabbing out of the field is the text that was input (not the value of the currently selected item).

In my case I have a Select box with a predefined set of values.  When the user types in the input field, the results are filtered.  From here the user can use up and down keys to change their selection or tab out of the field.  I'd li

[2021-11-24 06:50] rtivital commented on #454
Thanks for reporting! Your assumption is incorrect, though – native select does not remember where the mouse was – it highlights the selected item. I think we can work on this to bring the same behavior.

[2021-11-24 08:24] ruessej opened #455 "Modal is closed when you click on the body"
- What package has an issue? @mantine/core
- What package version are you using? v3.2.2
- In which browser and operating system issue occurred? Edge@96.0.1054.29, Windows 10
- If possible please attach link to codesandbox with reproduced issue: https://codesandbox.io/s/mystifying-pasteur-h8iqq

[2021-11-24 08:31] rtivital commented on #455
It is a normal modal behavior, if you want to disable modal closing with outside clicks set `closeOnClickOutside={false}`, here is an example – https://codesandbox.io/s/happy-tree-hhuim

[2021-11-24 08:34] ruessej commented on #455
But I want to close the modal when I click the Outside, and not when I click the body, for example the text.

[2021-11-24 08:38] rtivital commented on #455
Can you please explain more? I do not understand the issue. Is it specific for Edge? Can you replicate that in Chrome?

https://user-images.githubusercontent.com/10353856/143203302-9cd507c6-440d-41db-b687-1b8197c30636.mov

[2021-11-24 08:42] ruessej commented on #455
I have tested it on Brave and there is no problem there

[2021-11-24 08:44] rtivital commented on #455
Okay, I'll check on Edge then

[2021-11-24 09:06] rtivital commented on #455
Cannot replicate on Microsoft Edge | 95.0.1020.30 (Official build) (64-bit)

https://imgur.com/a/yekDY2p

[2021-11-24 09:25] ruessej commented on #455
I think its a problem with my project or with my work pc.
But thanks for the try

[2021-11-24 14:08] porkopek commented on #454
I'm referring to keyboard, not mouse. Native select remembers which element is selected and when you open the select again and  you do key down or key up, the cursor moves from the selected item, not from the start.
In Mantine's case, the gray background that represents the cursor and the blue background that represents the selected item have to be in the same index when you open the select again

[2021-11-24 22:14] mikirejf commented on #300
I can try and work on this issue. IMO there are two possible solutions:

1. the one that @dallanlee linked,
2. and another one where you set `body` to `position: fixed;`.

As far as I know, the downside of these approaches is that it forces the browser to show the address and navigation bar. The pros are that the implementation is very simple and straightforward and therefore easy to maintain.

ht

[2021-11-24 22:33] EmilMalanczak commented on #300
will that work will internal scrollable content? Also, there's a big issue with that approach - when u set `position: fixed` body content scrolls to the top which looks strange

[2021-11-24 22:54] mikirejf commented on #300
It will work, since we are not canceling any events etc. By setting the `position` to `fixed`, you are basically telling the browser to take that element out of the normal flow and expand it to it's full dimensions -> scrollbar disappears. The other elements are not affected.

The scroll position needs to be handled accordingly. Save the scrollY before invoking any other changes and then restore i

[2021-11-24 23:33] EmilMalanczak commented on #300
Sounds good, I tried something similar before but still had issues on iphone (used ip7)

[2021-11-25 00:55] LucasLemanowicz opened #457 "[@mantine/core] RadioGroup not compatible with React Hook Form"
Mantine's RadioGroup (and likely other form elements) are not compatible with React Hook Form, a popular forms library.

Repro is here, where I try to register the RadioGroup input with the form: https://codesandbox.io/s/frosty-vaughan-0j0xb

Specifically it seems like the `onChange` parameter has a different type in Mantine and react-hook-form:
[code]

Package versions:
[code]

[2021-11-25 04:44] LucasLemanowicz commented on #457
Seems to be this override: https://github.com/mantinedev/mantine/blob/55fcf58/src/mantine-core/src/components/RadioGroup/RadioGroup.tsx#L86-L87

[2021-11-25 05:47] rtivital commented on #457
Unfortunately, we cannot support all existing form libraries APIs. You can use https://react-hook-form.com/api/useform/setvalue to set field value manually to set value in `onChange` handler.

[2021-11-25 09:42] nghiepit opened #458 "Popper should be removed when the Reference element is unmount."
Popper should be removed when the Reference element is unmounted. Or on Popoer prop support `onReferenceRemove`.

Please provide following information:
- What package has an issue (@mantine/core, mantine/hooks or other)? **3.2.2**
- What package version are you using? **Yarn**
- In which browser and operating system issue occurred?: **Chrome and macOS**
- If possible please attach link to codesand

[2021-11-25 09:44] rtivital commented on #458
Thanks for reporting and demo! We will fix this issues in next minor release.

[2021-11-25 09:51] nghiepit commented on #458
Thanks, @rtivital Maybe this issue also appears with Popover/Menu/Select + noClickOutside

[2021-11-25 15:28] iDavidB commented on #457
If you have a choice in form library I'd recommend using [React Final Form](https://github.com/final-form/react-final-form). This being one of the reasons why you probably should. It's a React abstraction over the regular Final Form JS library, which makes problems like these easier to tackle. `register` in React Hook Form for example tends to have a lot of issues with custom components due to wha

[2021-11-25 22:01] getTobiasNielsen commented on #457
https://codesandbox.io/s/frosty-mahavira-jexit?file=/src/App.tsx

[2021-11-25 22:05] LucasLemanowicz commented on #457
Thanks for the help over Discord, @getTobiasNielsen

I'll use this controller method for now, and look into getting a PR in at RHF to use the `getControllerValue` helper in register's onChange implementation in the next week or two.

[2021-11-26 03:12] nghiepit opened #459 "[Popover/Popper] How to avoid click outside when select item of Select/MultiSelect?"
Since version 3.2.2 Autocomplete, Select, and MultiSelect dropdowns are now rendered within Popper.
When selecting the select item the Popover auto close.
To temporarily solve the issue set `noClickOutSide: true`, But that's not a long-term solution.

Related https://github.com/mantinedev/mantine/issues/458

Please provide following information:
- What package has an issue (@mantine/core, mantine/

[2021-11-26 03:35] bogordesaincom commented on #378
any solution for this?, i'm search but still not found

[2021-11-26 06:17] #457 closed

[2021-11-26 06:18] rtivital commented on #459
We already solved this by rendering dropdowns without portal by default, it should be out with 3.3

[2021-11-26 08:27] lydianlights opened #461 "[MantineProvider] (v3.2.2) theme prop's `other` field typescript typing issue"
Hello, I've been using Mantine in a typescript-based React app and I'm having some issues with the typing of the MantineProvider theme prop -- specifically the `other` field.

I have something like the following:
[code]

But I get an error on headerHeight that `Type 'string' is not assignable to type 'DeepPartial<any> | undefined'`. However I can currently work around this problem by just defining

[2021-11-26 09:33] rtivital commented on #461
Thanks for reporting, I've released a patch 3.2.3 with a fix for this issue, can you please update and see if that works for you?

[2021-11-26 09:35] rtivital commented on #434
Fixed in 3.2.3, @jvdsande can you please update to this patch and see if it resolves your issue?

[2021-11-26 09:45] jvdsande commented on #434
I'll try that as soon as I can :)

[2021-11-26 16:22] lydianlights commented on #461
Yep! I've downloaded the patched version and the bug is gone. Thank you!

[2021-11-26 16:25] rtivital commented on #461
Thanks, feel free to report any other issues

[2021-11-26 16:25] #461 closed

[2021-11-27 07:08] #434 closed

[2021-11-27 14:00] MiguelKorn opened #463 "[Feature Request] hook for non window element events (useElementEvent)"
Discussed in discord and just as the title says. A hook for non window elements so you can handle them as easy as with the `use-window-event` hook

[2021-11-28 09:09] nghiepit opened #465 "<Menu.Item disabled> Property 'disabled' does not exist on type"
- What package has an issue (@mantine/core, mantine/hooks or other)? **3.2.3**
- What package version are you using? **Yarn**

[2021-11-28 09:14] rtivital commented on #465
We currently do not support disabled items in Menu, this feature will be added in future releases

[2021-11-28 09:20] nghiepit commented on #465
@rtivital  But currently shows up as expected.
https://codesandbox.io/s/autumn-paper-8nd3q?file=/src/App.tsx

![image](https://user-images.githubusercontent.com/4768095/143753190-5911ec5f-47b0-4632-928a-95c350ba4915.png)

[2021-11-28 09:22] rtivital commented on #465
Yes, it shows as expected, but it's not officially supported — some mouse events are broken, I would not recommend using it

[2021-11-28 09:23] rtivital commented on #465
I'll add this in 3.3 release

[2021-11-28 15:33] rtivital commented on #463
Can you please provide a use case for this hook?

[2021-11-28 17:57] MartinMuzatko opened #466 "Get error "Function components cannot be given refs" when using Menu with custom control"
- **Package:** `@mantine/core/Menu`
- **Version:** 3.2.1
- **Browser/OS:** Chrome 96 - Windows 10
- **Sandbox:** https://codesandbox.io/s/quiet-darkness-q6hg6?file=/pages/index.jsx
- **Do you have an idea how to fix the issue?** No clue, sorry.
- Are you willing to participate in fixing this issue (it's totally fine if not) and create a pull request with the fix? I barely have experience with reac

[2021-11-28 18:11] rtivital commented on #466
The component that you pass to Menu `control` prop must support `ref` prop:

[code]

To add that in your component, I would recommend using forwardRef.

[2021-11-29 11:37] kierien commented on #455
Hi @rtivital, I'm facing the same issue.

Here's a minimal reproducible example:
[https://codesandbox.io/s/funny-voice-kpfi6?file=/src/App.tsx](https://codesandbox.io/s/funny-voice-kpfi6?file=/src/App.tsx)

Upon inspection it seems like the click outside overlay lives inside the modal inner div, not sure if that's intentional?

[2021-11-29 11:43] rtivital commented on #455
Thanks for reporting @kierien, we will fix clickoutside overlay position in next minor version, meanwhile you can fix this issue by setting z-index in styles api – https://codesandbox.io/s/quizzical-montalcini-md0es?file=/src/App.tsx

[2021-11-30 08:26] MiguelKorn commented on #463
Well, we'll have to write `closeOnScroll` logic ourselves for the `Menu` component, since it only checks the window scroll event (IIRC this will possibly be removed). So when the menu component is in a scrollable container it won't work. This hook would not only add this scroll event just as easy as the `use-window-event` hook, but also abstracting code that's needed for eventlisteners

[2021-11-30 08:28] rtivital commented on #463
And how it will differ from:

[code]

[2021-11-30 08:58] MiguelKorn commented on #463
In the above case you'll have to wrap the child with a `forwardRef` and need to make a ref for each child.
[code]
But what if the child is nested within multiple components? you cant keep forwarding the ref till you reach the child. With this hook you can pass the ref (directly or with a context) of the scroll container and let the child handle the event.
[code]

[2021-11-30 09:24] cx0onl opened #468 "Menu on Modal -> zIndex issue"
There is a zIndex problem when a menu is displayed on modals.

![image](https://user-images.githubusercontent.com/51824711/144019650-21f09d11-8dcf-477f-92ea-75353f9457b2.png)

https://codesandbox.io/s/bold-glitter-ugbbe

Please provide following information:
- @mantine/core
- 3.2.2
- Chrome, Windows 11

[2021-11-30 09:28] rtivital commented on #468
You need to set z-index on Menu component – https://codesandbox.io/s/youthful-mcclintock-hbvpl

[2021-11-30 09:34] cx0onl commented on #468
But that's just a workaround, right?
Setting the zIndex manually for each component is not really intuitive, is it?
(If this is the right way to do it, it should be mentioned in the doc).

Is there no fixed zIndex order of the mantine components?

Or is there a way to set zIndex automatically somehow? child.zindex (Menu) = parent.zindex (Modal) + 1?

[2021-11-30 09:42] rtivital commented on #468
I'll increase menu z-index to 10000 in 3.3

[2021-11-30 10:59] Jithinqw opened #469 "Able to embed Invalid URLs @mantine/rte"
- What package has an issue ? --> @mantine/rte
- What package version are you using? --> @latest
- In which browser and operating system issue occurred? --> Chrome / MacOS 10.15.1
- Are you willing to participate in fixing this issue (it's totally fine if not) and create a pull request with the fix? --> yes

Able to embed invalid URL to rte URL embed. Especially adding system like path to embed we

[2021-11-30 11:05] rtivital commented on #469
Honestly, I doubt that this is an issue — it's a default quill behavior. Let's say we would try to fix it, how would you tell that URL is incorrect?

[2021-11-30 11:19] rtivital commented on #469
And `../../` seems to be a valid working [url](../../)

[2021-11-30 11:31] #469 closed

[2021-11-30 23:11] bajoski34 opened #472 "Mantine Stepper does not work"
- @mantine/core
- latest version
- MAC OS
- onStepClick does not update the state
- Nope
- Sure i am willing

[2021-12-01 07:19] #472 closed

[2021-12-02 18:44] rtivital commented on #468
Fixed in 3.3, there should not be any z-index issue with any elements inside modals/drawers anymore. Feel free to reopen if it does not resolve your issue.

[2021-12-02 18:44] #468 closed

[2021-12-02 18:45] rtivital commented on #465
Menu.Item can now have a disabled prop in 3.3

[2021-12-02 18:45] #465 closed

[2021-12-02 18:46] rtivital commented on #466
Closing due to inactivity, feel free to reopen if you still experience this issue, or reach out on Discord to get help.

[2021-12-02 18:46] #466 closed

[2021-12-02 18:47] rtivital commented on #459
Released in 3.3, here is documentation on how to use components with Popper in Popover – https://mantine.dev/core/popover/#usage-with-other-overlays

[2021-12-02 18:47] #459 closed

[2021-12-02 18:50] rtivital commented on #455
This issue was resolved in 3.3.0, now click outside overlay has a fixed position, and it is not a part of modal body. Feel free to reopen or report if you are still have this behavior.

[2021-12-02 18:50] #455 closed

[2021-12-02 18:50] rtivital commented on #454
Released in 3.3

[2021-12-02 18:50] #454 closed

[2021-12-02 18:51] rtivital commented on #451
Released in 3.3, documentation on how to get quill ref — https://mantine.dev/others/rte/#get-editor-ref

[2021-12-02 18:51] #451 closed

[2021-12-02 22:39] jerebtw opened #475 "Useless scrollbars (TransferList)"
- What package has an issue (@mantine/core, mantine/hooks or other)? @mantine/core
- What package version are you using? v3.3.0
- In which browser and operating system issue occurred? Brave@96.0.4664.45, Windows 11
- If possible please attach link to codesandbox with reproduced issue: https://mantine.dev/core/transfer-list/

![image](https://user-images.githubusercontent.com/49494752/144514376-62e

[2021-12-02 23:09] jerebtw opened #476 "Color of individual tabs is broken (Tabs)"
- What package has an issue (@mantine/core, mantine/hooks or other)? @mantine/core
- What package version are you using? v3.3.0
- In which browser and operating system issue occurred? Brave@96.0.4664.45, Windows 11
- If possible please attach link to codesandbox with reproduced issue: https://mantine.dev/core/tabs/#change-colors

![image](https://user-images.githubusercontent.com/49494752/14451728

[2021-12-03 06:07] rtivital commented on #475
Thanks for reporting! This issue was fixed in 3.3.1 patch.

[2021-12-03 06:07] #475 closed

[2021-12-03 06:07] rtivital commented on #476
Thanks for reporting! This issue was fixed in 3.3.1 patch.

[2021-12-03 06:07] #476 closed

[2021-12-03 09:19] voladelta opened #477 "Expose Search component from docs as a seperate CmdK component"
Thank you for this impressive react component library 👍🤟

I'm gonna migrate from Chakra UI to Mantine!

The Search in the header is really nice. I really like it. Is there any chance you could expose as a component to Mantine?
Or maybe in @matine/extra?

[2021-12-03 10:23] rtivital commented on #477
Search is just an Autocomplete with a custom item component and Kbd, you can build your own custom search with these components

[2021-12-03 21:09] jvdsande commented on #434
Chiming in here a bit late: finally had the time to test latest release, the comportement is fixed now, thanks!

[2021-12-04 01:55] #477 closed

[2021-12-04 07:10] rtivital commented on #434
Cool, thanks for collaboration!

[2021-12-04 09:22] rtivital commented on #458
Fixed in 3.3.2

[2021-12-04 09:22] #458 closed

[2021-12-04 10:35] nghiepit commented on #459
Hey @rtivital
What do you think if `withinPortal` prop is false by default? To avoid many break changes.

I'm not sure, But, Why the position is `relative` instead of `fixed`?
https://github.com/mantinedev/mantine/blob/8d94c190446c85b4e598906ab379de1c2c912fd0/src/mantine-core/src/components/Popper/PopperContainer/PopperContainer.tsx#L34

[2021-12-04 10:43] rtivital commented on #459
I've considered setting `withinPortal` to false by default, but in this case, we will have inconsistent behavior across different components, so no, we will use portal by default in all components, and you can disable that with a prop. Anyway, you would want to use portal in most of the cases.

It is set to relative position just to configure z-index, Popper handles position styles internally, it'

[2021-12-05 14:11] lrvinye opened #481 "Drawer z-index fallback to 1000"
- What package has an issue (@mantine/core, mantine/hooks or other)?  @mantine/core
- What package version are you using?  3.3.1
- In which browser and operating system issue occurred? chrome
- If possible please attach link to codesandbox with reproduced issue
- Do you have an idea how to fix the issue?  check source code of Drawer
- Are you willing to participate in fixing this issue (it's total

[2021-12-05 14:14] lrvinye commented on #481
I have create a PR here #482

[2021-12-05 14:59] jerebtw opened #483 "[Feature Request] Change order of elements in TransferList"
I think it would be good to have the possibility to change the order of the elements.

For example, if you want to use TransferList to display only selected fields in a table and change the order of the selected fields

[2021-12-05 15:40] rtivital commented on #483
TransferList is a simple component that was designed to do one thing — move data from one place to another. I do not think that dnd would make much sense in terms of UX, it is not obvious that you are supposed to reorder items in this list.

[2021-12-05 16:46] #483 closed

[2021-12-05 18:18] nghiepit opened #484 "[Select] Warning: value prop on input should not be null. Consider using an empty string to clear the component or undefined for uncontrolled components."
Please provide following information:
- What package has an issue (@mantine/core, mantine/hooks or other)? **3.3.2**
- What package version are you using? **Yarn**
- In which browser and operating system issue occurred? **Chrome and macOS**
- If possible please attach link to codesandbox with reproduced issue
https://codesandbox.io/s/admiring-meninsky-gytjc?file=/src/App.tsx

From 3.3 when to use

[2021-12-05 18:20] rtivital commented on #484
Thanks for reporting, we will fix this issue in next patch

[2021-12-06 02:34] nghiepit opened #485 "[Datepicker] initialMonth should be default from value/defaultValue"
Hey,
Currently, the initial month of Datepicker is the current date if without specifying a date.

[code]

[2021-12-06 08:06] bajoski34 opened #486 "Tabs - it does not work"
- @mantine/core: using the the Tabs comp
-  3.2.3
- I macOS and Chrome
- nope
- sure

[2021-12-06 08:07] rtivital commented on #485
You should be able to set initial month with `initialMonth` prop, isn't it working for you?

[2021-12-06 08:08] rtivital commented on #486
I see that Tabs component works in documentation – https://mantine.dev/core/tabs/
Please provide code or sandbox where tabs do not work

[2021-12-06 10:21] JohannesKlauss opened #487 "[core] 3.3.3 Does not build with blitz.js"
The CI pipeline for my project fails when trying to update the core package to 3.3.3.

It fails with:

[code]

This is my tsconfig.json

[code]

And I am using Typescript 4.5.2

It is working with core version 3.0.5, but after that it fails for every version.

[2021-12-06 10:26] rtivital commented on #487
It seems like you have skipLibCheck set to false on CI. Can you replicate this issue while typecheck locally?
[code]

[2021-12-06 10:51] JohannesKlauss commented on #487
Hmh... I don't think that the CI sets `skipLibCheck` to `false`. The CI uses the same tsconfig.

I am able to replicate this by trying to build the application locally, yes.
And you are probably right with the styles package. Running `tsc --noEmit` produces 41 errors, all of them in the styles package.

I just saw the first error being the ColorSchemeContext and then the build process exited.

[2021-12-06 11:21] rtivital commented on #487
Okay, thanks for checking, I've published 3.3.4 which excludes src folders from all packages, can you update and see if it resolves your issue?

[2021-12-06 12:18] bajoski34 commented on #486
it works on the sandboxes but for some reason. the value does not change when the next tab is pressed.
@rtivital

[2021-12-06 12:30] rtivital commented on #486
I cannot tell more without issue reproduction, maybe this is an issue with your environment?

[2021-12-06 12:31] rtivital commented on #484
Fixed in 3.3.3

[2021-12-06 12:31] #484 closed

[2021-12-06 12:32] rtivital commented on #481
Thanks for reporting and contributing! Fix for this issue was released in 3.3.3

[2021-12-06 12:32] #481 closed

[2021-12-06 12:52] JohannesKlauss commented on #487
@rtivital It indeed fixed the bug. Thank you so much for the extremely quick fix!

[2021-12-06 12:52] #487 closed

[2021-12-06 14:24] nghiepit commented on #485
`initialMonth`prop works.
But if not set `initialMonth` then the initial month should be set default is `value` prop instead of current date.

[2021-12-06 14:39] rtivital commented on #485
Ah, I see, it's the issue with free input date picker only, will fix that

[2021-12-06 15:17] Stouffi opened #489 "Image with ratio constraint are not rendered the same between 3.2.x and 3.3.x"
Since v3.3.x I have a different behavior about how Image are rendered when neither width nor height are provided and instead a ratio constraint is given. Up to v3.2.3 the image is rendered as expected given the ratio specified by className on Image component. But from v3.3.x, the image is rendered using its intrinsic aspect ratio and does not cover the box defined by the given ratio, which in a wa

[2021-12-06 15:52] rtivital commented on #489
We had to change Image component internals because there was a bug with caption not being visible when the image overflowed its container. I've tweaked things a little in codesandbox and here is a possible solution – https://codesandbox.io/s/naughty-brook-el8bd?file=/src/App.tsx
Let me know if it works for you

[2021-12-06 16:05] rtivital commented on #489
Okay, feel free to reach out if you have any other questions or issues.

[2021-12-06 16:05] #489 closed

[2021-12-07 08:36] ruessej opened #491 "[Feature Request] Radius on Modal props"
I don't know if this is intentional that it's not there, but I would like to change the radius of my modal

[2021-12-07 08:42] rtivital commented on #491
You can set modal border radius with Styles API:
[code]

[2021-12-07 13:14] ruessej opened #493 "[@mantine/dropzone] Loading from dropzone goes throw skeleton"
- What package has an issue (@mantine/core, mantine/hooks or other)? @mantine/dropzone
- What package version are you using? 3.3.4
- In which browser and operating system issue occurred? Windows 10 Edge@96.0.1054.43
- If possible please attach link to codesandbox with reproduced issue: https://codesandbox.io/s/mystifying-https-ws3b7

[2021-12-07 13:39] rtivital commented on #493
I cannot understand this loading pattern and if we should spend time fixing it. Can you explain why you would want to use loading dropzone inside skeleton?

[2021-12-08 04:44] oxorp opened #494 "[Feature Request] Tag-Input"
We're currently evaluating mantine for rewriting an enterprise logistics management software and it's a blast. We found everything we need for our forms so far except a Tag-Input. The current version of our application uses [react-taginsput](https://www.npmjs.com/package/react-tagsinput) and we're loving it for stuff like `validationRegex` and `pasteSplit`.

Style wise it would look much like `Mul

[2021-12-08 05:46] rtivital commented on #494
Sounds fine, feel free to submit a PR and reach out on Discord if you need help in contributing

[2021-12-08 09:43] rtivital commented on #485
Fixed in 3.3.5

[2021-12-08 09:43] #485 closed

[2021-12-08 09:44] rtivital commented on #491
I think we can add it, leaving this for community to contribute

[2021-12-09 15:45] aaronzomback opened #496 "[Feature Request] dynamic step changes while dragging slider"
When implementing a conditional in the step prop on Slider, i.e.

`step={investmentValue >= 1000 ? 100 : 10}`

The step changes only using the keyboard arrows, but not with mouse drag on slider.

[2021-12-09 16:44] ruessej opened #498 "Modal scrollbar is behind the overlay"
- What package has an issue (@mantine/core, mantine/hooks or other)? @mantine/core
- What package version are you using? 3.3.5
- In which browser and operating system issue occurred? Windows 10 Edge@96.0.1054.43
- If possible please attach link to codesandbox with reproduced issue https://codesandbox.io/s/great-cookies-ebuxn

[2021-12-09 16:45] rtivital commented on #496
Thanks for leaving a feature request, I'll be working on it in one of the releases after 3.5, leaving it for community now, so feel free to contribute it if "Help wanted" label is still on this issue

[2021-12-09 16:47] rtivital commented on #498
Thanks for reporting! This issue will be fixed in the next minor release.

[2021-12-09 19:57] snehilvj commented on #491
Hi @rtivital raised a PR for this..

[2021-12-09 20:51] crstffr opened #502 "ScrollArea does not work with Preact"
## Description

Interacting with a `<Select/>` or `<MultiSelect/>` component causes the browser tab to use 100% CPU, and the tab must be force-quit. I have put together a barebones demonstration of the problem using Vite & Preact. When it loads, you can interact with the `<TextInput/>` without problem. As soon as you click on the `<Select/>` input, the tab crashes.

## Details

- What package has

[2021-12-09 21:12] crstffr commented on #502
I looked back through your release notes and noticed that you implemented the ScrollArea component as the default dropdown element for the `<Select/>` and `<MultiSelect/>` components in `v3.3.0`.

I rolled back to `@mantine/core v3.2.3` and the select dropdown works as expected.

This may just be an issue with the Mantine ScrollArea + Preact. I have not tested it with React.

[2021-12-10 06:27] rtivital commented on #502
Yep, that is the case, radix does not support preact, so scrollarea component will be unavailable until we rewrite it to support preact. The workaround is to disable ScrollArea on Select by setting dropdown component to a div – https://mantine.dev/core/select/#native-scrollbars

[2021-12-10 09:03] rtivital commented on #491
Feature is merged and will be available in next minor release

[2021-12-10 14:49] justinsmid opened #505 "TransferList performance issues with large number of items"
I have noticed scrolling and interacting with the TransferList gets very slow and sluggish when using a large number of items (starts around 300 items for me).

- What package has an issue: @mantine/core
- What package version are you using: 3.3.5
- In which browser and operating system issue occurred: Checked on Linux using Chrome and Firefox
- If possible please attach link to codesandbox with r

[2021-12-10 14:58] rtivital commented on #505
Thanks for reporting, I'll try to add memoization to transfer list item props and see if it resolves the issue. Actually, I think we also have the same performance in Select and MultiSelect components, so maybe memoization will also do the trick there.

[2021-12-10 15:50] rtivital commented on #505
I've added memoization like so – https://codesandbox.io/s/mantine-transferlist-performance-forked-mf78u?file=/src/App.js
It seems to be a little better, not perfect. Is performance in my sandbox as bad as in yours?

[2021-12-10 16:12] justinsmid commented on #505
It's noticeably better than before in your sandbox, but like you said, not perfect.

Have you considered using a virtual list for rendering the items? I haven't tried it, but I would assume that would solve the issue entirely.

I'm not sure how you would want to go about implementing it, but a library like [react-virtualized](https://github.com/bvaughn/react-virtualized) (or the more light-weight

[2021-12-10 16:26] bajoski34 commented on #486
this works. thanks @rtivital

[2021-12-10 16:26] #486 closed

[2021-12-10 17:16] rtivital commented on #505
My concern with virtualized libraries is that almost all of them will take ~30% of @mantine/core bundle, so I'd rather implement `limit` prop like in Select.

[2021-12-11 22:40] jerebtw opened #507 "Select has an additional scroll bar on "Large data set""
If you scroll to the end of the "Large data set" example, a second scroll bar appears. (see the image)

- What package has an issue (@mantine/core, mantine/hooks or other)? @mantine/core
- What package version are you using? 3.3.5
- In which browser and operating system issue occurred? Windows 11 Brave@1.32.115 Chromium: 96.0.4664.93
- If possible please attach link to codesandbox with reproduced

[2021-12-12 00:15] jerebtw opened #508 "[Feature Request] Radius on TransferList props"
Same as https://github.com/mantinedev/mantine/issues/491

[2021-12-12 05:36] rtivital commented on #507
Thanks for reporting, we will fix this issue in next minor release

[2021-12-12 07:17] just-be-weird opened #509 "While using the keyframes for simple animation its throwing warning"
``keyframes` output got interpolated into plain string, please wrap it with `css`.` I'm not sure if I'm being noob here while using the keyframes. I did referred the [docs](https://mantine.dev/theming/create-styles/#keyframes) and tried the similar animation but no luck every solution leads to this same error.

- What package has an issue (@mantine/core, mantine/hooks or other)?
- @mantine/core
-

[2021-12-12 07:28] rtivital commented on #509
Hi @just-be-weird, thanks for kind words! You are using `getRef` function incorrectly, here is a valid example – https://codesandbox.io/s/polished-snowflake-zzgvq?file=/pages/index.js

[2021-12-12 07:39] just-be-weird commented on #509
Yes indeed that was the root cause!

[2021-12-12 07:39] #509 closed

[2021-12-13 08:33] ruessej opened #512 "[Feature Request] TransferList add Grouping items"
Add group to the TransferList like Select, MultiSelect ...

[2021-12-13 09:13] Ultra-Instinct-05 commented on #508
@rtivital I believe I can work on this. I assume by `radius` prop, this would change the radius of the `TransferListBody` ?

[2021-12-13 09:17] rtivital commented on #508
Yes, please make sure that items are not overflowing during hover

[2021-12-13 10:54] Ultra-Instinct-05 commented on #508
So I was able to make the `radius` prop work a bit, but for the `ActionIcon`, I am a bit lost on how to proceed for that. Both the right & left transfer component make use of a single `ActionIcon`. The `ActionIcon` takes a `radius` prop but how do I split that out into a `borderTopLeftRadius` & a `borderTopRightRadius` ?

Was able to make it for the search because the right & left make use of diff

[2021-12-13 10:56] rtivital commented on #508
You can use styles to Add specific border radius to ActionIcon

[2021-12-13 12:08] Ultra-Instinct-05 commented on #508
Yes, but then the `ActionIcon` would need to take 2 kinds of radii props, one for 3 corners and one to respect the `radius` of `TransferList`. Is that fine (at least, that's the only solution I can think of) ? Or maybe there is an "elegant" solution I am missing.

[2021-12-13 12:44] Ultra-Instinct-05 commented on #512
Can you elaborate more on what do you mean by "group" ? Are you perhaps referring to a "select all" kind of checkbox ?

[2021-12-13 14:42] ruessej commented on #512
I mean to visual group them like Select (https://mantine.dev/core/select/#grouping-items)

![image](https://user-images.githubusercontent.com/85690286/145832564-1f2a5a06-fff0-4cd2-8d72-ffbc430d96ba.png)

[2021-12-13 15:41] amithkk commented on #397
When multiple sections are involved, is this the expected look for the progressbar? (See Below)

![image](https://user-images.githubusercontent.com/1029727/145842260-7efc6e63-c18c-4cc5-bdb3-025d390abfef.png)

[2021-12-13 17:03] rtivital commented on #397
@amithkk the first one

[2021-12-13 20:28] rtivital commented on #507
Fixed in 3.4.0

[2021-12-13 20:28] #507 closed

[2021-12-13 20:29] rtivital commented on #498
Fixed in 3.4.0

[2021-12-13 20:29] rtivital commented on #491
Released in 3.4.0

[2021-12-13 20:29] #491 closed

[2021-12-13 20:41] jerebtw opened #514 "[Calendar] Custom styles demo - Next month button doesn't work"
- What package has an issue (@mantine/core, mantine/hooks or other)? @mantine/dates
- What package version are you using? 3.4.0
- In which browser and operating system issue occurred? Windows 11 Brave@96.0.4664.93
- If possible please attach link to codesandbox with reproduced issue: https://mantine.dev/dates/calendar/#customize-with-styles-api
- Do you have an idea how to fix the issue? Yes remov

[2021-12-14 07:06] rtivital commented on #514
Fixed

[2021-12-14 07:06] #514 closed

[2021-12-14 16:06] ruessej opened #516 "Numberinput doesn't trigger a onChange"
I am not sure if this is really a problem.

If you have precision on for example 2 and you write a number like 0.0012 and then blur the input field the value of the state is still 0.0012 but the UI shows 0.00

- What package has an issue (@mantine/core, mantine/hooks or other)? @mantine/core
- What package version are you using? 3.4.0
- In which browser and operating system issue occurred? Windows

[2021-12-14 16:10] amithkk commented on #397
In that case I think I'll pick this up since I need it for a personal project I'm working on anyway.

[2021-12-14 16:29] rtivital commented on #397
Okay, thanks!

[2021-12-14 16:40] rtivital commented on #516
Thanks for reporting, I'll try to fix it, but you (or anyone else) are welcome to contribute this feature if “Help wanted” label is still on the issue

[2021-12-14 20:22] rtivital commented on #397
PR is merged, feature will be available with next minor release 3.5

[2021-12-15 00:18] jerebtw opened #519 "[use-os] Is on Linux always undetermined"
- What package has an issue (@mantine/core, mantine/hooks or other)? @mantine/hooks
- What package version are you using? 3.4.0
- In which browser and operating system issue occurred? Ubuntu Firefox@94.0
- Do you have an idea how to fix the issue? Yes i will create a PR

[2021-12-15 12:53] ruessej opened #521 "[NumberInput] Support of different decimal separators"
- Usage example, including component/hook API: use , instead of a . as decimal separator
- Possible implementation – describe how feature can be implemented: You could specify an object with the separator or an enum where you have fixed formats
- Do you want to contribute this feature and create a pull request? I will try it

[2021-12-15 15:30] rtivital commented on #521
What prop will it be to override separator, I do not understand how we can use an object, all I can think of is a string:
[code]

[2021-12-15 15:45] ruessej commented on #521
Yes you right i though of the thousands separator too

[code]

but when i think now about it we dont need that separator or?

[2021-12-15 15:57] neotericmatrix opened #525 "[Feature Request] NumberInput holding increment/decrement"
### Usage example, including component/hook API

I would like to see the NumberInput component be able to handle holding down on the increment or decrement keys to exponentially speed up the number change. Is this something that might be possible?

### Possible implementation – describe how the feature can be implemented

_No response_

### Do you want to contribute this feature and create a pull

[2021-12-15 15:59] rtivital commented on #521
It seems like a hard thing to do, but feel free to try with your proposed api

[2021-12-15 20:18] jerebtw commented on #521
@rtivital is it a problem when all . are replaced with the custom separator?

[2021-12-16 03:22] LucasLemanowicz commented on #521
I suggest looking into the built-in JS `Intl.NumberFormat` API: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat

Would provide good extendability beyond just that one specific use case and let you do more with less code.

[2021-12-16 07:36] ruessej commented on #521
Okay i will look in to it later

[2021-12-16 10:05] ruessej opened #528 "[Feature Request] Radius on Alert props"
### Usage example, including component/hook API

Same as #491

### Possible implementation – describe how the feature can be implemented

_No response_

### Do you want to contribute this feature and create a pull request

Yes

[2021-12-16 11:08] rtivital commented on #519
Fixed in 3.4.1

[2021-12-16 11:08] #519 closed

[2021-12-16 11:08] rtivital commented on #516
Fixed in 3.4.1

[2021-12-16 11:08] #516 closed

[2021-12-17 07:10] ruessej commented on #521
The simplest solution would be to let the user create their own parse and format function.
But I don't know if this is too much for this simple API.

[2021-12-17 09:28] Foohx opened #532 "@mantine/dates setting fixOnBlur to DatePicker has no effect on onChange calls"
### What package has an issue

@mantine/dates

### Describe the bug

When the `fixOnBlur` prop is set to `false` on `DatePicker` component. The `onChange` method is still called when the field is unfocused.

This can produce random outcomes on complex dynamic forms. In NextJs project, the `onChange` method is called multiple times causing a lot of bugs.

### In which browser did the problem occur

[2021-12-17 09:52] ruessej opened #533 "use-form: errorMessages accept function"
### Usage example, including component/hook API

This is important when you want to show different errors.

For example, you want to check that the selected element of a Select is not undefined and item.active is true and want to show different error messages

### Possible implementation – describe how the feature can be implemented

_No response_

### Do you want to contribute this feature and cr

[2021-12-17 10:54] MartinMuzatko commented on #533
Related Discord discussion: https://discord.com/channels/854810300876062770/854810300876062773/921316151303225394

Would it be possible to provide functions for use-forms errorMessages? I want to display different information based on error. With e.g. zod I can get specific validation errors I would love to display.
You could provide better/specific context information this way
Instead of generic

[2021-12-17 11:37] Foohx commented on #532
After some tests, it seems that forcing `value` prop to be `null` (example below) corrects the problem with `fixOnBlur`.

The temporary solution :
[code]

In `DatePickerProps` interface of DatePicker component, the `value` property is typed as `Date | undefined`. Maybe adding null might be a good thing.

[code]

[2021-12-17 11:51] ruessej commented on #533
What if we add a new property to the options where you combine errors and validation? And let this return boolean or a string.

And in a later version we can remove validationRules and errorMessages as a Breaking Change

[code]

[2021-12-19 23:35] jerebtw opened #542 "TransferList has an additional scroll bar on large data sets"
### What package has an issue

@mantine/core

### Describe the bug

If you scroll to the end of a large data set a second scroll bar appears. (see the image)

![image](https://user-images.githubusercontent.com/49494752/146694875-f921815e-c677-4eab-bc26-5c7e2f0c212c.png)

### In which browser did the problem occur

Brave

### If possible, please include a link to a codesandbox with the reproduced p

[2021-12-20 08:45] rtivital commented on #542
Fixed in 3.4.3

[2021-12-20 08:45] #542 closed

[2021-12-20 08:45] rtivital commented on #532
Fixed in 3.4.3

[2021-12-20 08:45] #532 closed

[2021-12-20 11:35] axhl opened #544 "[Feature Request] Prop to disable transfer all on TransferList"
### Usage example, including component/hook API

There are instances where "transfer all" makes for bad UX as any form of "undo" then resets also individual transfers that have been made prior to the "transfer all."  This is particularly an issue where transfer all is accidental. Allowing each of the below actions to be individually disabled would increase utility of the Transferlist component.

<

[2021-12-20 20:15] jerebtw opened #547 "[Feature Request] [@mantine/dates] Week select"
### Usage example, including component/hook API

Add a week select

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/week

### Possible implementation – describe how the feature can be implemented

_No response_

### Do you want to contribute this feature and create a pull request

_No response_

[2021-12-20 20:36] rtivital commented on #547
Well, I guess we can also add MonthPicker, YearPicker and QuarterPicker components as well including range variants. Just curious for what are you using week select?

[2021-12-20 20:57] jerebtw commented on #547
For a timetable app

[2021-12-21 13:37] jerebtw opened #551 "[Feature Request] NumberInput custom parse/format function"
### Usage example, including component/hook API

I think it would be good to give the developer the possibility to create his own parse/format functions

### Possible implementation – describe how the feature can be implemented

Add a parseNum and formatNum prop to the NumberInput

### Do you want to contribute this feature and create a pull request

Yes

[2021-12-21 14:12] jerebtw commented on #551
This would only work onBlur @rtivital

[2021-12-21 14:18] rtivital commented on #551
Well, I guess this will make your decimal separator feature obsolete, so feel free to work on it

[2021-12-21 16:32] rtivital commented on #551
As I was thinking about it, I doubt that this will be a great idea to format numbers in NumberInput. I would prefer to add this feature via separate MaskInput component to not overload the NumberInput.

[2021-12-21 16:35] jerebtw commented on #551
Yes, I think this is best because it would we really complex to add this function to NumberInput

[2021-12-21 16:35] #551 closed

[2021-12-22 01:38] LucasLemanowicz opened #555 "[Feature Request] Stepper should have prop to prevent clicking beyond last reached step."
### Usage example, including component/hook API

For certain workflows you'd want your customers to be able to navigate freely throughout the steps they've already accessed, but not further ahead. It would be nice to have that configurable via a prop:

[code]

In the example above, if the customer reached the First Form Page, they would be able to click to jump between the Welcome Instructions ste

[2021-12-22 05:00] jerebtw opened #559 "[Feature Request] Notification: Add radius"
### Usage example, including component/hook API

_No response_

### Possible implementation – describe how the feature can be implemented

_No response_

### Do you want to contribute this feature and create a pull request

Yes

[2021-12-22 05:00] jerebtw commented on #559
That's my only problem with the radius:

![image](https://user-images.githubusercontent.com/49494752/147038175-c4d2bb35-6ddd-4355-b76e-222a2eda267a.png)

[2021-12-22 05:14] jerebtw opened #560 "[Feature Request] Tooltip: Add radius"
### Usage example, including component/hook API

_No response_

### Possible implementation – describe how the feature can be implemented

_No response_

### Do you want to contribute this feature and create a pull request

Yes

[2021-12-22 05:15] jerebtw commented on #560
That's my only problem with the radius:

![image](https://user-images.githubusercontent.com/49494752/147039406-107d39cc-8996-4be7-a423-bed3863fb0af.png)

[2021-12-22 08:23] rtivital commented on #560
I cannot think of a good way to enable arrow for round tooltip, maybe you should set placement to center

[2021-12-22 08:31] jerebtw commented on #560
Yes this only happens when you put the placement to the beginning or ending

[2021-12-22 16:42] jerebtw opened #562 "[@mantine/core] NumberInput: Jest error"
### What package has an issue

@mantine/core

### Describe the bug

I get a error when running jest (On dev branch)

[code]

### In which browser did the problem occur

Jest

### If possible, please include a link to a codesandbox with the reproduced problem

_No response_

### Do you know how to fix the issue

_No response_

### Are you willing to participate in fixing this issue and create a pul